body {
  /*padding-top: 20px; 60-70 px */
  padding-bottom: 30px;
  background-color:#EFEFEF;
}

body,input,table {
  /*font-family: 'Inconsolata', monospace;*/
  /* font-family: 'Exo', sans-serif;*/
  font-family: 'Lato', sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	margin: 0;
    line-height:110%;
    font-family: 'Lato', sans-serif;
    /*font-family: 'Exo', sans-serif;*/
    /*font-family: 'Inconsolata', monospace;*/
}
h4{
	margin-top: 0;
    font-size: 0.9em;
    color:#31d2f7;
}

.shrink{ font-size:0.8em !important; }
.sp{ width: 1px; display: inline-block; }
a { color:#31d2f7; /* #63d297 */ }
a:hover { text-decoration: underline; text-decoration-style: dotted; }
.edit_link { display: inline-block; }
.boldi {margin: 45px 130px 45px 100px !important; }
.modal-body{background-color:#EFEFEF;}

/* Global Font Sizes Per Screen Size */
body { font-size:22px; }
.form-control { font-size:22px; }
h1{ font-size:40px; }
h2{ font-size:30px; }
h3{ font-size:24px; color:#000; }
.featurelist>div>div { font-size:64px; }
.featurelist b { font-size:26px; }
.featurelist p { font-size:18px; }
.main-header .nav a { font-size:28px !important; }
.headercont>a { font-size:64px; }
.topline{ margin-top:5px; min-height:85px; }
.guestheader{ height:30px; }
.node_h1 textarea 					{ background-color:#FFF; border: 0; width:100%; padding:0; margin:0; line-height:110%; overflow:hidden; }
.list-group-item .badge { margin-top:1px; float:right; background-color:#31d2f7; }
.grey-bg { background-color:#CCC !important; }
.grey{ color:#CCC !important; font-size:0.7em; }
.pink-bg { background-color:#f731d2 !important; }
.pink-bg-light { background-color:#fca7eb !important; }
.pink{ color:#f731d2 !important; font-size:0.9em; }
.blue-bg { background-color:#31d2f7 !important; }
.blue-bg-light { background-color:#86e8ff !important; }
.blue{ color:#31d2f7 !important; font-size:0.9em; }
.black{ color:#000 !important; font-size:0.9em; }
.is_top{ display:block !important;  }
.is_top .node_stats { margin-left:20px; }
.link-details.is_top{ padding-left:5px !important;  }
.clean-name{ font-size:0.8em; font-weight:normal; color:#AAA; }
.hastt,.hastt a { cursor:help !important; }
.suggest-prefix{ width:72px; }
.nav-pills li a{ font-size:0.9em; }
.nav-pills {margin-bottom:10px;}
#main_container{ background-color: #ffffff; margin-top:0; padding-top:15px; padding-bottom:0; }
.list-group-item-heading>a { 
	display:block; 
	color:#555; 
	text-decoration:none; 
	margin-top: -5px;
}
.list-group-item-heading>.parentLink {
	padding:5px 2px 7px !important;
}
.expA{
	padding: 0 !important;
	margin: 0 !important;
	height: 0;
	line-height: 10%;
}

.glyphicon-triangle-bottom { font-size: 0.9em; margin-right: 5px; }
.glyphicon-triangle-right { font-size: 0.9em; margin-right: 5px; }
.glyphicon-bookmark { font-size: 0.8em; margin-right:6px; }
#myGravatar { margin-top:-23px; margin-right:-14px; }
#myGravatar img { width:60px; height:60px; }
.mini-image { border-radius: 50%; width: 22px; height: 22px; margin-top: -4px; }

.dropdown-menu .textcomplete-item a,
.dropdown-menu .textcomplete-item a:hover { font-size:0.8em; padding:3px 10px; }

.list-group-item {
    background-color: #fff;
    line-height: 110%;
    border:0;
    border-top:1px solid #efefef;
}
.lgmain>.list-group-item{padding-bottom:3px;}

#addnode { padding: 6px 12px 6px 36px !important; }
.list_input{ padding: 5px 0 7px !important; }

@media (max-width: 768px){
	/* Global Font Sizes Per Screen Size */
	body { font-size:18px; }
	.form-control { font-size:18px; }
	h1{ font-size:30px; }
	h2{ font-size:22px; }
	.main-header .nav a { font-size:22px !important; }
	.headercont>a { font-size:48px; }
	.topline{ margin-top:1px; min-height: 65px; }
	.guestheader{ height:20px; }
	.boldi {margin: 30px 15px 30px 15px !important; }

	.list-group-item>.badge { margin-top:0; }
	.suggest-prefix{ width:58px; }
	.nav-pills li a{ font-size:0.7em; }
	.nav-pills {margin-bottom:5px; margin-left:-10px; margin-right:-10px; }
	#main_container{ padding-top:7px; }
	.list-group-item  { padding: 3px 3px; }
	#addnode{ padding-left: 2px; padding:0px 3px 0px 15px !important; }
	
	.glyphicon-triangle-bottom { font-size: 0.8em; margin-right:1px; }
	.glyphicon-triangle-right { font-size: 0.8em; margin-right:1px; }
	.glyphicon-bookmark { font-size: 0.8em; margin-right:4px; }
	#myGravatar { margin-top:-17px; margin-right:-17px; }
	#myGravatar img { width:45px; height:45px; }
	.mini-image { width: 20px; height: 20px; margin-top: -4px; }
	
	.list-group-item { padding-top: 5px; padding-bottom:7px; }
	.list_input{ padding: 0px 0 2px !important; }
	
	.dropdown-menu .textcomplete-item a,
	.dropdown-menu .textcomplete-item a:hover { font-size:0.6em; padding:2px 6px; }
}

.boldbadge{
	padding: 6px 8px;
    border-radius: 5px;
    margin-top: 4px !important;
    display:inline-block;
}


#myGravatar:hover {
	text-decoration:none;
	background-color:transparent;
}
#myGravatar img {
	border-radius: 50%;
}

.zoom-out { cursor:zoom-out !important; }
.zoom-in { cursor:zoom-in !important; }
.light{ opacity: 0.75; }
.super-light{ opacity: 0.33; }
.node_h1 { margin-top:0 !important; margin-bottom:0 !important; }
.parentTopLink { cursor:default; padding:5px 2px 0 !important; }
.plain_badge{ margin-top:-5px; }
#delete_confirm{ padding-top:7px; font-size:0.7em !important; color:#999; }
#delete_confirm a{ color:#f67272; }
#delete_confirm ul{ list-style:numeric; color:#333; }
.edit_warning{ font-size:0.7em; color:#777; }


#editparent{
	background-color: #FFF;
    border: 0;
    margin-bottom: 5px;
    color: #000;
    margin-left: 0px;
    max-width: 300px;
    display:inline-block;
}
.link-details { padding-left: 25px; }
.list-group { margin-left: -15px; margin-right: -15px; margin-bottom: 0; }
.list-group-item-text { margin-top: 6px; line-height:110%; margin-bottom:4px; min-height:10px; }
.list-group-item-text>div>span { font-size:0.7em; padding-right:5px; margin-right:5px; display:inline-block; }
.list-group-item-text>div>span>a,.list-group-item-text>div>span { color:#999; }
.list-group-item-text>div>span>a:hover { color:#666; }
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-item-heading { margin-bottom:0; }
.list-group-item-heading>a:hover { text-decoration:none; }
.list-group-item:hover { background-color:#F9F9F9; text-decoration:none; }
.list_input:hover { background-color:transparent; }
.sortconf{ margin:0; padding:0 5px 0 0; font-size:0.9em; }
.saving { color:#999; }
.danger { color:#fe3c3c; }
.success { color:#555; }
.glyphicon-minus-sign { padding-right:2px; }
.suggest-prefix{ color:#999; font-size:0.7em; display:inline-block; }
.glyphicon-arrow-down, .glyphicon-arrow-up, .glyphicon-arrow-right, .glyphicon-arrow-left { font-size:0.8em; padding-right:2px; }
.nav-pills>li>a, .nav-pills>li>a>span { color:#333; }
.nav-pills>.disabled>a>span { color:#CCC; }
.nav-pills>li.active>a,.nav-pills>li.active>a>span, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover { background-color:#333; color:#FFF; }
.nav-pills>li.li_setting>a,.nav-pills>li.li_setting>a:hover,.nav-pills>li.li_setting span { color:#FFF !important; border-radius:4px; cursor:default; }
.nav-pills>li.logout>a,.nav-pills>li.logout>a:hover,.nav-pills>li.logout span { color:#333 !important; background-color:#FFF !important; border-radius:4px; cursor:pointer; }
.followupContent { margin-top:10px; }
.nav-pills li a{ padding:3px 4px; }
.glyphicon-sort { padding-left:5px; padding-right:5px; }
.rotate45{
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.view_start{display:none;}
.tooltip-inner {
    white-space:pre-wrap;
    text-align:left;
    min-width:115px;
}
.grey.pull-right{
		padding-right:4px;
	}
.setdeleteparent{
	background-color: #FFF;
    border: 0;
    width:150px !important;
    padding: 0 0 0 2px;
    margin: 0 0 0 3px;
    line-height: 110%;
    color: #777;
    height: 20px;
    display:inline !important;
}

.codefont{
	font-size:0.7em;
	font-family:monospace;
}
.fullwidthcontnet {
    display:block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

em{
	font-style:normal;
	text-decoration:underline;
	text-decoration-style: dotted;
	cursor:help;
}
.edit_mode{
	background-color: #fcffcf;
}
.show_child .hover>div, .show_child_edit .hover>div{
	display:block !important;
}
.show_child_edit {
	background-color: rgba(49, 210, 247, 0.22) !important;
}
.meta_data{
	font-size:0.7em;
	color:#AAA;
}


.node_stats .btn-group button, .node_stats .btn-group button:hover, .node_stats .btn-group button:active { 
	padding: 3px 7px 0px 5px;
	border: 0;
	color:#999;
}

.outsider .btn-group {
	display:inline-block !important;
}
.outsider .btn-group button {
	background-color:transparent;
	border:0;
	color:#AAA;
	font-size:1em;
	margin-top:-2px;
}


.node_stats .dropdown-menu {
	    padding: 1px 0;
}

.node_stats .dropdown-menu li {
	    padding:0;
}

.node_stats .dropdown-menu li a {
	    font-size:0.7em;
	    padding: 4px 10px;
}

.edit-cog{margin-right:2px; font-size:1em; color: #555;}
.action_buttons {
	display:inline-block;
	height:24px;
	overflow:visible;
	line-height:100%;
	margin:0;
	padding:0;
	margin-top: 3px;
    margin-left: 15px;
}

.action_buttons span {
	margin-left:5px;
	font-size:0.8em;
}

.action_buttons .a_save{
	background-color: #31d2f7 !important;
	color: #FFF !important;
	margin:-3px 7px 0 9px;
}
.action_buttons .a_save:hover{
	background-color: #7adda8 !important;
}
.action_buttons .a_cancel{
	font-size:0.8em;
	color: #aeaeae !important;
	margin:0;
}
.action_buttons .a_cancel:hover{
	color: #c3c3c3 !important;
}
.action_buttons .a_delete{
	font-size:0.8em;
	color: #fe3c3c !important;
	margin:0 7px 0 9px;
}
.action_buttons .a_delete:hover{
	color: #f67272 !important;
}

.btn {
    padding: 6px 10px;
}

.btn-primary{
    background-color: #31d2f7;
    color: #FFFFFF !important;
    font-weight:bold;
}
.btn-group-sm>.btn, .btn-sm {
    padding:1px 6px;
}



.list_input .form-control{ border:0; border-radius:0; box-shadow:none; -webkit-box-shadow:none; -webkit-transition:none; transition:none; }

.link_count{
	font-size:0.7em;
	color:#AAA;
	margin-left:0px;
}

footer{ text-align:center; }

.featurelist .col-sm-4, .featurelist .col-sm-6{
	margin:30px 0 0 0 !important;
	display:block;
	text-align:center;
}

/* CSS3 */

/* The whole thing */
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

.nav>li.disabled>a {
    color: #CCC;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
}

.custom-menu li:hover {
    background-color: #DEF;
}





.container {
	margin-top:5px;
	border-radius:4px;
}

.headercont {
	display:inline-block;
	text-align:left;
	margin:0;
	padding:0;
}
.headercont>a {
	color:#333;
	margin:0;
	padding:0;
	font-family: 'Exo', sans-serif;
	font-weight: 800;
	text-decoration:none;
}
.headercont>a:hover {
	color:#AAA;
	text-decoration:none;
}

.outsider {
	margin-top:5px;
	padding-left:5px;
	padding-right:5px;
	font-size:16px;
	color:#AAA;
	min-height:30px;
}

.outsider div{
	margin:0;
}
.outsider a{
	color:#AAA;
}
.outsider span{
	display:inline-block;
}

.editable-error-block{
	color:#FF0000 !important;
	font-weight:normal !important;
	max-width:100% !important;
}
.center{
	text-align:center;
}
.help-block{
	font-size:16px;
}

.editable-inline, .editable-input textarea, .editable-input, .editableform>.form-group {
	display:block !important;
	width:100% !important;
}
.loading-node, .loading-node:hover{
	padding-bottom:10px !important;
	background-color:#f7f8a5;
	cursor:progress;
}

.form-group .radio { 
	margin-left:30px;
	font-size: 0.9em;
}
.editable-input textarea{
	height:90px;
	font-size:20px;
	padding:0;
	border:0;
	border-radius:0;
	border-style: none; 
    border-color: Transparent; 
    overflow: auto;        
}

.modOnly{
	display:none;
}

.inputtext{
	border-top: 1px dotted #CCC;
    margin-top: 10px;
    padding-top: 5px;
}

.dropdown-menu{
	min-width:50px;
	font-size:20px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}


.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.editable-buttons{
	margin:8px 0;
}
.editable-click, a.editable-click, a.editable-click:hover {
    text-decoration: none;
    border-bottom: none !important;
    cursor:pointer;
    
}



/* Text Autocomplete */
.dropdown-menu {
	z-index:9999 !important;
}
.dropdown-menu .textcomplete-item a,
.dropdown-menu .textcomplete-item a:hover {
  cursor: pointer;
  font-weight: normal;
  color:#555;
  position: relative;
  max-width:260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-menu .textcomplete-item.active a {
  color:#000;
  font-weight:bold;
  background:#EFEFEF;
}
/* Highlighting of the matching part 
   of each search result */
.dropdown-menu .textcomplete-item a em {
  font-style: normal;
  font-weight: bold;
}

.algolia-autocomplete .aa-dropdown-menu li a {
	font-size:0.7em !important;
}





.editable{
display:block;
}
.input-sm{
	font-size:16px;
}

.navbar{
	padding-top:12px;
	background-color:#FFFFFF;
	background-image:none;
	border:0;
	opacity: 0.97;
}

.navbar a {
	color:#FF0000 !important;
}


.hashtagGroup{
	display:block;
}
.hashtagLink{
	margin-right:10px;
}
.hashtagNewForm{
	display:inline-block;
	width:100%;
}



.icon-bar{
	background-color:#000 !important;
}
.navbar-toggle:hover .icon-bar{
	background-color:#FFF !important;
}
.navbar-collapse.in{
	border-bottom:1px solid #000;
}

@media (min-width: 768px){
.container {
    width: 750px !important;
}
}

.searchresults{
	display:none;
	margin-top:50px;
	text-align:center;
}
.searchresults span{
	font-size:42px;
	color:#333;
}
.search-block>.input-group{
	display: block;
}

.search-block{
	margin:20px 2px 0 0;
	display:inline-block;
	width:160px; /* This is hard coded in main.js for search resizing */
	margin-left:25px;
}


#mainsearch {
	border:0;
	background-color: transparent;
	border-radius:0;
	box-shadow:none;
	font-size:20px;
	padding-left: 0;
	border-bottom:1px solid #BBB;
}
.search-type{
	padding:0;
	border: 0;
	border-radius:0;
	border-bottom:1px solid #BBB;
}
.search-type button{
	padding:4px 8px;
	background-color: transparent;
}
.search-type b{
	padding-right:2px;
}
.navbar-nav{
	margin-left:0px;
}
.main-header .nav a {
	text-shadow:none !important;
	color:#000 !important;
	padding:7px 12px !important;
}


/*
.active a {
	background-color:#000000 !important;
	background-image:none !important;
	box-shadow:none !important;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	color:#FFFFFF !important;
}
*/

.navbar-brand {
    padding:0 15px;
    line-height:100%;
}

.ai-logo {
	color:#AAA;
	font-size: 20px;
    padding-left: 4px;
}
.navbar-brand>img {
    display: inline-block;
}
.jumbotron{
	padding:15px 30px !important;
}

.edit_text_area{
	background-color:#FFF8C6;
	background-image:url('/img/editing_mode.png');
	margin-bottom:10px;
}

h1 .edit_text_area{
	font-size: 36px !important;
	line-height: 110%;
}

.nav, .nav:hover, .nav a, .nav a:hover {
	border:0 !important;
	font-weight:bold;
}



/* Search CSS */
.add_node{
	display:block;
	color:#000;
}
.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #CCC;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #EFEFEF;
  border-top: none;
  font-size:0.9em;
}
.add_node, .algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 3px 4px;
  border-top: 1px solid #efefef;
}
.add_node:hover, .algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #31d2f7;
  color: #FFF;
  text-decoration:none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}