body {
  /*padding-top: 20px; 60-70 px */
  padding-bottom: 30px;
  background-color:#EFEFEF;
}

body,input,table {
  /*font-family: 'Inconsolata', monospace;*/
  /* font-family: 'Exo', sans-serif;*/
  font-family: 'Lato', sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	margin: 0;
    line-height:100%;
    font-family: 'Lato', sans-serif;
    /*font-family: 'Exo', sans-serif;*/
    /*font-family: 'Inconsolata', monospace;*/
}

.boldi {margin: 45px 130px 45px 100px; }
/* Global Font Sizes Per Screen Size */
body{ font-size:22px; }
h1{ font-size:40px; }
h2{ font-size:30px; }
.featurelist>div>div { font-size:64px; }
.featurelist b { font-size:26px; }
.featurelist p { font-size:18px; }
.nav a { font-size:28px !important; }
.headercont>a { font-size:64px; }
.topline{ margin-top:5px; min-height:85px; }
.guestheader{ height:30px; }

@media (max-width: 768px){
	/* Global Font Sizes Per Screen Size */
	body { font-size:18px; }
	h1{ font-size:30px; }
	h2{ font-size:22px; }
	.nav a { font-size:22px !important; }
	.headercont>a { font-size:48px; }
	.topline{ margin-top:1px; min-height: 65px; }
	.guestheader{ height:20px; }
	.boldi {margin: 30px 15px 30px 15px; }
	
	#main_container{
		background-color: #ffffff;
		margin:0;
		border-radius:0;
	}
}

em{
	font-style:normal;
	text-decoration:underline;
	text-decoration-style: dotted;
	cursor:help;
}
.node_details {
	padding:0;
	margin:0;
	line-height:120%;
}
.node_details .handler{
	margin:0;
	padding:0;
	line-height:100%;
}
.meta_data{
	font-size:0.7em;
	color:#AAA;
}
.node_details .handler a{
	font-size:0.7em;
	color:#AAA;
}

.node_details .value{
	font-size:1.1em;
	margin:0;
	padding:0;
	font-weight:normal;
}
.node_details .hover{
	min-height:26px;
	display:block;
}
.node_details .hover>div{
	font-family: 'Lato', sans-serif;
	margin:0;
	padding:0;
	font-size:12px;
	font-weight:normal;
	color:#AAA;
	display:none;
}
.show_child .hover>div{
	display:block !important;
}
.node_details .hover>div>span{
	display:inline-block;
	padding-left:8px;
	
}

.link_count{
	font-size:12px;
	color:#AAA;
	margin-left:0px;
}
.sp{
	width: 1px;
    display: inline-block;
}


h4{
	margin-top: 0;
    font-size: 14px;
    color: #AAA;
}

a { color:#63d297; }
footer{ text-align:center; }

.list-group-item {
    position: relative;
    background-color: #fff;
    /*border:0;*/
}

.featurelist .col-sm-4{
	margin:30px 0 0 0 !important;
	display:block;
	text-align:center;
}


.list-group-item>.badge {
    margin-top: 5px;
}
/* CSS3 */

/* The whole thing */
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
}

.custom-menu li:hover {
    background-color: #DEF;
}




#main_container{
	background-color: #ffffff;
	margin-top:0;
	padding-top:10px;
	padding-bottom:10px;
}
.container {
	margin-top:5px;
	border-radius:4px;
}

.headercont {
	display:inline-block;
	text-align:left;
	margin:0;
	padding:0;
}
.headercont>a {
	color:#333;
	margin:0;
	padding:0;
	font-family: 'Exo', sans-serif;
	font-weight: 800;
	text-decoration:none;
}
.headercont>a:hover {
	color:#AAA;
	text-decoration:none;
}
.btn {
    padding: 6px 10px;
}
.outsider {
	margin-top:5px;
	padding-left:5px;
	padding-right:5px;
	font-size:16px;
	color:#AAA;
	min-height:30px;
}

.outsider p{
	margin:0;
}
.outsider a{
	font-weight:bold;
	color:#AAA;
}
.outsider span{
	display:inline-block;
}

.editable-error-block{
	color:#FF0000 !important;
	font-weight:normal !important;
	max-width:100% !important;
}
.center{
	text-align:center;
}
.help-block{
	font-size:16px;
}

.editable-inline, .editable-input textarea, .editable-input, .editableform>.form-group {
	display:block !important;
	width:100% !important;
}
.editable-input textarea{
	height:90px;
	font-size:20px;
	padding:0;
	border:0;
	border-radius:0;
	border-style: none; 
    border-color: Transparent; 
    overflow: auto;        
}

.modOnly{
	display:none;
}

.inputtext{
	border-top: 1px dotted #CCC;
    margin-top: 10px;
    padding-top: 5px;
}

.dropdown-menu{
	min-width:50px;
	font-size:20px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}


.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.editable-buttons{
	margin:8px 0;
}
.editable-click, a.editable-click, a.editable-click:hover {
    text-decoration: none;
    border-bottom: none !important;
    cursor:pointer;
    
}

.editable{
display:block;
}
.input-sm{
	font-size:16px;
}

.navbar{
	padding-top:12px;
	background-color:#FFFFFF;
	background-image:none;
	border:0;
	opacity: 0.97;
}

.navbar a {
	color:#FF0000 !important;
}


.hashtagGroup{
	display:block;
}
.hashtagLink{
	margin-right:10px;
}
.hashtagNewForm{
	display:inline-block;
	width:100%;
}



.icon-bar{
	background-color:#000 !important;
}
.navbar-toggle:hover .icon-bar{
	background-color:#FFF !important;
}
.navbar-collapse.in{
	border-bottom:1px solid #000;
}

@media (min-width: 768px){
.container {
    width: 750px !important;
}
}

.searchresults{
	display:none;
	margin-top:50px;
	text-align:center;
}
.searchresults span{
	font-size:42px;
	color:#333;
}
.search-block>.input-group{
	display: block;
}

.search-block{
	margin:20px 2px 0 0;
	display:inline-block;
	width:160px; /* This is hard coded in main.js for search resizing */
	margin-left:25px;
}


#mainsearch {
	border:0;
	background-color: transparent;
	border-radius:0;
	box-shadow:none;
	font-size:20px;
	padding-left: 0;
	border-bottom:1px solid #BBB;
}
.search-type{
	padding:0;
	border: 0;
	border-radius:0;
	border-bottom:1px solid #BBB;
}
.search-type button{
	padding:4px 8px;
	background-color: transparent;
}
.search-type b{
	padding-right:2px;
}
.navbar-nav{
	margin-left:0px;
}
.nav a {
	text-shadow:none !important;
	color:#000 !important;
	padding:7px 12px !important;
}


/*
.active a {
	background-color:#000000 !important;
	background-image:none !important;
	box-shadow:none !important;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	color:#FFFFFF !important;
}
*/

.navbar-brand {
    padding:0 15px;
    line-height:100%;
}

.ai-logo {
	color:#AAA;
	font-size: 20px;
    padding-left: 4px;
}
.navbar-brand>img {
    display: inline-block;
}
.jumbotron{
	padding:15px 30px !important;
}

.edit_text_area{
	background-color:#FFF8C6;
	background-image:url('/img/editing_mode.png');
	margin-bottom:10px;
}

h1 .edit_text_area{
	font-size: 36px !important;
	line-height: 110%;
}

.nav, .nav:hover, .nav a, .nav a:hover {
	border:0 !important;
}


.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}