@CHARSET "ISO-8859-1";

#mainsidebar { margin-top:60px; padding-top:0; }
.main-panel { background-color:transparent; }
.dash { background-color:#FFF; border-radius:5px !important; margin-right:15px; margin-bottom:80px; padding-bottom: 5px !important; }
.container-fluid { padding-right:15px; padding-left:15px; }
.navbar-transparent {background-color:#E5E5E5;}
.navbar-absolute{ position:static; }
.navbar {margin-bottom:0; padding:0 !important; height:60px !important; }
.navbar-right { margin-right:0; margin-top:5px; }
.nav-open .sidebar{ box-shadow:none; }
.breadcrumb {
	margin:0; 
	color:#2f2639; 
	font-family:"Roboto Slab", "Times New Roman", serif; 
	font-size:1.8em;
	font-weight:normal;
	padding:15px 15px;
	background-color:transparent;
	border-radius:0;
	margin-bottom:10px;
	line-height: 130%;
}
.left-navi-title { 
	font-weight:bold;
	line-height: 120%;
}
.left-li-title{
	font-weight:bold;
	line-height: 120%;
	padding:10px 15px;
}
.main-panel .content { min-height:auto !important; }

.breadcrumb a { font-weight:bold; }

.scheduler-iframe {
    width: 100%;
    height: 1020px;
    border: 0;
    overflow: hidden;
}
}
.tab-space { padding-bottom:0px !important; }
.dir-sign {display:none !important;}
.navbar-brand span{
	display: inline-block;
    font-family: 'Titillium Web',sans-serif;
    font-size: 36px;
    color: #2f2639;
    text-transform: lowercase;
}
.nav li a { text-transform:uppercase; }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 0px solid #ddd;
}

.panel-title{
	font-size: 1.2em !important;
    font-weight: bold !important;
}

.landing-page .navbar-brand img {
	display:inline-block;
	margin-top:-12px;
}
.landing-page .dashboard-logo>span {
	padding-top:10px;
}
.landing-page .no-adj .dashboard-logo>span {
	padding-top:5px;
}



.product-splash .alert{ margin-top:30px; border-radius:3px; }
.product-splash .alert>span, #console .alert>span{ font-weight:bold;display:block; padding-bottom:7px; text-transform: uppercase; }

.dashboard-logo{
	width:80% !important;
	padding:11px 0 0 0 !important;
	text-align:left;
}
.dashboard-logo img{
	display: inline-block;
    width: 30px;
    margin:-2px 0 0 0 !important;
}
#console .dashboard-logo img{
    width:40px;
}
.dashboard-logo input {
    margin: 0 !important;
    background-color: #FFF;
    border-radius: 3px !important;
    width:80% !important;
    font-size: 18px !important;
    font-weight:normal;
    padding:4px 8px !important;
    color: #2f2639 !important;
    border: 0 !important;
    border-bottom: 0 solid #FFF !important;
}
.header-search::placeholder {
  color:#AAA !important;
}

.list-group-item { padding: 10px 10px; }
.fa-chain-broken { color:#c32626; margin-right:5px; font-size:0.8em; } 
.extra-info { font-size:0.9em; color:#AAA; padding-bottom:15px; }

.title-main { display:block; line-height:100%; padding-bottom:5px; font-size:1em; font-weight:bold; }
.title-sub { display:inline-block; color:#999; margin-right:5px; font-weight:normal; }
.title-sub i { width:auto; margin-right:2px; text-align:center; }

.c_objective { line-height:100%; }
.c_objective .title-main { display:block; padding:0 !important; font-size:0.45em; line-height:110% !important; }
.c_objective .title-sub { display:block; font-size:0.3em; color:#999; font-weight:normal; line-height:110% !important; padding:0 !important; margin:5px 0 !important; }
.c_objective .title-sub i { width:20px; text-align:center; }

.card-title .title-main { display:block; padding:0 !important; font-size:1.2em; line-height:110% !important; margin: 5px 0 10px; }
.card-title .title-sub { display:block; font-size:0.8em; font-family:Lato; color:#999; font-weight:normal; line-height:110% !important; padding:0 !important; margin:5px 0 10px !important; }
.card-title .title-sub i { width:20px; text-align:center; }

.price>h4>span{ font-size:0.6em; }
.yellow { color:rgba(254, 221, 22, 0.91) !important; }
.list-group-item .title-main { display:inline; }
.card-description img { width:28px; height:28px; margin-top:-2px; border-radius: 50%; }
.profile-pic { width:50px; height:50px; margin:0 0 0 15px; border-radius: 50%; border:1px solid #CCC; }
.userheader { line-height:110%; margin-bottom:15px; }
.userheader>span { display:block; font-size:0.8em; font-weight:normal; margin:-8px 0 0 59px; }
.userheader>img { width:48px; height:48px; margin:0px 5px -15px 0; border-radius: 50%; }
.submenu { padding:0 0 0 45px; }
.submenu a { padding-top:7px; padding-bottom:7px; }
.submenu p { font-size:0.9em !important;}
.legal-name img { width:20px; margin:-3px 2px 0 0; }
input { font-size:16px !important; }
.togglebutton { padding-left:15px; }
.input-mini { max-width:250px; }
.input-group-addon { font-size: 16px; font-weight: bold; }
.dropdown { padding:0; clear:both; diaplay:block; padding-bottom:20px; }
.dropdown>a { padding-left:10px; padding-right:10px; } 
.text-edit { min-height:80px; resize: both !important; }
.showdown { display:none; }
.showdown table th { padding:5px 10px; border:1px solid #ccc; background-color:#333; color:#FFF; }
.showdown table td { padding:5px 10px; border:1px solid #ccc; }
.showdown h3, .showdown h4, .showdown h5, .showdown h6 { margin:10px 0; }
.mini-label {display:block; margin-bottom:-3px;margin-top:10px;}
.underdot{ border-bottom: 1px dotted #BBB; cursor:help; }
body { font-size:18px; }
p a, td a { text-decoration:underline; }
.mono { font-family:monospace; background-color:#EFEFEF; padding:10px; line-height:180%; border-radius:3px; }
.panel-body img { max-width:100% !important; }
.list-group-item .inline-level { color:#AAA; font-size:0.9em; text-transform: uppercase; padding-right:5px; }
h5, .h5 {
    font-size: 0.9em;
    font-weight:bold;
    margin-bottom:5px;
}
.flag { width:22px; height:14px; border-radius:3px; border:1px solid #CCC; }
.social-input{
	padding: 0 !important;
    line-height: 100%;
    font-size: 18px !important;
    margin: 0 0 -2px 0 !important;
}
.ic-lrg, .public-profiles>a{
	color:#3C4858 !important;
	font-size:24px !important;
	margin-right:10px;
}
.public-profiles>a:hover{
	color:#fedd16 !important;
}
.subhead{
	margin:0;
	padding:0;
	list-style:none;
}
.subhead li{
	display:inline-block;
	margin-right:20px;
	color:#666;
}
.underl {
	text-decoration-line: underline;
    text-decoration-style: dotted;
}
.fa-info-circle{
	text-decoration-line:none !important;
}
#console h1 { font-size:2.8em; margin-bottom:15px; margin-top:15px; line-height:100%; }
.main-raised{
	max-width: 1150px;
	margin: -60px auto 0 !important;
}
.product-splash{margin-top:-450px !important;}
.main-plain{
    margin: 0px auto 0 !important;
    padding-top: 50px;
    border-top-left-radius:0;
    border-top-right-radius:0;
}
.dashboard .row {
	margin-bottom:10px;
}
.main-plain .container{ padding:30px; }
.landing-page .page-header { min-height: 100vh; }
.page-header .container { padding-top: 90px; padding-left:40px; }
.home-p{ max-width:630px; }
.landing-page .navbar-header { padding:0 0 0 0;}
.navbar .navbar-brand { padding:11px 10px 7px 27px; }
.body-container { width: 95%; }
#save_c_results{ margin-left:15px; }
.tooltip, .tooltip * {font-size:12px; margin:0; }
.container-fluid .alert { margin-top:10px; }


.typicalform {max-width:50%;}
.nav-pills:not(.nav-pills-icons) > li > a {
    font-weight: bold;
    font-size: 0.9em;
}
.nav-pills > li i {
    display: inline-block;
    font-size: 1em;
    padding:0;
}

.video-player { margin-top:35px; }
.title { clear:both; diaplay:block; }
.title p {
	font-size: 0.8em;
    font-weight: normal;
    color: #999;
    font-family: Lato;
    padding: 0;
    margin: 0;
}
.title h4 {
	margin-bottom:5px;
}

.yt-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.yt-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.msg-nav {list-style-type: none; margin: 0; padding:5px 0 0 0; }
.msg-nav li { margin-right:5px; display:inline-block; padding:0 5px 0 0; font-size:0.9em; color:#666; }
.msg-nav li.edit-on, #message-sorting textarea.edit-on { display:none; }
.msg-nav li a { color:#999; padding:3px 5px; border-radius:3px; }
.msg-nav li a:hover { background-color:#EFEFEF; }
.add-msg { width:80%; }
.msg-show { display:inline-block !important; }
.msg-hide { display:none; }

.msg-menu {padding:0 10px !important; display:inline-block;}
.msg-menu>button {border: 0; background-color: transparent;}
.msg-menu .dropdown-menu li { padding-top:3px; padding-bottom:3px; }
.original {display:none;}
.list-messages>div {
	border:0;
	margin:0;
	padding:0;
}
.list-messages>div>div {
	background-color:#e5e4e4;
	max-width:80%;
	min-width:280px;
	border-radius:3px;
	border-bottom-right-radius: 1.3em;
    border-top-right-radius: 1.3em;
	padding:5px 10px;
	font-size:16px;
	margin:0;
	margin-bottom:5px;
	display:inline-block;
}

.list-messages>div>div>textarea {
	width: 100%;
    border: 0;
    background: #FFF;
    min-height: 90px;
    line-height: 110%;
    padding: 5px;
    font-size: 16px;
    margin:10px 0 3px 0;
    border-radius:3px;
}


.pointer{
	width:8px;
}
.toggleview { 
	display:none;
	margin:0 0 15px 15px;
}

.has_office_hours { margin-left:17px; padding-left:8px; border-left:3px solid #ccc; }
.addon-lean{ font-weight:normal; font-size:1.0em; }
.save-td { width:120px; vertical-align: text-top; }
.link-view { font-size:0.7em; color:#d6ba14 !important; margin-left:5px; }
#console .navbar-header { min-width:500px; }
.border { border: 1px solid #ccc !important;  border-radius:4px !important; }
input.form-control, textarea.form-control, select { padding:3px 7px 5px !important; }
.list-group-item { border: 1px solid #ccc; }
.list_input{ padding: 0 7px; }
.ql-toolbar{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.ql-container{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
@media (max-width:1150px){
	#console .navbar-header { min-width:400px; }
	.main-raised {
	    margin-left:15px !important;
	    margin-right:15px !important;
	}
}

.nav-pills>li>a{
	min-width:auto;
	padding:2px 10px;
	border-radius:5px !important;
}

@media (max-width: 767px){
	
	.nav-pills>li>a{ padding:0 8px; line-height:22px; }
	.container { padding-right:0; padding-left:0; }
	.navbar-header{ padding-right:10px !important; padding-left:10px !important; }
	.dashboard-logo img{ margin-left:8px !important; }
	#console .navbar-header { min-width:auto; }
	.dash { border-radius:0 !important; margin-right:0 !important; }
	body { font-size:15px; }
	.main-plain{ margin-top:70px; }
	.main-plain .container{ padding:15px; }
	.page-header .container { padding-top: 70px; padding-left: 15px; }
	.landing-page .page-header { min-height: 90vh; }
	.listtabs li { display:block; float: none; text-align: left; }
	.btn { padding: 6px 12px; }
	.contactleft{padding-top:70px;}
	.home-p{ max-width:320px; }
	
	.navbar-brand img { width:38px; }
	.navbar-brand span { font-size: 28px; }
	.navbar .navbar-brand { padding:15px 10px 7px 12px; }
	
	.btn.btn-lg, .btn-group-lg .btn,
	.navbar .navbar-nav > li > a.btn.btn-lg, .btn-group-lg
	.navbar .navbar-nav > li > a.btn {
	  font-size: 16px;
	  padding: 9px 14px;
	}
	.navbar.navbar-transparent { padding:0;}
	.landing-page .navbar-nav { padding-top:20px;}
	.navbar { padding:0; }
	.landing-page .navbar-header { padding:0;}
	
	.container-fluid {
	    padding-right: 10px;
	    padding-left: 10px;
	}
	.typicalform {max-width:100%;}
	.nav-pills:not(.nav-pills-icons) > li > a { font-size: 0.8em; }
	.list-messages>div>div { max-width:100%; }
	.add-msg { width:100%; }
	.card .card-content {padding: 5px 15px 15px;}
	.footer .pull-right, .footer .pull-left{ float:none !important; margin: 0 auto; }
	
	.main-raised {
	    margin-left:5px !important;
	    margin-right:5px !important;
	}
	.addon-lean{ padding-left:10px !important; }
	.profile-pic { width:40px; height:40px; margin:8px 0 0 5px; }
	.save-td { width:80px;  }
}

.info { margin-top: 30px; }
.morphext > .animated {
    display: inline-block;
}

.li-notify {
	padding-left: 20px;
	padding-bottom: 15px;
	color: #999;
}

.jsrotate {display:none;}
.span-activity span {
	display:inline-block;
	margin-right:15px;
}

.tab-pane p {text-align:left;}
.mtweak {margin: 50px 0 0;}

.bootstrap-select.btn-group .dropdown-menu li:first-child{
	border:0;
    margin-bottom:0;
}
.bootstrap-select.btn-group .dropdown-menu li{
    padding-bottom:7px;
}
.mini-li .fa { color:#fedd16; }
.mini-li a:hover .fa { color:#000; }


.mini-li {
	display: inline-block;
	margin-left:0;
}


.nav>li>a:focus, .nav>li>a:hover {
	background-color:#FFF !important;
}

.nav>.active>a:focus, .nav>.active>a:hover {
	background-color:#fedd16 !important;
	cursor:default !important;
}

#dir_name{
	display: inline-block;
    width: 58px;
}
.bg-glow {
	background-color:transparent !important;
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -ms-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
}
.bg-glow:hover,
.bg-glow.glow {
    text-shadow: 0 0 1px #000;
}
.bg-glow:hover {
    background-color:#FFF !important;
}

.navbar-nav>li{
	margin-left:20px;
}


.dash h2 {
	margin:10px 0;
	padding:0;
	line-height:120%;
}

.navbar-collapse{
	padding-left:5px;
	padding-right:5px;
}
.sub-button {
	padding-left:5px;
	color:#000;
}
.sub-button a{
	color:#000;
	text-decoration:underline;
}
.sub-button a:hover{
	color:#ABABAB;
	text-decoration:none;
}
.fa-ellipsis-v {color:#bbb;}
.fa-sort  {
	color:#CDCDCD;
	cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.btn-adj {color:#bbb; margin:0 7px 0 0; z-index:9999999;}
.action-right{text-align:right;}
.action-right a{color:#f57171;    margin-top: 15px;    display: inline-block;}
.action-right span{color:#bbb;    margin-top: 15px;    display: inline-block;}

.list-group-item .fa-circle {
    font-size: 0.9em;
    margin-right: 5px;
}

/* Search CSS */
.add_node{
	display:block;
	color:#2f2639;
}
.is_sortable .label { display:inline-block;}
.algolia-autocomplete {
  width: 100%;
}

.algolia-autocomplete .dirlabel {
  float:right;
}


.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #CCC;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #EFEFEF;
  border-top: none;
  font-size:0.9em;
}
.add_node, .algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 3px 4px;
  border-top: 1px solid #efefef;
}
.add_node:hover, .algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #eccd15;
  color: #FFF;
  text-decoration:none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

.login-content {
	max-width:380px;
}
.login-content .input-group-addon {
	padding: 0 5px 0 15px;
}
.login-content .submit-btn {
	margin-left:40px;
}
.login-content .extra-info {
	margin:20px 0 0 40px;
	color:#999;
	font-size:0.8em;
}




