@CHARSET "ISO-8859-1";


#mainsidebar { margin-top:60px; padding-top:0; z-index:1 !important; }
.main-panel { background-color:transparent; }
.dash { background-color:#FFF; border-radius:5px !important; margin-right:15px; margin-bottom:80px; padding-bottom: 5px !important; }
.container-fluid { padding-right:15px; padding-left:15px; }
.navbar-transparent {background-color:#E5E5E5;}
.navbar-absolute{ position:static; }
.navbar {margin-bottom:0; padding:0 !important; height:60px !important; }
.navbar-right { margin-right:0; margin-top:5px; }
.nav-open .sidebar { box-shadow:none; }
.wizard-box{ display:none;}
.badge-primary {
    background-color:#fedd16;
    color:#000;
    font-size:1em;
    padding-top: 6px;
    padding-left: 8px;
    padding-bottom: 5px;
    margin-top: -3px;
    border:1px solid #FFF;
}
a.badge-primary {
    cursor:pointer;
    text-align:right;
    min-width:30px;
    text-align:center;
    border:1px solid #FFF;

}
a.badge-msg{
    min-width:60px;
    text-align: right;
}
.list-group-item a{
    cursor:pointer !important;
}
a.badge-primary:hover {
     color:#666;
 }
.breadcrumb {
	margin:0; 
	color:#2f2639; 
	font-family:"Roboto Slab", "Times New Roman", serif; 
	font-size:1.8em;
	font-weight:normal;
	padding:15px 15px;
	background-color:transparent;
	border-radius:0;
	margin-bottom:10px;
	line-height: 130%;
}
.left-navi-title { 
	font-weight:bold;
	line-height: 120%;
}
.left-li-title{
	line-height: 120%;
	padding:10px 15px;
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-weight: bold;
    font-size:1.3em;
}
.main-panel .content { min-height:auto !important; }
#milestone_view { text-align:left; }
#milestone_view .fa { font-size:18px; cursor: pointer;}
#b_objective {font-family: "Roboto Slab", "Times New Roman", serif;}
#b_objective .fa {padding-right:3px;}

.breadcrumb a { font-weight:bold; }
.hidden {display:none;}
.scheduler-iframe {
    width: 100%;
    height: 1000px;
    border: 0;
    overflow: hidden;
}
.copy-btn{
    margin-top: 5px;
    background-color: #2f2639 !important;
    padding: 5px 10px !important;
    font-weight: bold;
    color:#FFF !important;
    margin-top: 6px;
    padding-bottom: 6px !important;
}
.copy-btn-done{
    color:#000 !important;
    background-color:#fedd16 !important;
}
.progress {
    height: 34px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color:#2f2639;
}
.progress-value{
    font-size:1.3em;
    text-align:center;
    color:#2f2639;
    padding-top: 7px;
    font-weight:bold;
    display:block;
    min-width:120px;
}

#timeline_update ul { margin-left:-10px; }
.fa-trash, .list_input .badge-primary {cursor:pointer;}
.dropdown-menu a { text-decoration:none !important; }
.video-player {margin-top:10px;}
.video-player video {border-radius:6px;}
.tab-space { padding-bottom:0px !important; }
.dir-sign {display:none !important;}
.navbar-brand span{
	display: inline-block;
    font-family: 'Titillium Web',sans-serif;
    font-size: 36px;
    color: #2f2639;
    text-transform: lowercase;
}
.nav li a { text-transform:uppercase; }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 0px solid #ddd;
}

.panel-title{
	font-size: 1.2em !important;
    font-weight: bold !important;
}

.landing-page .navbar-brand img {
	display:inline-block;
	margin-top:-12px;
}
.landing-page .dashboard-logo>span {
	padding-top:10px;
}
.landing-page .no-adj .dashboard-logo>span {
	padding-top:5px;
}



.product-splash .alert{ margin-top:30px; border-radius:3px; }
.product-splash .alert>span, #console .alert>span{ font-weight:bold;display:block; padding-bottom:7px; text-transform: uppercase; }

.dashboard-logo{
	width:80% !important;
	padding:11px 0 0 0 !important;
	text-align:left;
}
.dashboard-logo img{
	display: inline-block;
    width: 30px;
    margin:-2px 0 0 0 !important;
}
#console .dashboard-logo img{
	margin-top: -13px !important;
	margin-right: 1px !important;
    width:38px;
}
.checklist-done{
	display:none;
	background-color:#EFEFEF;
	text-decoration: line-through !important;
}
.checklist-done-see{
	display:block !important;
}
#list-checklist>.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#list-checklist>.list-group-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#list-outbound>.is_sortable, #temp2{
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #E5E5E5;
    border: 0;
}
.task-group{
    margin:10px 0 0 21px;
}
.task-group>.list-group-item{
    padding:7px;
    border:1px solid #E5E5E5;
}

/* iPhone devide tweak: */
.marvel-device.iphone-x {
    width: 345px;
    height: 640px;
    margin: 0;
    display: block;
    margin-bottom: 40px;
    position: absolute;
    top: -70px;
    left: 30px;
}
.marvel-device.iphone-x .notch {
    top: 26px;
    left: 93px;
}

.ix-top{
	margin: 8px 14px 0 18px;
	font-size: 15px;
    font-weight: bold;
    color: #000;
    text-align: center;
    line-height: 100%;
    padding: 0;
    height:22px;
    clear:both;
}

.ix-top-left{
	display: inline-block;
    width: 47px;
    float:left;
}
.ix-top-right{
	display: inline-block;
    width: 55px;
    float:right;
}
.ix-top-right .fa-wifi{
	margin-right: 2px;
}

.ix-msg{
	height:440px;
}

.ix-kyb{
	
}




.est-time{
	width: 36px;
    display: inline-block;
    font-size: 0.8em;
    text-transform: none;
    text-align: left;
    color: #AAA;
    margin-left: -2px;
}
.progress{
	margin-bottom:0;
}
.toggle-done{
	font-weight: bold;
    font-size: 0.8em;
    margin: -13px 0 10px 16px;
    padding: 0;
}
.dashboard-logo input {
    margin: 0 !important;
    background-color: #FFF;
    border-radius: 3px !important;
    width:80% !important;
    font-size: 18px !important;
    font-weight:normal;
    padding:4px 8px !important;
    color: #2f2639 !important;
    border: 0 !important;
    border-bottom: 0 solid #FFF !important;
}
.header-search::placeholder {
  color:#CCC !important;
}

.tab-pane, .maxout {max-width:665px !important;}
.list-group-item { padding: 10px 10px; }
.fa-chain-broken { color:#c32626; margin-right:5px; font-size:0.8em; } 
.extra-info { font-size:0.9em; color:#AAA; padding-bottom:15px; }

.title-main { display:block; line-height:100%; padding-bottom:5px; font-size:1em; font-weight:bold; }
.title-sub { display:inline-block; color:#666; margin-right:3px; font-weight:bold; font-size: 0.9em; }
.title-sub i { width:auto; margin-right:2px; text-align:center; }

.c_objective { line-height:100%; }
.c_objective .title-main { display:block; padding:0 !important; font-size:0.45em; line-height:110% !important; }
.c_objective .title-sub { display:block; font-size:0.3em; color:#999; font-weight:normal; line-height:110% !important; padding:0 !important; margin:5px 0 !important; }
.c_objective .title-sub i { width:20px; text-align:center; }

.card-title .title-main { display:block; padding:0 !important; font-size:1.2em; line-height:110% !important; margin: 5px 0 10px; }
.card-title .title-sub { display:block; font-size:0.8em; font-family:Lato; color:#999; font-weight:normal; line-height:110% !important; padding:0 !important; margin:5px 0 10px !important; }
.card-title .title-sub i { width:20px; text-align:center; }

.price>h4>span{ font-size:0.6em; }
.yellow { color:rgba(254, 221, 22, 0.91) !important; }
.list-group-item .title-main { display:inline; }
.card-description img, .mini-image { width:28px; height:28px; margin-top:-2px; border-radius: 50%; }
.profile-pic { width:50px; height:50px; margin:0 0 0 15px; border-radius: 50%; border:1px solid #CCC; }
.userheader { line-height:110%; margin-bottom:15px; }
.userheader>span { display:block; font-size:0.8em; font-weight:normal; margin:-8px 0 0 59px; }
.userheader>img { width:48px; height:48px; margin:0px 5px -15px 0; border-radius: 50%; }
.submenu { padding:0 0 0 45px; }
.submenu a { padding-top:7px; padding-bottom:7px; }
.submenu p { font-size:0.9em !important;}
.legal-name img { width:20px; margin:-3px 2px 0 0; }
input { font-size:16px !important; }
.togglebutton { padding-left:15px; }
.input-mini { max-width:250px; }
.input-group-addon { font-size: 16px; font-weight: bold; }
.dropdown { padding:0; clear:both; diaplay:block; padding-bottom:20px; }
.dropdown>a { padding-left:10px; padding-right:10px; } 
.text-edit { min-height:80px; resize: both !important; }
.mini-label {display:block; margin-bottom:-3px;margin-top:10px;}
.underdot{ border-bottom: 1px dotted #BBB; cursor:help; }
body { font-size:18px; }
p a, td a { text-decoration:underline; }
.mono { font-family:monospace; background-color:#EFEFEF; padding:10px; line-height:180%; border-radius:3px; }
.panel-body img { max-width:100% !important; }
.list-group-item .inline-level { color:#2f2639; font-size:0.9em; padding-right:5px; }
.list-group-item .inline-level .status-label { color:#AAA; font-weight:normal !important; }

h5, .h5 {
    font-size: 0.9em;
    font-weight:bold;
    margin-bottom:5px;
}
.flag { width:22px; height:14px; border-radius:3px; border:1px solid #CCC; }
.list_status{
    font-size:16px !important;
    padding-left:5px;
    height:26px;
    display:inline-block;
}
.video-embed-page{
    max-width:560px;
    margin:0 auto;
    font-size:18px;
    line-height:120%;
}
.list_status img{
    width:24px;
    height:24px;
}
.social-input{
	padding: 0 !important;
    line-height: 100%;
    font-size: 18px !important;
    margin: 0 0 -2px 0 !important;
}
.ic-lrg, .public-profiles>a{
	color:#3C4858 !important;
	font-size:24px !important;
	margin-right:10px;
}
.public-profiles>a:hover{
	color:#fedd16 !important;
}
.subhead{
	margin:0;
	padding:0;
	list-style:none;
}
.subhead li{
	display:inline-block;
	margin-right:20px;
	color:#666;
}

#bootcamp_start{
    display: inline !important;
}
.btn-mls{margin-right:6px; background-color:#E5E5E5;}
.btn-mls:hover{background-color:#FFF; color:#000 !important;}
.underl {
	text-decoration-line: underline;
    text-decoration-style: dotted;
    cursor:help;
}
.fa-info-circle{
	text-decoration-line:none !important;
}
#console h1 { font-size:2.8em; margin-bottom:15px; margin-top:15px; line-height:100%; }
.main-raised{
	max-width: 1150px;
	margin: -60px auto 0 !important;
}
.product-splash{margin-top:-450px !important;}
.main-plain{
    margin: 0px auto 0 !important;
    padding-top: 50px;
    border-top-left-radius:0;
    border-top-right-radius:0;
}
.dashboard .row {
	margin-bottom:10px;
}
.landing_page_url{
    color:#3C4858 !important;
    text-decoration:none;
}
.landing_page_url:hover{
    color:#3C4858;
    text-decoration:underline !important;
}
.is_empty { color:#999 !important; }
.active>.is_empty { color:#2f2639 !important; }
.main-plain .container{ padding:30px; }
.landing-page .page-header { min-height: 100vh; }
.page-header .container { padding-top: 90px; padding-left:40px; }
.home-p{ max-width:630px; }
.landing-page .navbar-header { padding:0 0 0 0;}
.navbar .navbar-brand { padding:11px 10px 7px 27px; }
.body-container { width: 95%; }
.tooltip, .tooltip * {font-size:12px; margin:0; }
.container-fluid .alert { margin-top:10px; }

video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}


.typicalform {max-width:50%;}
.nav-pills:not(.nav-pills-icons) > li > a {
    font-weight: bold;
    font-size: 0.9em;
}
.nav-pills > li i {
    display: inline-block;
    font-size: 1em;
    padding:0;
}

#c_goals_list h4>a {
 color:#3C4858;
 padding-left:5px;
}

.title { clear:both; diaplay:block; margin-top:10px; }
.title p {
	font-size: 0.8em;
    font-weight: normal;
    color: #999;
    font-family: Lato;
    padding: 0;
    margin: 0;
}
.title h4 {
	margin-bottom:5px;
}

.yt-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.yt-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.msg-nav {list-style-type: none; margin: 0; padding:5px 0 0 0; }
.msg-nav>li { margin-right:5px; display:inline-block; padding:0 5px 0 0; font-size:0.9em; color:#666; }
.msg-nav li.edit-on, .edit-on { display:none; }
.msg-nav>li>a { color:#2f2639; padding:3px 5px; border-radius:3px; }
.msg-nav>li .btn { margin:-10px 0px 0 0 !important; padding:5px 8px; }
.msg-nav li>.dropup { margin:-4px -8px 0 0 !important; padding:5px 8px; }
.remove_loading .dropup>a { padding:5px 8px; }

.msg-nav>li>a:hover { background-color:#EFEFEF; }
.add-msg { width:100%; }
.msg-show { display:inline-block !important; }
.msg-hide { display:none; }
.i_uploader>img{width: 20px; height: 20px; margin:-2px 0px 0 3px; border-radius: 50%;}

.msg-menu {padding:0 10px !important; display:inline-block;}
.msg-menu>button {border: 0; background-color: transparent;}
.msg-menu .dropdown-menu li { padding-top:3px; padding-bottom:3px; }
.original {display:none;}
.list-messages{
	margin-bottom:0;
	padding:0 0 7px 0;
}

.list-messages>div {
	border:0;
	margin:0;
	padding:0;
}
.list-messages>div>div {
	max-width:100%;
	min-width:280px;
	border-radius:3px;
	border-bottom-right-radius: 1.3em;
    border-top-right-radius: 1.3em;
	padding:5px 10px;
	font-size:16px;
	margin:0;
	margin-bottom:5px;
	display:inline-block;
	background-color: #E5E5E5 !important;
}
.tip_bubble{
	border-radius:3px;
	border-bottom-right-radius: 1.3em;
    border-top-right-radius: 1.3em;
	padding:10px 15px 10px 10px;
	font-size:16px;
	margin:0;
	background-color: #E5E5E5 !important;
	max-width:320px;
	display:block;
	margin:10px 0;
}

.crossout{
    text-decoration: line-through;
}

.ix-tip{
	line-height: 110%;
    font-size: 13px;
    font-weight: bold;
    margin: 15px 50px 5px;
    text-align: center;
    background-color: #3C4858;
    color:#FFF;
    padding: 6px 5px;
    border-radius: 8px;
}
.list-messages>.is_sortable {
	margin-left: 8px;
    margin-right: 15px;
}
.msg {
	font-size: 16px !important;
    font-family: Lato !important;
    line-height: 110% !important;
    font-weight:500 !important;
    color: #3C4858;
}
.msg a {
	text-decoration:underline;
	max-width: 272px;
    overflow: hidden;
    display: inline-block;
}
.list-messages video {
	border-top-left-radius:3px;
	border-top-right-radius: 0.9em;
}



.listerin{
	margin-top:3px;
	padding-top: 20px !important;
    height: 49px !important;
    font-weight:300 !important;
    font-size: 18px !important;
    font-family: Lato;
    line-height: 27px !important;
    color:#3C4858;
}
.listerin::placeholder{
	font-size: 16px !important;
    font-family: Lato;
    line-height: 27px !important;
    color: #AAA;
    text-transform: uppercase;
    font-weight:300 !important;
    padding-left:0;
}

.list_input{
    padding: 0 7px;
}

#list-outbound .list_input{
    border-radius: 4px;
    border:0 !important;
    background-color:#E5E5E5;
}

#addnode{
	padding-top: 20px !important;
    height: 49px !important;
    font-weight:bold;
}
#addnode::placeholder {
    font-size: 16px !important;
    font-family: Lato;
    line-height: 27px !important;
    color: #AAA;
    text-transform: none;
    font-weight:300;
}

.new-task-input input[type=text]::placeholder{
    font-size: 16px !important;
    font-family: Lato;
    line-height: 27px !important;
    color: #555;
    text-transform: none;
    font-weight:300;
}

.new-task-input input[type=text]{
    font-weight:300;
}
.list-messages>div>div>textarea {
	width: 100%;
    border: 0;
    background:transparent;
    min-height: 90px;
    line-height: 110%;
    padding: 5px;
    font-size: 16px;
    margin:10px 0 3px 0;
    border-radius:3px;
}

.below_list{
list-style:none;
margin-left: 16px;
padding-left: 0;
padding-top: 4px;
margin-bottom:0;
font-size: 0.8em;

}
.below_list li{
display:inline-block;
padding:0 0 0 0;
font-weight:bold;
color: #999;
}
.below_list li .status-label .fa {
    width: 12px;
    margin-right: 3px;
}

.pointer{
	width:8px;
}
.toggleview { 
	display:none;
	margin:0 0 15px 15px;
}

.has_office_hours {
	margin-left: 0px;
    padding: 0 8px;
    border: 1px solid #2f2639;
    border-radius: 3px;
    margin-top: -10px;
}
.addon-lean{ font-weight:normal; font-size:1.0em; color:#AAA; padding-left:5px !important; }
.border .form-group{ margin-left: -3px; }
.save-td { width:100px; vertical-align: text-top; }
.link-view { font-size:0.7em; color:#d6ba14 !important; margin-left:5px; }
#console .navbar-header { min-width:500px; }
.border { border: 1px solid #ccc !important;  border-radius:4px !important; }
input.form-control, textarea.form-control, select { padding:3px 7px 5px; }
.list-group-item { border: 1px solid #ccc; }

.ql-toolbar{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.ql-container{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
@media (max-width:1150px){
	#console .navbar-header { min-width:400px; }
	.main-raised {
	    margin-left:15px !important;
	    margin-right:15px !important;
	}
}

.nav-pills>li>a{
	min-width:auto;
	padding:2px 10px;
	border-radius:5px !important;
}


.loader{height:40px;}
.list-group .loader{height:24px;}

@media (max-width: 767px){
	
	#funnel .main{ margin-top:5px !important; }
	#funnel .body-container{ font-size:20px; line-height: 30px; }
	.nav-pills>li>a{ padding:0 8px; line-height:22px; }
	.container { padding-right:0; padding-left:0; }
	.navbar-header{ padding-right:10px !important; padding-left:10px !important; }
	.dashboard-logo img{ margin-left:8px !important; }
	#console .navbar-header { min-width:auto; }
	.dash { border-radius:0 !important; margin-right:0 !important; }
	body { font-size:15px; }
	.main-plain{ margin-top:70px; }
	.main-plain .container{ padding:15px; }
	.page-header .container { padding-top: 70px; padding-left: 15px; }
	.landing-page .page-header { min-height: 90vh; }
	.listtabs li { display:block; float: none; text-align: left; }
	.contactleft{padding-top:70px;}
	.home-p{ max-width:320px; }
	
	.navbar-brand img { width:38px; }
	.navbar-brand span { font-size: 28px; }
	.navbar .navbar-brand { padding:15px 10px 7px 12px; }
	
	.btn.btn-lg, .btn-group-lg .btn,
	.navbar .navbar-nav > li > a.btn.btn-lg, .btn-group-lg
	.navbar .navbar-nav > li > a.btn {
	  font-size: 16px;
	  padding: 9px 14px;
	}
	.navbar.navbar-transparent { padding:0;}
	.landing-page .navbar-nav { padding-top:20px;}
	.navbar { padding:0; }
	.landing-page .navbar-header { padding:0;}
	
	.container-fluid {
	    padding-right: 10px;
	    padding-left: 10px;
	}
	.typicalform {max-width:100%;}
	.nav-pills:not(.nav-pills-icons) > li > a { font-size: 0.8em; }
	.list-messages>div>div { max-width:100%; }
	.add-msg { width:100%; }
	.card .card-content {padding: 5px 15px 15px;}
	.footer .pull-right, .footer .pull-left{ float:none !important; margin: 0 auto; }
	
	.main-raised {
	    margin-left:5px !important;
	    margin-right:5px !important;
	}
	.addon-lean{ padding-left:10px !important; }
	.profile-pic { width:40px; height:40px; margin:8px 0 0 5px; }
	.save-td { width:80px;  }
	.loader{height:30px;}
	.list-group .loader{height:18px;}
}

.info { margin-top: 30px; }
.morphext > .animated {
    display: inline-block;
}

.li-notify {
	padding-left: 20px;
	padding-bottom: 15px;
	color: #999;
}

.rotate90{ 
	-webkit-transform: rotate(90deg);     /* Chrome and other webkit browsers */
	 -moz-transform: rotate(90deg);        /* FF */
  -o-transform: rotate(90deg);          /* Opera */
  -ms-transform: rotate(90deg);         /* IE9 */
  transform: rotate(90deg);             /* W3C compliant browsers */	
}
.rotate180{ 
	-webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);             /* W3C compliant browsers */	
}
.jsrotate {display:none;}
.span-activity span {
	display:inline-block;
	margin-right:15px;
}

.ql-editor p, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6 {
    margin: 0 0 12px 0 !important;
    font-family:Lato;
    font-size:1.4em; 
    line-height:120%;
    color: #000; 
}
.ql-editor li{
	margin: 0 0 3px 0 !important;
}
.tab-pane p {text-align:left;}
.mtweak {margin: 20px 0 0;}

.bootstrap-select.btn-group .dropdown-menu li:first-child{
	border:0;
    margin-bottom:0;
}
.bootstrap-select.btn-group .dropdown-menu li{
    padding-bottom:7px;
}
.mini-li .fa { color:#fedd16; }
.mini-li a:hover .fa { color:#000; }


.mini-li {
	display: inline-block;
	margin-left:0;
}
.dynamic{
	font-weight:bold;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color:#FFF !important;
}

.nav>.active>a:focus, .nav>.active>a:hover {
	background-color:#fedd16 !important;
	cursor:default !important;
}

#dir_name{
	display: inline-block;
    width: 58px;
}
.bg-glow {
	background-color:transparent !important;
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -ms-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
}
.bg-glow:hover,
.bg-glow.glow {
    text-shadow: 0 0 1px #CCC;
}

#msgnotif{
	position: absolute;
    bottom: 41px;
    right: 75px;
    z-index: 999999;
    background-color: #FFF !important;
    border-radius: 5px;
    line-height: 100%;
    padding: 5px 16px 5px 8px;
    font-size: 14px;
    font-weight: bold;
    color: #0082ff;
}

#msgnotif:hover{
	background-color:#CCC !important;
}

.navbar-nav>li{
	margin-left:20px;
}


.dash h2 {
	margin:10px 0;
	padding:0;
	line-height:120%;
}

.navbar-collapse{
	padding-left:5px;
	padding-right:5px;
}
.sub-button {
	padding-left:5px;
	color:#000;
}
.sub-button a{
	color:#000;
	text-decoration:underline;
}
.sub-button a:hover{
	color:#ABABAB;
	text-decoration:none;
}
.fa-ellipsis-v {color:#bbb;}
.fa-sort, .fa-bars  {
    color:#AAA;
	cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    padding: 12px 10px;
    margin: -10px -7px -10px -10px;
}
.is_task_sortable .fa-bars{
    margin: -10px -7px -10px -7px; /* TODO -margin: -10px -5px -10px -39px; But needs hover-only CSS logic */
}
.btn-adj {color:#bbb; margin:0 7px 0 0; z-index:9999999;}
.action-right{text-align:right;}
.action-right a{color:#f57171;    margin-top: 15px;    display: inline-block;}
.action-right span{color:#bbb;    margin-top: 15px;    display: inline-block;}

.list-group-item .fa-circle {
    font-size: 0.9em;
    margin-right: 5px;
}

/* Search CSS */
.add_node{
	display:block;
	color:#2f2639;
}
.is_sortable .label { display:inline-block;}
.algolia-autocomplete {
  width: 100%;
}

.algolia-autocomplete .dirlabel {
  float:right;
}


.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #CCC;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #EFEFEF;
  border-top: none;
  font-size:0.9em;
}
.add_node, .algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 3px 4px;
  border-top: 1px solid #efefef;
}
.add_node:hover, .algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #eccd15;
  color: #FFF;
  text-decoration:none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

.login-content {
    max-width:600px;
}
.login-content input {
     max-width:380px;
 }

.login-content .input-group-addon {
	padding: 0 5px 0 15px;
}
.login-content .submit-btn {
	margin-left:40px;
}
.login-content .extra-info {
	margin:20px 0 0 40px;
	color:#999;
	font-size:0.8em;
}
















#funnel{
	background-color:#FEDD16 !important;
	color:#000000 !important;
}

#funnel .section {
	text-align:left;
	padding:10px 0;
}

#funnel .breadcrumb {
	margin-top:-30px;
	margin-left:-4px;
	text-align:left;
}
#funnel .breadcrumb li{
	line-height:110%;
	font-size:0.4em;
	margin:0;
	padding:6px 0;
	display:block;
}

#funnel .initial {
	min-width:20px;
	text-align:center;
	display:inline-block;
}
#funnel .form-control::placeholder {
	font-size:20px !important;
	color:#CCC !important;
}
#funnel .list-group-item {
    padding: 10px 5px 8px;
}
#funnel .p_footer{ font-size:0.8em; padding-left:8px;}

@media (max-width: 767px){
	#funnel .p_footer{ padding-left:0; text-align:center;}
}
#funnel .list-group{
	text-align:left;
	font-size:0.6em;
	line-height:110%;
}

#funnel .list-group>li{
	background-color:#efefef;
}

#funnel h4 {
	font-size:0.7em;
	margin:40px 3px 5px 5px;
	border-bottom:2px solid #2f2639;
	padding-left:5px
}

#funnel h4 .title-sub{
	color:#2f2639 !important;
}

#funnel .quill_content {
	font-size:0.7em;
	line-height:120%;
	font-weight:normal;
	margin:0 3px 10px 5px;
	color:#000;
}
.tip_bubble a {
	font-weight:bold;
	text-decoration:underline;
}

 select.form-control{
	width: auto !important;
	max-width: none !important;
}

#funnel .quill_content textarea{
	width: 100% !important;
    height: 70px !important;
    font-size: 16px !important;
    padding: 3px !important;
    margin: 0 !important;
    max-width: 100%;
}
#funnel .quill_content textarea::placeholder {
	font-size:16px !important;
	color:#CCC !important;
}
#funnel .quill_content ul, #funnel .quill_content ol{
	margin-left:-20px;
}
#funnel .sub-title {
	font-size: 1.1em;
	font-weight:bold;
    margin: 0 0 2px 5px;
}
#funnel .main{
	margin-top:10px !important;
	border-radius:0;
	box-shadow:none;
	background-color:transparent;
}
.btn-black{
	background-color: #2f2639;
    font-size:1.1em;
    font-weight: bold;
    color: #FFF;
}
.btn-black .fa{
	font-size:1.2em !important;
	margin-right:22px !important;
}
#funnel .body-container{
	font-size:24px;
	font-weight: normal;
	width:100% !important;
	margin:0 !important;
	padding:20px 0 !important;
	text-align:left;
}

#funnel .checkbox label {
  cursor: default;
}

#funnel .form-control {
	max-width:300px;
	margin:10px 0 0 !important;
	padding:21px 10px 25px !important;
	background-color:#FFF;
	border-radius:3px;
	font-size:20px !important;
}

.status-label{
	font-weight:bold;
	text-transform:uppercase;
	font-size:0.9em;
	display: inline-block;
}
.status-label i {
	font-size:1em;
	width:22px;
	display:inline-block;
	text-align: center;
}

.dropdown-menu{ margin-top: -20px !important; }
.dropdown-menu li > a { padding: 7px 10px; }
.i_content{
    padding-bottom:10px;
}
.i_content audio, .i_content video{ width:100%; }
.disabled{
	background-color: #EFEFEF !important;
    border-radius: 3px !important;
    cursor: default !important;
}
.belowh2-btn .tip-badge, .belowh2-bdy {
	margin: 0px 0 18px 0  !important;
}
		
.tip-badge {
    padding: 4px 6px;
    font-size: 18px;
    background-color: #2f2639;
    color:#FFF;
    border-radius: 3px;
    margin:0;
    cursor:default;
    font-family:"Lato", "Helvetica", "Arial", sans-serif;
}
.badge-click{
	background-color: #fedd16;
	color: #2f2639;
	border:1px solid #2f2639;
	margin-top: -4px;
	margin-left:7px;
	font-weight:bold;
	font-size:1em;
}
.badge-inactive{
	background-color: #EFEFEF;
}
h4 .tip-badge{
    font-size: 18px;
    margin-left: 0;
    margin-top: -3px;
}
.tipbtn,.tipbtn>span{cursor:pointer !important;}
.help_body {
	cursor:default;
    display:none;
    background-color:#fedd16;
    border:1px solid #CCC;
    margin:0 0 10px;
    padding:10px;
    border-radius:3px;
}

.help_body .fa-times {
	color: #2f2639;
	font-size: 28px;
    padding-right: 2px;
}

.below_h {
    margin-top: -20px;
    margin-bottom: 20px;
}

.help_body .gotit{
    margin:10px 0 0 0;
}

.help_body .tip-badge {
    display:inline-block;
    clear:both;
    margin-bottom:15px;
}
.badge-current{display:inline-block; font-weight:bold; background-color:#2f2639; color:#FFF; float:none !important; font-size:14px; }
.pricing-badge {
    padding: 4px 6px;
    cursor:help;
    font-size: 18px;
    background-color: #FFF;
    color:#333;
    border-radius: 3px;
    margin: -4px 0 0 5px;
}
.status-label{
	cursor:help;
}
.list-group-item>.input-group>.form-group>input[type="text"]{
    margin-bottom: -1px;
    padding-bottom: 22px !important;
    padding-top: 18px !important;
}

#frequency_details {
	padding-top: 0;
	display: block;
}
#ex1Slider .slider-selection {
	background: #BABABA;
}

.dropdown-menu .status-label { display:block; }
.copy_button{ cursor:pointer; font-size:0.9em; }
#copy_button{display:none;}
.btn-funnel {
	margin-top:25px;
    background-color: #000000;
    height:50px;
    font-size: 25px;
    font-weight: bold;
    color: #b3b3b3;
    padding: 5px 20px !important;
    border-radius:4px;
    line-height: 36px;
    box-shadow:none;
    display: inline-block;
}
.btn-funnel:hover {
    background-color: #333;
    color: #b3b3b3;
    box-shadow:none;
}
.enter {
	margin-top:0;
	font-size:0.6em;
	padding:0 0 0 10px;
	display: inline-block;
	width:120px;
	text-align:left;
	height:60px;
	overflow:visible;
	font-weight: normal;
}
.enter img {
	margin-top:6px;
}

.result {
	min-height:30px;
	margin: -10px 0 -5px 0;
	font-size:18px;
}


// #funnel .sub-stats{display: block; margin-left:3px;}
// #funnel .sub-stats .title-sub{ display: inline-block; width:68px; }
        
#funnel h1, #funnel h2{
	margin:0 0 10px 0 !important;
	padding:0 !important;
	line-height:130%;
}

#funnel .inline-level{
	font-size: 0.8em;
    font-weight: bold;
    display: inline-block;
    width: 30px;
    margin-left: -4px;
    text-align: left;
    color: #999;
    margin-right: 0;
    padding-right: 0;
}


.overload{
color:#FF0000;
font-weight:bold;
}
.box__dragndrop {
  display: none;
}
.box.has-advanced-upload {
  
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.add-msg{
background-color: #FFF !important;
border-top: 4px solid #777;
}
.is-working {
  background-color:#e5e4e4 !important;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.left-table, .left-table tr, .left-table td, .left-table th {
	text-align:left !important;
	cursor:default !important;
}
#url_preview{
margin:5px 0;
}

.inputfile + label {
    display: inline-block;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
	pointer-events: none;
}
.textarea_buttons{
    font-weight:bold;
    font-size:13px;
}
.textarea_buttons:hover{
    color:#777 !important;
}
.dropdown-toggle.btn{ padding:12px 5px; }
.profile-icon {
    width: 20px;
    height: 20px;
    margin: -2px 5px 0 0;
    border-radius: 50%;
}
.message_status{
    width: 152px;
    overflow: hidden;
    display: inline-block;
    margin-top: -5px;
    height: 39px;
    line-height: 110%;
}
.when_to {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 0 -4px;
    display: block;
    text-align: right;
}
#modifybox{
    border-radius: 4px;
    padding:10px 10px 0 10px;
    width: 395px;
    margin: 0;
    display: block;
    position: absolute;
    top:0;
    left: 30px;
    background-color:#E5E5E5;
    max-height:520px;
    overflow-y: auto;
}
.slim-time{
    margin-left: 5px;
    font-weight:500;
}
#modifybox input, #modifybox .input-group, #modifybox .form-control {
    background-color:#FFFFFF;
}

#modifybox h4, #modifybox .title{
    margin-top:0;
    padding-top:0;
}
.btn-hidden{
    background-color: transparent;
    color: #2f2639;
    box-shadow: none;
    transition: none;
}
.has-advanced-upload{
    overflow:visible !important;
}
.msgin{
	min-height:87px;
	resize:vertical;
	padding-left: 0 !important;
	padding-top: 0 !important;
	margin-top: 2px;
}
.msgin::placeholder{
	font-size: 16px !important;
    font-family: Lato !important;
    line-height: 110% !important;
    font-weight:500 !important;
    color: #888;
}

.is-msg .on-hover{
    display:none !important;
}
.is-msg>div:hover .on-hover, .in-editing .on-hover{
    display:inline-block !important;
}