@CHARSET "ISO-8859-1";
@import url('https://rsms.me/inter/inter.css');
/*
@supports (font-variation-settings: normal) {
    html { font-family: 'Rubik', sans-serif; }
}
*/

body {
    font-size: 1em;
    margin:55px 0 144px 0 !important;
    font-weight: 400;
    line-height: 110%;
}



[class*="col-"], .no-side-padding {padding-left:0px !important;padding-right:0px !important;}
.no-left-padding {padding-left:0px !important;}
.row {margin-left:0px;margin-right:0px;}
.container {
    max-width:767px;
    padding:0;
}
.padded {
    margin: 0 41px 25px;
}

.edit-off .padded, .edit-on .padded {
    margin-bottom: 0;
}
.margin-top-down{
    margin:34px 0 55px;
}
.margin-top-down-half{
    margin:13px 0;
}
.paddingup{
    padding:10px 0 0;
}
.i-footer .paddingup{
    padding:0 !important;
}
.content-image {
    margin:0;
}

.dorubik{
    font-weight: 400;
}
.doleft{
    text-align: left !important;
}
.doright{
    text-align: right !important;
}
.span__4356{
    display: inline-block;
}
.media-content, .x__message video {
    /* max-width: 377px; */
    border-radius: 13px !important;
}
.x__message img, .i_content img, .content-image {
    max-width: 100%;
    max-height: 377px;
    border-radius: 13px !important;
    margin: 0;
    display: block;
}
.mench-idea .media-content, .mench-idea .x__message video {
    max-width: 377px;
}
.mench-discover .x__message img, .mench-discover .i_content img, .mench-discover .content-image {
    max-height: 610px;
    /* margin: 0 auto; */
}
.yt-container{
    margin: 10px 0 0;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.yt-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 13px !important;
}
.list-group-item {
    border: 0;
    border-radius: 0 !important;
    padding:10px 5px;
    margin: 0;
    width: 100%;
    background-color: transparent;
}

#searchFrontForm{margin-top:5px; padding-right: 5px;}
.table-sm td, .table-sm th { padding:0; }
.table {
    width: 100%;
}

table td { border: none !important; }

.texttype__lg { font-size: 3em; }

h1 {
    padding:34px 41px;
    margin:0;
    font-size: 3.8em;
    text-align: left;
}


h1 i {
    font-size: 0.25em; /* 1 / 3.5em = 0.25em */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li a {
    text-decoration: none;
}
.special-text{
    font-size: 1.4em;
    display: block;
    float: left;
    padding-top: 5px;
    padding-left: 0;
    font-weight: bold;
    height: 34px;
    overflow: hidden;
    line-height: 144%;
    margin-top: -8px;
    margin-right: 5px;
    margin-bottom: 5px;

}
.avatar-item {
    display: block;
    padding:10px 0 !important;
    text-align: center;
}
.avatar-item.active, .btn-group a.active , .itemsetting.active{
    background-color: #999999 !important;
    margin-top: 0 !important;
    border-top-width: 0 !important;
    border-radius: 10px !important;
}

.avatar-item .avatar-icon i {
    display: block;
    text-align: center;
    width: 100% !important;
    font-size:2.6em !important;
}


.dropdown-item {
    padding:10px 20px 7px 1px;
}

/* FONTS */
.css__title, .headline, .btn {
    font-weight: bold;
    text-decoration: none;
    margin-left: 0 !important;
}
.e-appendix a, .e-appendix a .url_truncate {
    text-decoration: underline;
}

.e-appendix{
    margin-left: 41px;
}

.doupper, .text_e_6197 {
    text-transform: uppercase !important;
}
.add-input{
    margin-bottom: 0;
    padding: 5px 0 5px 41px !important;
    width: 100%;
}

.large-icon{
    font-size: 1.5em;
    padding: 2px 4px 0 0;
}

.form-control-thick{
    padding:7px 10px 7px 41px;
}
.bottom-x-line{
    order-bottom: 1px solid #FC1B44;
    margin-bottom: 10px;
}

.btn {
    text-transform: uppercase;
    font-size: 1em !important;
    border-radius: 0 !important;
}

a.btn, .btn.dropdown-toggle, label.btn {
    padding:10px;
    min-width:66px;
}

.btn-compact{
    min-width: auto !important;
    padding: 15px 0px !important;
}

.left_nav a.btn, .left_nav .btn.dropdown-toggle, .left_nav label.btn{
    padding:10px;
}
.left_nav .btn {
    padding:12px 0 11px 0 !important;
}

.mench_coin .btn {
    padding: 8px 8px 8px 0 !important;
}

img.no-radius {
    border-radius:0 !important;
}

.alert{
    padding:10px 0 !important;
    border-radius: 0;
    margin:0;
    border: 0 !important;
}


.alert a{
    text-decoration: underline;
}

.alert-warning {
    color: #222222;
    background-color: #fff4b5;
    border-color: #fff4b5;
}
.alert-danger {
    color: #222222;
    background-color: #fbc4ce;
    border-color: #fbc4ce;
}
.alert-info {
    color: #222222;
    background-color: #b2defd;
    border-color: #b2defd;
}


.dounderline{
    text-decoration: underline !important;
}


.card-header{
    padding: 0;
    background-color:transparent !important;
    border-bottom: 0;
}
.card-body{
    margin: 0;
    padding: 13px 8px;
}
.card-body .padded, .card-body .list-group {
    margin: 0 0 13px;
}
.accordion>.card {
    border-radius: 0 !important;
    border:0;
}

.algolia_pad_search{
    height:377px;
    padding: 13px 3px;
    text-align: center;
    color: #999999;
    font-weight: bold;
}
.gateway{
    color:transparent !important;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.pull-right{
    float:right !important;
}
.nav .pull-right {
    float: none;
    margin-left: auto;
    order: 2;
}
.pull-left{
    float:left;
}



.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    border-top: none;
    font-weight: normal;
    z-index: 99999 !important;
}
.input-group .algolia-autocomplete {
    width: 100%;
}


.no-margin{
    margin:10px 0 0;
}

.aa-dropdown-menu {
    width: 100% !important;
}

.panel-body .form-control {
    padding:7px 0;
    width: 100%;
}

.edit-off .content-image{
    max-height:250px;
}





.aa-input-container {
}
.aa-input-search {
}
.aa-dropdown-menu {
}
.aa-suggestion {
}

.aa-dropdown-menu .aa-suggestion,
.suggestion {
    border:0;
    cursor: pointer;
    padding: 7px 3px;
    font-weight: 500;
    margin: 0;
    display: block;
    text-decoration: none;
}

.aa-dropdown-menu .aa-suggestion.aa-cursor, .suggestion:hover {
    background-color: #999999;
    text-decoration: none;
}

.aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
}

.list-group-item .col2{
    overflow: hidden;
}

.center-info{
    width: 100%;
    max-width:380px !important;
    padding: 15px;
    padding-top: 0;
    margin: 0 auto;
}
.center{
    text-align: center !important;
}

.featured-frame{
    text-align: center;
    width: 89px;
    margin-left:5px;
}
.table-sm td .featured-frame{
    margin-right:10px;
}
.featured-image {
    max-width: 89px;
    max-height: 144px;
    overflow: hidden;
    display: block;
}
.featured-image img{
    width: 100%;
}

.nav-tabs {
    margin:0 0 13px 0;
    padding-left: 41px !important;
    padding-top: 27px;
}


.nav-pills {
    margin:0 0 10px;
    margin-left: 41px;
}


.modal-footer{
    display: block;
}

.x-info{
    padding:21px 0 21px 41px;
    margin:0;
    line-height: 144%;
}
.message_content{
    margin-left: 41px;
}
.i-footer .message_content{
    margin-left:0;
}

.info-item a, .info-item i {
    color:#999999 !important;
}
.info-item a {
    text-decoration: underline;
}

.x-ref{
    margin-left: 24px;
    margin-top: -43px;
}
.x-ref .x-list{
    background-color:transparent !important;
}
.underdot{
    cursor: help;
    border-bottom: 1px dotted #999;
}

.border-source.active{
    border-color: #007AFD;
}
.border-idea.active{
    border-color: #FFC500;
}
.border-discover.active{
    border-color: #FC1B44;
}


/* MENCH Colors */
.source, .source .fas, .source .far, .source .fal, .source .fad, .color12274, .info-item i.source:hover, .info-item a.source:hover, .headline.source, .headline.source a, .headline.source i  { color:#007AFD !important; }
.idea, .idea .fas, .idea .far, .idea .fal, .idea .fad, .color12273, .info-item i.idea:hover, .info-item a.idea:hover, .headline.idea, .headline.idea a, .headline.idea i  { color:#FFC500 !important; }
.discover, .discover .fas, .discover .far, .discover .fal, .discover .fad, .color6255, .info-item i.discover:hover, .info-item a.discover:hover, .fas.redalert, .headline.discover, .headline.discover a, .headline.discover i  { color:#FC1B44 !important; }
.grey, .grey i, .grey .source, .grey .idea, .grey .discover, .headline .source, .headline .idea, .headline .discover, .btn-grey, .btn-grey i { color:#999999 !important; }
.black, .black i, .black.fas, .black.far, .black.fal, .black.fad { color:#222222 !important; }

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.mid-range {
    padding: 0 1px;
}

.right-adj {
    margin-top:-22px;
    margin-right:41px !important;
}

.discover-controller {
    width: 100% !important;
    display: table;
    table-layout: fixed;
    padding: 8px 0;
}

.discover-controller div{
    text-align: center;
    display: table-cell;
    padding:0;
    width: 2%;
    margin-bottom: 0;
}
.nav-title{
    padding: 5px 0 0 !important;
    display: block;
}


.mini-circle{
    display: inline-block;
    border-radius: 50%;
    background-color: #FC1B44;
    padding: 8px 0;
    width: 34px;
    text-align: center;
    font-size: 0.9em;
}

.i_estimates{
    padding:10px 0;
}
.table-condense{
    margin-bottom: 5px;
}


.cover-image {
    width: 100%;
    border:1px solid #222222;
}


.media-info {
    padding: 1px 4px;
    position: absolute;
    color: #FFF;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 10px;
    z-index: 1;
}
.btn-lrg{
    font-size: 2em !important;
    border: 0 !important;
}
.btn-lrg.btn-source{
    background-color: #007AFD !important;
    color: #222222 !important;
}
.btn-lrg.btn-discover{
    background-color: #FC1B44 !important;
    color: #222222 !important;
}


.btn-superpower.active .fas.source, .btn-superpower.active .far.source, .btn-superpower.active .fal.source, .btn-superpower.active .fad.source {
    color:#007AFD !important;
}
.btn-superpower.active .fas.idea, .btn-superpower.active .far.idea, .btn-superpower.active .fal.idea, .btn-superpower.active .fad.idea {
    color:#FFC500 !important;
}
.btn-superpower.active .fas.discover, .btn-superpower.active .far.discover, .btn-superpower.active .fal.discover, .btn-superpower.active .fad.discover {
    color:#FC1B44 !important;
}


.click-info {
    padding: 5px 10px;
}

.media-info.bottom-left{
    left: 4px;
    bottom: 5px;
}
.media-info.bottom-center{
    left: 60px;
    bottom: 5px;
}
.media-info.bottom-right{
    right: 4px;
    bottom: 5px;
}
.media-info.mid-right{
    right: 4px;
    bottom: 45px;
}
.media-info.right-btn{
    right: 4px;
    top: 5px;
}
.media-info.left-btn{
    left: 4px;
    top: 5px;
}

.progress-title{
    text-align: center;
    width: 100%;
    padding-top: 21px;
    padding-bottom: 3px;
    font-weight: bold;
    color: #999999;
}
.progress-bg-list{
    margin: 0;
    position: relative !important;
    height:8px;
    cursor: default;
    overflow: hidden;
    width: 100%;
    background-color: #999999 !important;
}
.progress-done{
    height:8px;
    background-color: #FC1B44;
}

.coin-frame{
    border: 0;
    padding:0 0 13px 0;
}



.progress-micro{
    width:160px !important;
}
.btn-right{
    left: 179px;
}
.btn-left{
    left: 51px;
}

.cover-photo {
    padding:0 0 0 41px;
}
.cover-photo img{
    border: 3px solid #FC1B44;
    border-radius:34px;
    padding: 2px;
    height: 290px;
    width: 200px;
}
.cover-photo b{
    margin:8px 0 0 41px !important;
    font-size:1em;
    text-align: center;
    width: 200px;
    display: block;
}

.cover-done img{
    border-color: #999999 !important;
}
.cover-gold img{
    border-color: #FFC500 !important;
}

.progress-rate{
    margin: -20px 0 0 0;
    width: 100%;
    line-height: 100%;
    padding: 3px 0 0px;
    height: 20px;
}
.progress-rate i{
    color: #222222 !important;
}


.fixed-bottom{
    padding: 0;
}
.fixed-top, .fixed-bottom {
    z-index: 9999 !important;
}


.no-horizonal-margin{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}



.mixed-a{
    text-decoration:none !important;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.overload {
    color: #FC1B44;
    font-weight: bold;
}

.mench-reverse-spin{
    -webkit-animation: mench-reverse-spin 13s infinite linear;
    animation: mench-reverse-spin 13s infinite linear;
}

.mench-spin {
    -webkit-animation: mench-spin 13s infinite linear;
    animation: mench-spin 13s infinite linear;
}
.lazyimage:not(.loaded) {
    -webkit-animation: mench-spin 5s infinite linear;
    animation: mench-spin 5s infinite linear;
    width: 55px;
    margin: 10px;
    display: block;
    border:0 !important;
}
.mench-large{
    width:128px;
    margin-bottom: 5px;
}

.mid-text-line{
    border-bottom: 1px solid #999999;
    text-align: center;
    margin: 21px 0;
    height: 15px;
}
.mid-text-line span{
    display: inline-block;
    margin: 0 auto;
    padding: 6px 8px;
    margin-bottom: 0px;
    color: #999999 !important;
    font-weight: bold;
}

@-webkit-keyframes mench-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

@keyframes mench-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); }
}

@-webkit-keyframes mench-reverse-spin {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); } }

@keyframes mench-reverse-spin {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
}


.form-control, .border {
    border:0 !important;
    height: 100%;
    line-height: 100%;
}




.nav-tabs {
    border-bottom: 3px solid transparent;
}
.dropdown-menu {
    border:3px solid transparent;
    border-radius: 13px;
}


.nav-tabs .nav-item.show .nav-x, .nav-tabs .nav-x.active, .nav-tabs .nav-x:focus, .nav-tabs .nav-x:hover{
    border: 3px solid transparent;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    position: relative;
}
.nav-x.dropdown-toggle{
    margin-top: 3px;
}

.nav-tabs .nav-item {
    margin-bottom: -3px;
}

#x_reply{
    padding: 5px;
    border: 3px solid transparent !important;
    height: 55px;
    border-radius: 13px !important;
}
.previous_answer{
    display: block;
    width: 100%;
}

.nav-pills .nav-x.active, .nav-pills .show>.nav-x {
    color: #fff;
    background-color: #222222;
    border-radius: 10px;
}

.black.active, .black.active i, .grey.active, .grey.active i {
    color: #fff !important;
}

.tab-content{
    padding:0;
}

.msg {
    line-height: 144%;
    margin:0 41px 25px;
}

.msg-nav {
    list-style-type: none;
    margin:10px 0 0 0;
    padding:0;
}

.msg-nav > li {
    margin-left: 7px;
    display: inline-block;
    padding: 0;
    color: #666;
}

.msg-nav > li > a {
    color: #222222;
    padding: 3px 5px;
    border-radius: 0;
}

.msg-nav > li .btn {
    margin: -10px 10px 0 -5px !important;
    padding: 10px;
}

.msg-nav li > .dropup {
    margin: -4px -8px 0 0 !important;
    padding: 5px 8px;
}


.nav-pill-sm .nav-x {
    display: block;
    padding: .4rem 0.7rem;
    margin-right: 6px;
}

.nav-sm .nav-x {
    border: 1px solid transparent;
    display: block;
    padding: .5rem .2rem;
    text-transform: uppercase;
}



.btn-group-sm>.btn, .btn-sm {
    padding: .25rem 0;
}

.note-editor{
    line-height: 100%;
    width: 30px;
    text-align: center;
    position: absolute;
    overflow: hidden;
    z-index: 999 !important;
    top:-10px;
    right: 0;
}


.add_notes_form{
    margin-left: 41px;
}

.info_box_icon{
    text-align: center;
    width: 100%;
    font-size: 5.5em;
    padding: 89px 0 0 0;
}

.info_box_icon img{
    width: 144px;
}


textarea.note-textarea{
    border:0;
    border-radius: 0;
    margin: 0;
    /*background-color: transparent !important;*/
    box-shadow: none;
    padding: 0;
    line-height: 144% !important;
}

.note-textarea.edit-on {
    margin:0 0 0 41px;
    padding:5px 0;
    line-height: 144% !important;
}

.table-btn{
    width:77px;
    padding:0 !important;
}


.text_message{
    margin:5px 0;
}

.note-editor>span{
    display: block;
    padding:13px 0 0;
}

/* ROTATIONS */
.rotate30 {
    -webkit-transform: rotate(30deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(30deg); /* FF */
    -o-transform: rotate(30deg); /* Opera */
    -ms-transform: rotate(30deg); /* IE9 */
    transform: rotate(30deg); /* W3C compliant browsers */
}

.rotate45 {
    -webkit-transform: rotate(45deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(45deg); /* FF */
    -o-transform: rotate(45deg); /* Opera */
    -ms-transform: rotate(45deg); /* IE9 */
    transform: rotate(45deg); /* W3C compliant browsers */
}

.rotate74 {
    -webkit-transform: rotate(74deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(74deg); /* FF */
    -o-transform: rotate(74deg); /* Opera */
    -ms-transform: rotate(74deg); /* IE9 */
    transform: rotate(74deg); /* W3C compliant browsers */
}

.rotate90 {
    -webkit-transform: rotate(90deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(90deg); /* FF */
    -o-transform: rotate(90deg); /* Opera */
    -ms-transform: rotate(90deg); /* IE9 */
    transform: rotate(90deg); /* W3C compliant browsers */
}

.rotate180 {
    -webkit-transform: rotate(180deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg); /* FF */
    -o-transform: rotate(180deg); /* Opera */
    -ms-transform: rotate(180deg); /* IE9 */
    transform: rotate(180deg); /* W3C compliant browsers */
}

.rotate270 {
    -webkit-transform: rotate(270deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(270deg); /* FF */
    -o-transform: rotate(270deg); /* Opera */
    -ms-transform: rotate(270deg); /* IE9 */
    transform: rotate(270deg); /* W3C compliant browsers */
}

.rotate315 {
    -webkit-transform: rotate(315deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(315deg); /* FF */
    -o-transform: rotate(315deg); /* Opera */
    -ms-transform: rotate(315deg); /* IE9 */
    transform: rotate(315deg); /* W3C compliant browsers */
}

/* HEADER */
.table{
    width: 100%;
    margin-bottom: 0;
}
.x_remove{
    cursor: pointer;
}

.x_sort, .sort_e, .fa-sort, .fa-arrows{
    cursor: grab;
}
.space-left{
    padding-left: 41px !important;
}
.space-all{
    padding:13px 41px !important;
}
.space-sides{
    padding:0 41px !important;
}
.discovering-paths{
    width:89px;
    display: inline-block;
}
.discovering-count{
    min-width:48px;
    display: inline-block;
}
.space-content{
    padding-left:41px;
    padding-right:41px;
    display: block;
    line-height: 144%;
}
.space-content .btn{
    margin:-10px 0 0 0;
}
.space-content .btn.edit-locked{
    margin:-3px 0 0 0;
}
.title-block{
    display: block;
    padding:0 !important;
    margin:-20px 5px 0 41px !important;
}
.title-no-right {
    padding-right:5px !important;
}

.second-stats{
    position: absolute;
    left: 0;
    top: 34px;
}
.x__message {
    display:inline-block;
    overflow: hidden;
    max-width: 100%;
}


td.MENCHcolumn1  { width: 74%; }
td.MENCHcolumn12  { width: 87%; }
td.MENCHcolumn2  { width: 13%; }
td.MENCHcolumn3  { width: 13%; }


.tablepadded td{
    padding:10px 0 !important;
}
.top-margin{
    margin-top: 21px;
}
.bottom-margin{
    margin-bottom: 21px;
}
.left-margin{
    margin-left: 41px;
    display: inline-block;
}
.left-half-margin{
    margin-left:10px;
}
.mench_coin{
    text-decoration: none;
    border-top: 5px solid;
    border-color: transparent;
}



.left_nav, .max_width{
    width: 100% !important;
    max-width: none !important;
}

.mench-navigation {
    width: 100%;
}

.mench-navigation #searchFrontForm, .algolia-autocomplete, .algolia-autocomplete .aa-hint{
    width: 100%;
}
.mench-navigation td {
    padding:0;
    vertical-align: top;
}
.modal{
    z-index: 99999 !important;
}


.modal-content .form-control{
    border-radius: 10px;
    margin-bottom: 13px;
}
.mench-navigation .block-x, .mench-navigation .block-menu {
    width:40px;
    margin: 0;
    padding: 0;
    line-height: 100% !important;
    text-align: center;
}
.mench-navigation .block-sign-x{
    width:144px;
}
.mench-navigation .block-x a {
    display: block;
    text-align: center;
    margin-left:5px;
    padding:10px 10px 10px;
}

.mench-navigation .block-x .fas, .block-x .fal, .block-x .far, .block-x .fad{
    font-size: 1.2em;
}

.coin-type{
    display: block;
    padding-left: 8px;
    padding-top: 2px;
}
.text-logo{
    font-size: 1.4em;
    display: block;
    float: left;
    padding-top: 5px;
    padding-left: 0;
    font-weight: bold;
    width: calc(100% - 100px);
    height: 34px;
    overflow: hidden;
    line-height: 144%;
}
.x-list {
    padding:21px 0;
}
.simple-line{
    padding: 5px 0;
}

.story-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    padding-right: 41px;
}

.story-bar li{
    height: 3px;
    flex-grow: 1;
    border-radius: 3px;
    margin: 0 5px 0 0;
    display: flex;
    background-repeat: no-repeat;
    background-size: 200%;
    background-color: #999999;
    background-position: 100% 50%;
}

.story-bar .progress{
    height: 3px;
    flex-grow: 1;
    border-radius: 4px;
    margin: 0 5px;
    display: flex;
    background-repeat: no-repeat;
    background-size: 200%;
    background-color: #999999;
    background-position: 100% 50%;
}


.story-bar .active{
    background-color: #FC1B44;
}

.x-msg{
    margin-top: -19px !important;
    margin-bottom: 0;
}
.x-msg .i_content, .x-msg .msg{
    margin-top:0 !important;
    margin-bottom:0 !important;
    padding-top:0 !important;
    padding-bottom:0 !important;
}
.no-height{
    height: 0;
    padding: 0;
}
.x-msg .padded{
    margin-left:0 !important;
    margin-right:0 !important;
}


.x_marks{
    display: inline-block;
}

.mass_modify .form-control{
    margin:0 0 10px 0;
    width: auto;
}

.x_marks .form-control{
    width: 41px;
    display: inline-block;
    padding: 2px;
    text-align: center;
}


.edit-locked, .edit-locked *{
    cursor:default !important;
    background-color: transparent !important;
    padding-left: 0;
}


.itemsource{
    padding-left: 0;
    padding-right: 0;
}
.no-left-padding{
    padding-left: 0 !important;
}
.no-right-padding{
    padding-right: 0 !important;
}


.no-padding{
    padding: 0 !important;
}



.show-on-hover span {
    display: block;
    margin-bottom: 1px;
}
.show-on-hover i {
    font-size: 0.80em !important;
}
.note-btn .show-on-hover i {
    font-size: 1.3em !important;
}

.dropdown-lock{
    padding: 0;
}

.overflowhide {
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
}

.url_truncate {
    max-width: calc(100% - 41px);
    overflow: hidden;
    display: inline-block;
}


.list-group-item .form-group {
    background-color: inherit;
}

.show-on-hover {
    display:none !important;
}
.list-group-item:hover .show-on-hover {
    display:inline-block !important;
}

.score-range{
    width: 89px;
    display: inline-block;
    text-align: center;
}

label {
    margin-bottom: 0;
}

.dolight{
    color: #999999;
}

.dotransparent {
    background-color: transparent !important;
}
.dotransparent *, .btn-grey {
    background-color: transparent;
}
.doclear{
    clear: both;
    line-height: 100%;
    margin: 0;
    height: 0px;
}

.itemsetting{
    color: #222222;
    text-decoration: none;
    padding: 10px 0 !important;
    margin-bottom: 3px !important;
}
.itemsetting.active{
    margin-top:0 !important;
    border-top-width:0 !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    text-decoration: none;
    background-color: #999999;
}
.dropdown-item, .dropdown-item {
    text-decoration: none;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
    background-color: #999999 !important;
    cursor: default !important;
}

.list-group-item .css__title, .list-group-item{
    text-decoration: none;
}

.panel-collapse {
    padding-bottom:10px;
    padding-left:7px;
}

.no-cursor{
    cursor: default !important;

}

/* STYLES */
.btn{
    text-decoration: none;
    line-height: 100%;
    border: 0;
    padding: 10px;
    border-radius:13px !important;
}

.btn.dropdown-toggle{
    border: 0 !important;
    padding:15px 15px 15px 0 !important;
}

.btn-superpower .fas, .btn-superpower .far, .btn-superpower .fal, .btn-superpower .fad, .btn-superpower:not(.active) .source, .btn-superpower:not(.active) .idea, .btn-superpower:not(.active) .discover {
    color: #999999 !important;
}


.btn-superpower.btn-locked, .not-allowed, .not-allowed * {
    cursor: not-allowed !important;
}

.btn-superpower.active .fas.source, .btn-superpower.active .far.source, .btn-superpower.active .fal.source, .btn-superpower.active .fad.source {
    color:#007AFD !important;
}
.btn-superpower.active .fas.idea, .btn-superpower.active .far.idea, .btn-superpower.active .fal.idea, .btn-superpower.active .fad.idea {
    color:#FFC500 !important;
}
.btn-superpower.active .fas.discover, .btn-superpower.active .far.discover, .btn-superpower.active .fal.discover, .btn-superpower.active .fad.discover {
    color:#FC1B44 !important;
}




.btn.btn-source, .btn.btn-source:hover, .btn.btn-source:focus, .btn.btn-source:active, .btn.btn-source.active, .btn.btn-source:active:focus, .btn.btn-source:active:hover, .btn.btn-source.active:focus, .btn.btn-source.active:hover, .open > .btn.btn-source.dropdown-toggle, .open > .btn.btn-source.dropdown-toggle:focus, .open > .btn.btn-source.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-source, .navbar .navbar-nav > li > a.btn.btn-source:hover, .navbar .navbar-nav > li > a.btn.btn-source:focus, .navbar .navbar-nav > li > a.btn.btn-source:active, .navbar .navbar-nav > li > a.btn.btn-source.active, .navbar .navbar-nav > li > a.btn.btn-source:active:focus, .navbar .navbar-nav > li > a.btn.btn-source:active:hover, .navbar .navbar-nav > li > a.btn.btn-source.active:focus, .navbar .navbar-nav > li > a.btn.btn-source.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-source.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-source.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-source.dropdown-toggle:hover {
    background-color: transparent;
    color: #007AFD;
    /* border: 3px solid #007AFD; */
}
.btn-source i { color: #007AFD !important; }
.btn-source { border-color:#007AFD !important; }
.btn.btn-source {
    border: 3px solid #007AFD;
}



.btn.btn-discover, .btn.btn-discover:hover, .btn.btn-discover:focus, .btn.btn-discover:active, .btn.btn-discover.active, .btn.btn-discover:active:focus, .btn.btn-discover:active:hover, .btn.btn-discover.active:focus, .btn.btn-discover.active:hover, .open > .btn.btn-discover.dropdown-toggle, .open > .btn.btn-discover.dropdown-toggle:focus, .open > .btn.btn-discover.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-discover, .navbar .navbar-nav > li > a.btn.btn-discover:hover, .navbar .navbar-nav > li > a.btn.btn-discover:focus, .navbar .navbar-nav > li > a.btn.btn-discover:active, .navbar .navbar-nav > li > a.btn.btn-discover.active, .navbar .navbar-nav > li > a.btn.btn-discover:active:focus, .navbar .navbar-nav > li > a.btn.btn-discover:active:hover, .navbar .navbar-nav > li > a.btn.btn-discover.active:focus, .navbar .navbar-nav > li > a.btn.btn-discover.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-discover.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-discover.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-discover.dropdown-toggle:hover {
    background-color: transparent;
    color: #FC1B44;
    /* border: 3px solid #FC1B44; */
}
.btn-discover i { color: #FC1B44 !important; }
.btn-discover { border-color:#FC1B44 !important; }
.btn.btn-discover {
    border: 3px solid #FC1B44;
}



.btn.btn-idea, .btn.btn-idea:hover, .btn.btn-idea:focus, .btn.btn-idea:active, .btn.btn-idea.active, .btn.btn-idea:active:focus, .btn.btn-idea:active:hover, .btn.btn-idea.active:focus, .btn.btn-idea.active:hover, .open > .btn.btn-idea.dropdown-toggle, .open > .btn.btn-idea.dropdown-toggle:focus, .open > .btn.btn-idea.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-idea, .navbar .navbar-nav > li > a.btn.btn-idea:hover, .navbar .navbar-nav > li > a.btn.btn-idea:focus, .navbar .navbar-nav > li > a.btn.btn-idea:active, .navbar .navbar-nav > li > a.btn.btn-idea.active, .navbar .navbar-nav > li > a.btn.btn-idea:active:focus, .navbar .navbar-nav > li > a.btn.btn-idea:active:hover, .navbar .navbar-nav > li > a.btn.btn-idea.active:focus, .navbar .navbar-nav > li > a.btn.btn-idea.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-idea.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-idea.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-idea.dropdown-toggle:hover {
    background-color: transparent;
    color: #FFC500;
    /* border: 3px solid #FFC500; */
}
.btn-idea i { color: #FFC500 !important; }
.btn-idea { border-color:#FFC500 !important; }
.btn.btn-idea {
    border: 3px solid #FFC500;
}
.btn-lrg i { color: #222222 !important; }

.x-micro-data {
    text-transform: uppercase;
}

.x-history-msg{
    padding: 5px;
    margin-bottom: 10px;
}
.x-history-msg .msg{
    margin-bottom:0;
}


.is-msg .on-hover {
    /* Do not hide this for now: */
    display: inline-block !important;
}

.is-msg > div:hover .on-hover, .in-editing .on-hover {
    display: inline-block !important;
}

.col_name{
    width: 150px;
}
.col_stat{
    width: 55px;
}

.note-btn {
    width: 40px;
    top: 13px;
}
.note-btn > span {
    padding: 2px 0 0 0;
    display: block !important;
}
.note-btn > span > span {
    border-radius: 50%;
    padding: 8px 0 !important;
    margin: 3px 3px 0 0;
}
.editor-discover > span > span {
    background-color: #FC1B44 !important;
}
.editor-idea > span > span {
    background-color: #FFC500 !important;
}
.note-btn i {
    color: #222222 !important;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.left-table, .left-table tr, .left-table td, .left-table th {
    text-align: left !important;
    cursor: default !important;
}

#url_preview {
    margin: 5px 0;
}

.inputfile + label {
    display: inline-block;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
    outline: 1px dotted #222222;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    pointer-events: none;
}
.i-url{
    margin:0;
}
.i-info, .i-footer {
    margin:10px 0 0;
}

.i-info, .i-info i {
    color:#999999 !important;
}

.i-desc{
    padding: 10px 0 5px;
}

.i-desc .icon-block{
    display: none;
}
.btn-block {
    display: block !important;
    width: 100%;
    text-align: left;
    padding: 10px 10px 10px 0;
}

i, .btn .show-max {
    font-size: 1.44em !important;
}

.inside-btn i {
    font-size: 0.80em !important;
}

.btn-lrg i, .controller-nav i {
    font-size: 1em !important;
}

.controller-nav{
    font-size: 2.6em;
}

/* FUNCTIONAL */
.inline-block{ display: inline-block !important; }
.inline{ display: inline !important; }
.block{ display: block !important; width: 100%; }
.hidden { display: none !important; }
.underline{ text-decoration: underline !important; }
.icon-block { width:41px !important; display: inline-block; text-align: center; }
.icon-block-xs{ width:41px !important; display: inline-block; text-align: center; } /* 33px */
.custom_ui_13491_13493 .icon-block-xs{ width:33px; }
.custom_ui_13491_13494 .icon-block-xs{ width:36px; }
.icon-block-lg{ width:50px; display: inline-block; text-align: center; }
.icon-block-img img,
.icon-block-lg img,
.icon-block img{
    border-radius: 50%;
    line-height: 100%;
    width: 33px !important;
    height: 33px !important;
    margin-left: 2px !important;
    margin-right: 3px !important;
    margin-bottom: 0 !important;
}
.icon-block-xs img {
    width: 24px !important;
    height: 24px !important;
}



.mench-logo{
    border-radius: 50%;
    line-height: 100%;
    width: 33px !important;
    height: 33px !important;
    margin-left: 3px !important;
    margin-right: 5px !important;
    margin-bottom: 0 !important;
    margin-top: 3px;
    border-radius:0 !important;
    display: block;
    float: left;
}

.mench-circle{
    line-height: 100%;
    width: 41px !important;
    margin-bottom: 0 !important;
    margin-top: 9px;
    display: block;
    float: left;
    text-align: center;
}

.icon-demo img {
    border-radius: 0% !important;
}
.icon-block-lg img {
    width: 46px !important;
    height: 46px !important;
}
.social-footer{
    text-align: center;
    list-style: none;
    padding: 89px 0 34px;
    margin: 0;
}
.social-footer li{
    display: inline-block;
    font-size: 1.5em;
    margin: 0 10px;
}
.texttype__sm {
    width:55px;
    margin-bottom: 5px;
}
.text_e_4736, .text_e_6197 {
    width:calc(100% - 46px);
    margin-bottom: 0;
}
.i-left {
    display: block;
    float: left;
    /* Accomodate Right Follow Transactions */
    width: -webkit-calc(100% - 15px);
    width:    -moz-calc(100% - 15px);
    width:         calc(100% - 15px);
}
.texttype__lg, .x__message, .x_input, .add_notes_form, .note-textarea.edit-on {
    width: -webkit-calc(100% - 82px);
    width:    -moz-calc(100% - 82px);
    width:         calc(100% - 82px);
}
.i-info, .cover-title, .width-icon-block {
    width: -webkit-calc(100% - 41px) !important;
    width:    -moz-calc(100% - 41px) !important;
    width:         calc(100% - 41px) !important;
}
.block-one {
    padding-top: 5px;
    width: -webkit-calc(100% - 10px) !important;
    width:    -moz-calc(100% - 10px) !important;
    width:         calc(100% - 10px) !important;
}
.cover-title {
    padding-top: 2px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.icon-title {
    padding-top: 9px;
}


.texttype__sm{
    display: inline-block;
    color: #222222;
    padding: 0;
}
.texttype_4356_sm {
    padding:0;
    width: 55px;
    text-align: left;
    margin-left: -6px;
    color: #222222 !important;
}
.texttype__lg {
    background-color: transparent;
    font-weight: bold;
    color:#222222;
    padding:0;
    margin-bottom: 5px;
}
.title-icon{
    vertical-align: top;
    margin-top: 6px;
}
.title-icon .dropdown{
    margin-top: -5px;
}
.action-left-btn{
    margin:-49px 0 26px 9px;
}
.texttype__lg::placeholder, .alert a {
    font-weight: bold;
}
.form-control::placeholder {
    color: #999999;
}

.superpower-message{
    display: inline-block;
    padding-left: 5px;
}
.pull-middle {
    display: block;
    width: 90px;
    margin: 0 auto;
    font-size: 1.7em;
    text-align: center;
    height: 30px;
    padding-top: 7px;
    margin-bottom: -77px;
    margin-top: 47px;
}
.small-click{
    display: block;
    font-size: 0.5em;
    margin-top: 10px;
    text-decoration: underline;
}
.pull-middle a, .pull-middle span{
    color: #999999;
}

.headline{
    padding:10px 0;
}

.headline, .headline a, .headline i {
    color: #999999 !important;
    text-transform: uppercase;
}

.x-info-topic{
    margin: -10px 0 30px;
}
.list-group .headline{
    margin:5px 0;
    color: #222222;
}
.share-this .icon-block{
    cursor: pointer;
}
.mirror-v{
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}
.mirror-h{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.show-min{display:none;}
.btn-five{ margin-left:5px; }
.list-group-item.active {color:#222222;}

.list-radio-select .list-group-item {
    color:#999999 !important;
}

.list-radio-select .list-group-item.active {
    color:#222222 !important;
}
.show-max-active {display: none !important;}
.active .show-max-active {display: inline-block !important;}

.top-icon{
    vertical-align: top;
    margin-top: -17px;
}

.thin-top{
    margin-top: -7px !important;
}

.name-block{
    height: 15px;
    overflow: hidden;
    display: block;
    width: 75%;
    display: block;
    margin-top: -18px;
    margin-left: 36px;
    line-height: 100%;
}
.message-center, .message-center .msg {
    text-align: center;
}

.feature-content .padded{
    margin: 0 !important;
}
.feature-content>div{
    margin:0 0 8px 0 !important;
}
.icon-tweak{ padding-left: 3px; }


.cover-wrapper {
    border:0;
    margin:0 3px;
}
.form-check{
    padding: 8px 0 8px 42px;
}
.cover-link {
    border:0;
    width: 100%;
    position: relative;
    padding-top: 150%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    border-radius: 10px;
    margin-bottom: 6px;
    overflow: hidden;
}
.chat-title{
    position: fixed;
    bottom: 0;
    right: 0px;
    text-align: center;
    width: 114px;
    height: 26px;
    overflow: hidden;
    z-index: 99999999;
    padding-top: 3px;
}
.chat-title span{
    z-index: 99999999;
    padding: 3px;
    border-radius: 10px;
    line-height: 125%;
}
.cover-link .inside-btn {
    position:  absolute;
    text-align: center;
    font-size: 25px;
    color:#FFFFFF;
    border-radius: 50%;
    width:34px;
    height: 34px;
}
.inside-btn>i, .inside-btn-alt>i {
    margin-top: 6px;
    color: #FFFFFF !important;
}
.inside-btn .btn {
    padding: 0 !important;
    margin-left: -3px !important;
}
.modal-body{
    padding: 10px;
}

.cover-text {
    margin: -3px 0 13px;
    text-align: center;
    font-size: 0.80em;
}
.cover-progress{
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
}
.cover-content{
    top: 0;
    left: 3px;
    width: calc(100% - 6px) !important;
    max-height: 70%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    display: block;
}

.cover-content .inner-content {
    padding: 5px 0 0;
    line-height: 120%;
    font-size: 0.80em;
    display: block;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cover-content * {
    color: #FFFFFF;
}

.full-width-btn {
    padding: 0 3px;
}
.full-width-btn a {
    display: block;
    margin:0;
}
.cover-content .msg, .cover-content .msg>span {
    line-height: 110% !important;
}
.cover-content .icon-block-xs {
    display: none;
}
.cover-content .icon-block-xs img {
    margin: 1px 0 0 3px !important;
}
.cover-content .padded{
    margin: 0 !important;
}
.cover-content .msg{
    font-size: 0.8em !important;
}

.inside-btn.left-btn {
    bottom: 13px;
    left: 5px;
}
.inside-btn.right-btn {
    bottom: 13px;
    right: 5px;
}

.wrap-idea .inside-btn {
    background-color: #FFC500 !important;
}

.islocked{
    cursor: not-allowed !important;
}

.modal-dialog{
    max-width: 767px;
}
.modal-content{
    border: 3px solid transparent;
    border-radius: 13px;
}
.giphy_logo{
    background-color: #222;
    padding: 5px;
    border-radius: 13px;
}
.modal-header{
    border-bottom:0;
}
.gif-col{
    padding:0 5px 21px 0 !important;
}
.gif-col img{
    width: 100%;
    border-radius: 13px;
}
.avatar-type-group{
    margin: 20px auto;
    text-align: center;
    display: block;
}

/* RESPONSIVE */
@media (max-width:767px) {

    .drip_msg{
        margin-top: 8px;
    }

    .message-center, .message-center .msg {
        text-align: left;
    }

    .superpower-message{
        display: block;
        padding:5px 41px;
    }

    h1{
        font-size: 3.2em;
    }

    .social-footer li{
        font-size: 1.2em;
    }
    .icon-tweak{ padding-left: 8px; }
    .name-block{ margin-left: 41px; }

    .story-bar li{
        margin: 0 1px 0 0;
    }

    .title-block{
        padding-bottom: 3px !important;
    }

    .cover-title {
        padding-top: 6px;
    }

    .feature-content>div{
        margin:0 0 5px 0 !important;
    }

    .top-icon{
        margin-top: -12px;
    }
    .todiscover .top-icon{
        margin-top: -7px;
    }
    .texttype__lg { font-size: 2.3em; }

    .mini-hidden{
        display: none;
    }

    .icon-block-lg img {
        width: 41px !important;
        margin: -13px 0 -8px -2px !important;
        height: 41px !important;
    }
    .container {
        max-width: none;
    }
    .content-image{ max-height:144px; }
    .show-on-hover { display:inline-block !important; }
    .form-control-thick { padding-left: 26px; }


    td.MENCHcolumn1  { width: 60%; }
    td.MENCHcolumn12  { width: 80%; }
    td.MENCHcolumn2  { width: 20%; }
    td.MENCHcolumn3  { width: 20%; }

    .media-content, .x__message img, .x__message video, .i_content img { max-width: 100%; }
    .content-image {
        max-width: calc(100% - 82px);
        max-height:610px;
    }

    .show-max{display: none !important;}
    .show-min{display: inline-block !important;}

    .mench-navigation .block-sign-x{
        width:40px;
    }
    .btn-lrg{
        font-size: 1.7em !important;
    }

}

@media (max-width:576px) {
    .col2nd { padding-left: 41px !important; padding-top: 8px; }
    h1{
        font-size: 2.5em;
    }
}

.form-control{
    background-color:transparent;
}

.itemidea.list-group-item {
    padding:10px 0;
}

.sequal-topic{
    padding: 20px 0 5px;
}


.i-previous{
    padding-right: 5px;
    min-width: 50px;
    display: inline-block;
    text-align: right;
}
.i-next{
    min-width:50px;
    display: inline-block;
}


.hideIfEmpty:empty {
    display: none !important;
}
.list-adder{
    padding: 7px 0 !important;
}
.icon-adder{
    margin-top: 3px;
    margin-bottom: -26px;
}
.divider{
    height: 1px;
    background-color: #222222 !important;
}
.round-btn{
    background-color: #FC1B44 !important;
    display: inline-block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding:9px 0 0 0;
    text-align: center;
}

.info_box{
    padding: 8px 0;
}
.info_box_header{
    padding:13px 3px 0;
    font-size: 2.5em;
    text-align: center;
    line-height: 110%;
}
.info_box_cover{
    padding:21px 0;
    text-align: center;
    font-size: 3.4em;
}
.info_box_title{
    text-align: center;
    font-size: 1.5em;
    padding: 0 8px;
    line-height: 110%;
}
.info_box_message{
    text-align: center;
    margin:13px 21px;
}


.form-group, .form-control:focus {
    background-color: transparent;
}

.custom_ui_13884_13886 .white-border {
    border: 3px solid #FFFFFF !important;
    border-radius: 13px;
}
.custom_ui_13884_13885 .white-border {
    border: 3px solid #222222 !important;
    border-radius: 13px;
}

.first_btn{
    padding-right: 13px !important;
    width: 41px !important;
}

.btn.btn-default {
    border: 3px solid transparent;
}



.mono-space, .fa-gif-wrap{
    font-family: 'Roboto Mono', monospace !important;
    font-weight: normal !important;
}

.fa-gif-wrap{
    border:2px solid transparent;
    border-radius: 3px;
    font-size: 0.8em !important;
    text-transform: uppercase;
    padding: 4px;
    font-weight: bold !important;
}


/* SERIF / CONTENT */
.custom_ui_14506_14508 div,
.custom_ui_14506_14508 p,
.custom_ui_14506_14508 html,
.custom_ui_14506_14508 body,
.custom_ui_14506_14508 .dorubik {
    font-family:'Roboto Slab', serif !important;
    font-weight:400 !important;
}



/* SERIF / HEADER */
.custom_ui_14506_14508 h1,
.custom_ui_14506_14508 .css__title,
.custom_ui_14506_14508 .headline,
.custom_ui_14506_14508 .btn,
.custom_ui_14506_14508 .algolia_pad_search,
.custom_ui_14506_14508 .media-info,
.custom_ui_14506_14508 .progress-title,
.custom_ui_14506_14508 .progress-rate,
.custom_ui_14506_14508 .mid-text-line span,
.custom_ui_14506_14508 .previous_answer,
.custom_ui_14506_14508 .nav-x,
.custom_ui_14506_14508 .texttype__lg,
.custom_ui_14506_14508 .texttype__lg::placeholder,
.custom_ui_14506_14508 .alert a,
.custom_ui_14506_14508 .pull-middle {
    font-family:'Bitter', serif !important;
    font-weight:800 !important;
}




/* SANSSERIF / CONTENT */
.custom_ui_14506_14507 div,
.custom_ui_14506_14507 p,
.custom_ui_14506_14507 html,
.custom_ui_14506_14507 body,
.custom_ui_14506_14507 .dorubik {
    font-family: 'Rubik', sans-serif;
}



/* SANSSERIF / HEADER */
.custom_ui_14506_14507 h1,
.custom_ui_14506_14507 .css__title,
.custom_ui_14506_14507 .headline,
.custom_ui_14506_14507 .btn,
.custom_ui_14506_14507 .algolia_pad_search,
.custom_ui_14506_14507 .media-info,
.custom_ui_14506_14507 .progress-title,
.custom_ui_14506_14507 .progress-rate,
.custom_ui_14506_14507 .mid-text-line span,
.custom_ui_14506_14507 .previous_answer,
.custom_ui_14506_14507 .nav-x,
.custom_ui_14506_14507 .texttype__lg,
.custom_ui_14506_14507 .texttype__lg::placeholder,
.custom_ui_14506_14507 .alert a,
.custom_ui_14506_14507 .pull-middle {
    font-family:'Montserrat', sans-serif;
    font-weight:800 !important;
}









/* DARK */
.custom_ui_13884_13886,
.custom_ui_13884_13886 .fade,
.custom_ui_13884_13886 .container,
.custom_ui_13884_13886 .table-striped tbody tr,
.custom_ui_13884_13886 .x-list,
.custom_ui_13884_13886 .accordion .card,
.custom_ui_13884_13886 .coin-frame,
.custom_ui_13884_13886 .btn-block,
.custom_ui_13884_13886 textarea,
.custom_ui_13884_13886 .modal-content,
.custom_ui_13884_13886 .form-control,
.custom_ui_13884_13886 .edit-locked span,
.custom_ui_13884_13886 .chat-title span,
.custom_ui_13884_13886 div.dropdown-item,
.custom_ui_13884_13886 .mid-text-line span{
    background-color:#222222;
    color: #FFFFFF;

}

.custom_ui_13884_13886 .btn-default i,
.custom_ui_13884_13886 .dropdown-menu,
.custom_ui_13884_13886 .aa-dropdown-menu .aa-suggestion, .suggestion,
.custom_ui_13884_13886 .algolia-autocomplete .aa-dropdown-menu{
    background-color:#222222 !important;
    color: #FFFFFF !important;
}


.custom_ui_13884_13886 .new-note,
.custom_ui_13884_13886 .some-text{
    background-color:transparent !important;
    color: #FFFFFF !important;
}
.custom_ui_13884_13886 .adj-btn i,
.custom_ui_13884_13886 .controller-nav i,
.custom_ui_13884_13886 .controller-nav,
.custom_ui_13884_13886 .btn-source,
.custom_ui_13884_13886 .btn-idea,
.custom_ui_13884_13886 .btn-discover {
    color: #FFFFFF !important;
}
.custom_ui_13884_13886 .icon-block i,
.custom_ui_13884_13886 .mench-navigation a,
.custom_ui_13884_13886 .css__title,
.custom_ui_13884_13886 a,
.custom_ui_13884_13886 .close span,
.custom_ui_13884_13886 .fa-gif-wrap{
    color: #FFFFFF;
}

.custom_ui_13884_13886 .cover-link {
    border-color: #222222 !important;
}
.custom_ui_13884_13886 .btn-source,
.custom_ui_13884_13886 .btn.btn-source,
.custom_ui_13884_13886 .nav-tabs,
.custom_ui_13884_13886 .dropdown-menu,
.custom_ui_13884_13886 .nav-tabs .nav-item.show .nav-x,
.custom_ui_13884_13886 .nav-tabs .nav-x.active,
.custom_ui_13884_13886 .nav-tabs .nav-x:focus,
.custom_ui_13884_13886 .nav-tabs .nav-x:hover,
.custom_ui_13884_13886 .btn.btn-default,
.custom_ui_13884_13886 .modal-content,
.custom_ui_13884_13886 #x_reply,
.custom_ui_13884_13886 .fa-gif-wrap{
    border-color: #FFFFFF !important;
}
.custom_ui_13884_13886 .nav-tabs .nav-item.show .nav-x,
.custom_ui_13884_13886 .nav-tabs .nav-x.active,
.custom_ui_13884_13886 .nav-tabs .nav-x:focus,
.custom_ui_13884_13886 .nav-tabs .nav-x:hover {
    border-bottom-color: #222222 !important;
}

.custom_ui_13884_13886 .light-bg,
.cover-link .inside-btn,
.cover-content .inner-content,
.media-info {
    background: rgba(34,34,34,0.75);
}

.custom_ui_13884_13886 .doabsolute,
.custom_ui_13884_13886 .editor_preview:hover{
    background-color: #000000 !important;
}

.editor_preview{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin:0 41px;
}
.editor_preview .msg, .padded .msg {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.cover-content .msg {
    margin: 5px 5px 0 !important;
    text-align: left !important;
}


.editor_preview:hover{
    cursor: text !important;
    border-radius: 10px !important;
}

.doabsolute {
    border-radius: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

/* WHITE */
.custom_ui_13884_13885,
.custom_ui_13884_13885 .container,
.custom_ui_13884_13885 .fade,
.custom_ui_13884_13885 .coin-frame,
.custom_ui_13884_13885 .chat-title span,
.custom_ui_13884_13885 div.dropdown-item,
.custom_ui_13884_13885 .mid-text-line span
{
    background-color: #f0f0f0;
    color: #222222;
}
.custom_ui_13884_13885 .table-striped tbody tr,
.custom_ui_13884_13885 .x-list,
.custom_ui_13884_13885 .accordion .card,
.custom_ui_13884_13885 .btn-block,
.custom_ui_13884_13885 .dropdown-menu,
.custom_ui_13884_13885 .algolia-autocomplete .aa-dropdown-menu,
.custom_ui_13884_13885 .aa-dropdown-menu .aa-suggestion, .suggestion,
.custom_ui_13884_13885 textarea,
.custom_ui_13884_13885 .modal-content {
    background-color:#f0f0f0; /* WAS WHITE */
    color: #222222;
}
.custom_ui_13884_13885 .some-text{
    background-color:transparent !important;
    color: #222222;
}

.alert a, .alert i, .custom_ui_13884_13885 .btn-default i,
.custom_ui_13884_13885 .new-note,
.custom_ui_13884_13885 .controller-nav i,
.custom_ui_13884_13885 .controller-nav,
.custom_ui_13884_13885 .btn-source,
.custom_ui_13884_13885 .btn-idea,
.custom_ui_13884_13885 .btn-discover {
    color: #222222 !important;
}

.custom_ui_13884_13885 a,
.custom_ui_13884_13885 .mench-navigation a,
.custom_ui_13884_13885 .form-control,
.custom_ui_13884_13885 .fa-gif-wrap{
    color: #222222;
}
.custom_ui_13884_13885 .cover-link
{
    border-color: #f0f0f0 !important; /* WAS WHITE */
}


.btn-tiny{
    font-size: 0.55em !important;
}
.custom_ui_13884_13885 .btn-source,
.custom_ui_13884_13885 .btn.btn-source,
.custom_ui_13884_13885 .nav-tabs,
.custom_ui_13884_13885 .dropdown-menu,
.custom_ui_13884_13885 .nav-tabs .nav-item.show .nav-x,
.custom_ui_13884_13885 .nav-tabs .nav-x.active,
.custom_ui_13884_13885 .nav-tabs .nav-x:focus,
.custom_ui_13884_13885 .nav-tabs .nav-x:hover,
.custom_ui_13884_13885 .btn.btn-default,
.custom_ui_13884_13885 .modal-content,
.custom_ui_13884_13885 #x_reply,
.custom_ui_13884_13885 .fa-gif-wrap
{
    border-color: #222222 !important;
}
.custom_ui_13884_13885 .nav-tabs .nav-item.show .nav-x,
.custom_ui_13884_13885 .nav-tabs .nav-x.active,
.custom_ui_13884_13885 .nav-tabs .nav-x:focus,
.custom_ui_13884_13885 .nav-tabs .nav-x:hover {
    border-bottom-color: #f0f0f0 !important; /* WAS WHITE */
}
.custom_ui_13884_13885 .light-bg {
    background: rgba(240,240,240, 0.75);
}
.custom_ui_13884_13885 .doabsolute,
.custom_ui_13884_13885 .editor_preview:hover {
    background-color:#FFFFFF !important;
}
.btn-grey .fa-gif-wrap {
    border-color: #999999 !important;
}
@media (min-width:767px) {

    /* DARK */
    .custom_ui_13884_13886 .itemidea:hover{
        background-color:#796e35 !important;
    }
    .custom_ui_13884_13886 .itemsource:hover{
        background-color:#375266 !important;
    }
    .custom_ui_13884_13886 .itemdiscover:hover{
        background-color: #774040 !important;
    }


    /* WHITE */
    .custom_ui_13884_13885 .itemidea:hover {
        background-color:#fff4b5 !important;
    }
    .custom_ui_13884_13885 .itemsource:hover {
        background-color:#a2cdec !important;
    }
    .custom_ui_13884_13885 .itemdiscover:hover {
        background-color: #ffcbcb !important;
    }

}





/* FONT SIZE */
.custom_ui_13491_13492 .msg{ font-size:0.9em; }
.custom_ui_13491_13492 .msg i{ font-size:1.6em !important; } /* To get to 1.44em*/

.custom_ui_13491_13493 .msg, .custom_ui_13491_ .msg{ font-size:1.1em; }
.custom_ui_13491_13493 .msg i, .custom_ui_13491_ .msg i{ font-size:1.31em !important; } /* To get to 1.44em*/

.custom_ui_13491_13494 .msg{ font-size:1.5em; }
.custom_ui_13491_13494 .msg i{ font-size:0.96em !important; } /* To get to 1.44em*/



.form-control:disabled, .dynamic_saving {
    background-color: #999999 !important;
}

