@CHARSET "ISO-8859-1";
@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
    html { font-family: 'Rubik', sans-serif; }
}

body {
    font-size: 1em;
    margin:55px 0 144px 0 !important;
    font-weight: 400;
    line-height: 110%;
    font-family: 'Rubik', sans-serif;
}



[class*="col-"], .no-side-padding {padding-left:0px !important;padding-right:0px !important;}
.no-left-padding {padding-left:0px !important;}
.row {margin-left:0px;margin-right:0px;}
.container {
    max-width:767px;
    padding:0;
}
.padded {
    margin: 0 40px 41px 41px;
}
.edit-off .padded, .edit-on .padded {
    margin-bottom: 0;
}
.margin-top-down{
    margin:34px 0 55px;
}
.margin-top-down-half{
    margin:13px 0;
}
.paddingup{
    padding:10px 0 0;
}
.i-footer .paddingup{
    padding:0 !important;
}
.content-image {
    margin:0;
}

.dorubik{
    font-family: 'Rubik', sans-serif !important;
    font-weight: 400;
}
.doleft{
    text-align: left !important;
}
.doright{
    text-align: right !important;
}
.span__4356{
    display: inline-block;
}
.media-content, .x__message video {
    /* max-width: 377px; */
    border-radius: 13px !important;
}
.x__message img, .i_content img, .content-image {
    max-width: 100%;
    max-height: 377px;
    border-radius: 13px !important;
    margin: 0;
    display: block;
}
.mench-idea .media-content, .mench-idea .x__message video {
    max-width: 377px;
}
.mench-discover .x__message img, .mench-discover .i_content img, .mench-discover .content-image {
    max-height: 610px;
    margin: 0 auto;
}
.mench-discover .e-appendix{
    text-align: center !important;
}
.yt-container{
    margin: 10px 0 0;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.yt-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 13px !important;
}
.list-group-item {
    border: 0;
    border-radius: 0 !important;
    padding:10px 5px;
    margin: 0;
    width: 100%;
    background-color: transparent;
}

#searchFrontForm{margin-top:5px; padding-right: 5px;}
.table-sm td, .table-sm th { padding:0; }
.table {
    width: 100%;
}

table td { border: none !important; }

.texttype__lg, h1{ font-size: 2.3em; }
h1 i {
    font-size:0.417em !important;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    margin-top:0;
    margin-bottom:41px;
    margin-left: 0;
    padding-left: 0;
}

.list-group-item h1 {
    margin-bottom:8px;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li a {
    text-decoration: none;
}

.avatar-item {
    display: block;
    float: left;
    width: 180px !important;
    padding: 20px 0  !important;
}
.avatar-item.active, .btn-group a.active , .itemsetting.active{
    background-color: #999999 !important;
    margin-top: 0 !important;
    border-top-width: 0 !important;
    border-radius: 13px !important;
}

.avatar-item .avatar-icon {
    display: block;
    text-align: center;
    width: 100% !important;
    font-size:4.3em;
}


.dropdown-item {
    padding:10px 20px 7px 1px;
}

/* FONTS */
.montserrat, .headline, .btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-left: 0 !important;
}
.e-appendix a, .e-appendix a .url_truncate {
    text-decoration: underline;
}

.doupper, .text_e_6197 {
    text-transform: uppercase !important;
}
.add-input{
    margin-bottom: 0;
    padding: 5px 0 !important;
    width: 100%;
}

.large-icon{
    font-size: 1.5em;
    padding: 2px 4px 0 0;
}

.form-control-thick{
    padding:7px 10px 7px 41px;
}
.bottom-x-line{
    order-bottom: 1px solid #FC1B44;
    margin-bottom: 10px;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em !important;
    border-radius: 0 !important;
}

a.btn, .btn.dropdown-toggle, label.btn {
    padding:15px;
    min-width: 60px;
}

.left_nav a.btn, .left_nav .btn.dropdown-toggle, .left_nav label.btn{
    padding:10px;
}
.left_nav .btn {
    padding:12px 0 11px 0 !important;
}

.mench_coin .btn {
    padding: 8px 8px 8px 0 !important;
}

img.no-radius {
    border-radius:0 !important;
}

#MyAccountAccordion .padded {
    margin: 0 13px 13px 13px !important;
}

.alert{
    padding:10px 0 !important;
    border-radius: 0;
    margin:0;
    border: 0 !important;
}


.alert a{
    text-decoration: underline;
}

.alert-warning {
    color: #222222;
    background-color: #fff4b5;
    border-color: #fff4b5;
}
.alert-danger {
    color: #222222;
    background-color: #fbc4ce;
    border-color: #fbc4ce;
}
.alert-info {
    color: #222222;
    background-color: #b2defd;
    border-color: #b2defd;
}


.dounderline{
    text-decoration: underline !important;
}


.card-header{
    padding: 0;
    background-color:transparent !important;
}
.card-body{
    padding-top: 10px;
}
.accordion>.card {
    border-radius: 0 !important;
    border:0;
}

.indentation .list-group-item:nth-child(2) {
    padding-left: 13px !important;
}
.indentation .list-group-item:nth-child(3) {
    padding-left: 26px !important;
}
.indentation .list-group-item:nth-child(4) {
    padding-left: 39px !important;
}
.indentation .list-group-item:nth-child(5) {
    padding-left: 52px !important;
}
.indentation .list-group-item:nth-child(6) {
    padding-left: 65px !important;
}
.indentation .list-group-item:nth-child(7) {
    padding-left: 78px !important;
}


.form-control:disabled, .form-control[readonly] {
    background-color:transparent !important;
}

.algolia_pad_search{
    height:377px;
    font-family: 'Montserrat', sans-serif;
    padding: 13px 41px;
    color: #999999;
    font-weight: bold;
}
.gateway{
    color:transparent !important;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.pull-right{
    float:right;
}
.pull-left{
    float:left;
}

.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    border-top: none;
    font-weight: normal;
    z-index: 99999 !important;
}


.no-margin{
    margin:10px 0 0;
}

.aa-dropdown-menu {
    width: 100% !important;
}

.panel-body .form-control {
    padding:7px 0;
    width: 100%;
}

.edit-off .content-image{
    max-height:250px;
}
.big-frame{
    padding:55px 41px;
    text-align: center;
    margin:0;
    font-size: 3.4em;
}

.extra-big{
    font-size: 4.2em !important;
}

.aa-dropdown-menu .aa-suggestion, .suggestion {
    border:0;
    cursor: pointer;
    padding: 7px 3px;
    font-weight: 500;
    margin: 0;
    display: block;
    text-decoration: none;
}

.aa-dropdown-menu .aa-suggestion.aa-cursor, .suggestion:hover {
    background-color: #999999;
    text-decoration: none;
}

.aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
}

.list-group-item .col2{
    overflow: hidden;
}

.center-info{
    width: 100%;
    max-width:380px !important;
    padding: 15px;
    padding-top:41px;
    margin: 0 auto;
}
.center{
    text-align: center !important;
}

.featured-frame{
    text-align: center;
    width: 89px;
    margin-left:5px;
}
.table-sm td .featured-frame{
    margin-right:10px;
}
.featured-image {
    max-width: 89px;
    max-height: 144px;
    overflow: hidden;
    display: block;
}
.featured-image img{
    width: 100%;
}

.nav-tabs {
    margin:0 0 10px 0;
    padding-left: 41px !important;
}

.nav-pills {
    margin:0 0 10px;
    margin-left: 41px;
}

.x-info{
    padding:21px 0 21px 41px;
    margin:0;
    line-height: 144%;
}
.message_content{
    margin-left: 41px;
}
.i-footer .message_content{
    margin-left:0;
}

.info-item a, .info-item i {
    color:#999999 !important;
}
.info-item a {
    text-decoration: underline;
}

.x-ref{
    margin-left: 24px;
    margin-top: -43px;
}
.x-ref .x-list{
    background-color:transparent !important;
}
.underdot{
    cursor: help;
}

.border-source.active{
    border-color: #007AFD;
}
.border-idea.active{
    border-color: #ffc500;
}
.border-discover.active{
    border-color: #FC1B44;
}



.controller-nav>i{
    color: #222222 !important;
    font-size: 2.6em;
}

/* MENCH Colors */
.source, .source .fas, .source .far, .source .fal, .source .fad, .color12274, .info-item i.source:hover, .info-item a.source:hover, .headline.source, .headline.source a, .headline.source i  { color:#007AFD !important; }
.idea, .idea .fas, .idea .far, .idea .fal, .idea .fad, .color12273, .info-item i.idea:hover, .info-item a.idea:hover, .headline.idea, .headline.idea a, .headline.idea i  { color:#ffc500 !important; }
.discover, .discover .fas, .discover .far, .discover .fal, .discover .fad, .color6255, .info-item i.discover:hover, .info-item a.discover:hover, .fas.redalert, .headline.discover, .headline.discover a, .headline.discover i  { color:#FC1B44 !important; }
.grey, .grey i, .grey .source, .grey .idea, .grey .discover, .headline .source, .headline .idea, .headline .discover { color:#999999 !important; }
.black, .black i, .black.fas, .black.far, .black.fal, .black.fad { color:#222222 !important; }

.btn-source i, .btn-discover i, .btn-idea i { color: #222222 !important; }


.mid-range{
    padding: 0 2px;
}
.right-adj {
    margin-top:-22px;
    margin-right:41px !important;
}
.discover-controller{
    width: 100% !important;
    display: table;
    table-layout: fixed;
}
.discover-controller div{
    text-align: center;
    display: table-cell;
    padding:0 0 13px;
    width: 2%;
    margin-bottom: 0;
}
.discover-controller div a{
    display: inline-block;
    border-radius: 50%;
    background-color: #FC1B44;
    width: 60px;
    height: 60px;
    padding:9px 0 0 0;
}
.nav-title{
    display: block;
    padding: 5px 0 !important;
}


.mini-circle{
    display: inline-block;
    border-radius: 50%;
    background-color: #FC1B44;
    padding: 8px 0;
    width: 34px;
    text-align: center;
    font-size: 0.9em;
}

.i_estimates{
    padding:10px 0;
}
.table-condense{
    margin-bottom: 5px;
}

.mono-space{
    font-family: 'Roboto Mono', monospace !important;
    font-weight: normal !important;
}

.cover-image {
    width: 100%;
    border:1px solid #222222;
}
.media-info {
    padding: 1px 4px;
    background: rgba(0, 0, 0, 0.89);
    position: absolute;
    color: #FFF;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 10px;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
}
.btn-lrg{
    font-size: 2em !important;
}
.click-info {
    padding: 5px 10px;
}

.media-info.bottom-left{
    left: 4px;
    bottom: 5px;
}
.media-info.bottom-center{
    left: 60px;
    bottom: 5px;
}
.media-info.bottom-right{
    right: 4px;
    bottom: 5px;
}
.media-info.mid-right{
    right: 4px;
    bottom: 45px;
}
.media-info.top-right{
    right: 4px;
    top: 5px;
}
.media-info.top-left{
    left: 4px;
    top: 5px;
}

.progress-title{
    text-align: center;
    width: 100%;
    padding-top: 21px;
    padding-bottom: 3px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #999999;
}
.progress-bg-list{
    margin: 0;
    background-color: #CCCCCC;
    position: relative !important;
    height:5px;
    cursor: pointer;
    overflow: hidden;
}

.wrap-card {
    border: 3px solid transparent;
    padding:13px 0 25px 0;
    border-radius: 34px;
}

.coin-frame{
    border: 3px solid transparent;
    padding:0 0 25px 0;
    border-radius: 34px;
}

.card-source{
    border: 3px solid #007AFD;

}
.card-idea{
    border: 3px solid #ffc500;
}
.card-discover{
    border: 3px solid #FC1B44;
}
.card-grey{
    border-color:#999999 !important;
}



.progress-micro{
    width:160px !important;
}
.btn-right{
    left: 179px;
}
.btn-left{
    left: 51px;
}

.cover-photo {
    padding:0 0 0 41px;
}
.cover-photo img{
    border: 3px solid #FC1B44;
    border-radius:34px;
    padding: 2px;
    height: 290px;
    width: 200px;
}
.cover-photo b{
    margin:8px 0 0 41px !important;
    font-size:1em;
    text-align: center;
    width: 200px;
    display: block;
}

.cover-done img{
    border-color: #999999 !important;
}
.cover-gold img{
    border-color: #ffc500 !important;
}
.progress-done{
    height:5px;
    background-color: #FC1B44;
}

.progress-rate{
    margin: -20px 0 0 0;
    width: 100%;
    line-height: 100%;
    padding: 3px 0 0px;
    font-family: 'Montserrat', sans-serif;
    height: 20px;
}
.progress-rate i{
    color: #222222 !important;
}


.fixed-bottom{
    padding: 0;
}
.fixed-top, .fixed-bottom {
    z-index: 9999 !important;
}


.no-horizonal-margin{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}



.mixed-a{
    text-decoration:none !important;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.overload {
    color: #FC1B44;
    font-weight: bold;
}


.mench-spin {
    -webkit-animation: mench-spin 13s infinite linear;
    animation: mench-spin 13s infinite linear;
}
.lazyimage:not(.loaded) {
    -webkit-animation: mench-spin 5s infinite linear;
    animation: mench-spin 5s infinite linear;
    width: 55px;
    margin: 10px;
    display: block;
    border:0 !important;
}
.mench-large{
    width:128px;
    margin-bottom: 41px;
}

@-webkit-keyframes mench-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

@keyframes mench-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }


.btn-main .far, .btn-main .fas, .btn-main .fal, .btn-main .fad { font-size: 1.5em; margin-top:3px; }

.form-control, .border {
    border:0 !important;
    height: 100%;
    line-height: 100%;
}




.nav-tabs {
    border-bottom: 3px solid #999999;
}
.nav-tabs, .dropdown-menu {
    border-color:#999999 !important;
}

.nav-source, .nav-source .nav-item.show .nav-x, .nav-source .nav-x.active, .nav-source .nav-x:focus, .nav-source .nav-x:hover {
    border-color:#007AFD !important;
}
.nav-idea, .nav-idea .nav-item.show .nav-x, .nav-idea .nav-x.active, .nav-idea .nav-x:focus, .nav-idea .nav-x:hover{
    border-color:#ffc500 !important;
}
.nav-discover, .nav-discover .nav-item.show .nav-x, .nav-discover .nav-x.active, .nav-discover .nav-x:focus, .nav-discover .nav-x:hover{
    border-color:#FC1B44 !important;
}


.nav-tabs .nav-item.show .nav-x, .nav-tabs .nav-x.active, .nav-tabs .nav-x:focus, .nav-tabs .nav-x:hover{
    border: 3px solid #999999;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    position: relative;
}

.nav-tabs .nav-item {
    margin-bottom: -3px;
}

#x_reply{
    padding: 5px;
    border: 3px solid #FC1B44 !important;
    height: 55px;
    border-radius: 13px !important;
}
.previous_answer{
    display: block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.nav-pills .nav-x.active, .nav-pills .show>.nav-x {
    color: #fff;
    background-color: #222222;
    border-radius: 10px;
}

.black.active, .black.active i, .grey.active, .grey.active i {
    color: #fff !important;
}

.tab-content{
    padding:0;
}

.msg {
    line-height: 144%;
}

.msg-nav {
    list-style-type: none;
    margin:10px 0 0 0;
    padding:0;
}

.msg-nav > li {
    margin-left: 7px;
    display: inline-block;
    padding: 0;
    color: #666;
}

.msg-nav > li > a {
    color: #222222;
    padding: 3px 5px;
    border-radius: 0;
}

.msg-nav > li .btn {
    margin: -10px 10px 0 -5px !important;
    padding: 10px;
}

.msg-nav li > .dropup {
    margin: -4px -8px 0 0 !important;
    padding: 5px 8px;
}


.nav-pill-sm .nav-x {
    display: block;
    padding: .4rem 0.7rem;
    font-family: 'Montserrat', sans-serif;
    margin-right: 6px;
}

.nav-sm .nav-x {
    border: 1px solid transparent;
    display: block;
    padding: .5rem .5rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}



.btn-group-sm>.btn, .btn-sm {
    padding: .25rem 0;
}

.note-editor{
    line-height: 100%;
    width: 30px;
    text-align: center;
    position: absolute;
    overflow: hidden;
    z-index: 999 !important;
    top:-10px;
    right: 0;
}


.add_notes_form{
    margin-left: 41px;
}


textarea.note-textarea{
    border:0;
    border-radius: 0;
    margin: 0;
    background-color: transparent !important;
    box-shadow: none;
    padding: 0 41px 5px 0;
    line-height: 144% !important;
}

.note-textarea.edit-on {
    margin-left: 41px;
    padding: 5px 41px 10px 0;
    line-height: 144% !important;
}

.text_message{
    margin:5px 0;
}

.note-editor>span{
    display: block;
    padding:13px 0 0;
}

/* ROTATIONS */
.rotate30 {
    -webkit-transform: rotate(30deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(30deg); /* FF */
    -o-transform: rotate(30deg); /* Opera */
    -ms-transform: rotate(30deg); /* IE9 */
    transform: rotate(30deg); /* W3C compliant browsers */
}

.rotate45 {
    -webkit-transform: rotate(45deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(45deg); /* FF */
    -o-transform: rotate(45deg); /* Opera */
    -ms-transform: rotate(45deg); /* IE9 */
    transform: rotate(45deg); /* W3C compliant browsers */
}

.rotate74 {
    -webkit-transform: rotate(74deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(74deg); /* FF */
    -o-transform: rotate(74deg); /* Opera */
    -ms-transform: rotate(74deg); /* IE9 */
    transform: rotate(74deg); /* W3C compliant browsers */
}

.rotate90 {
    -webkit-transform: rotate(90deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(90deg); /* FF */
    -o-transform: rotate(90deg); /* Opera */
    -ms-transform: rotate(90deg); /* IE9 */
    transform: rotate(90deg); /* W3C compliant browsers */
}

.rotate180 {
    -webkit-transform: rotate(180deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg); /* FF */
    -o-transform: rotate(180deg); /* Opera */
    -ms-transform: rotate(180deg); /* IE9 */
    transform: rotate(180deg); /* W3C compliant browsers */
}

.rotate270 {
    -webkit-transform: rotate(270deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(270deg); /* FF */
    -o-transform: rotate(270deg); /* Opera */
    -ms-transform: rotate(270deg); /* IE9 */
    transform: rotate(270deg); /* W3C compliant browsers */
}

.rotate315 {
    -webkit-transform: rotate(315deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(315deg); /* FF */
    -o-transform: rotate(315deg); /* Opera */
    -ms-transform: rotate(315deg); /* IE9 */
    transform: rotate(315deg); /* W3C compliant browsers */
}

/* HEADER */
.table{
    width: 100%;
    margin-bottom: 0;
}
.x_remove{
    cursor: pointer;
}
.x_sort, .sort_i, .sort_e, .fa-sort, .fa-arrows{
    cursor: grab;
}
.space-left{
    padding-left: 41px !important;
}
.space-all{
    padding:13px 41px !important;
}
.space-sides{
    padding:0 41px !important;
}
.discovering-paths{
    width:89px;
    display: inline-block;
}
.discovering-count{
    min-width:48px;
    display: inline-block;
}
.space-content{
    padding-left:41px;
    padding-right:41px;
    display: block;
    line-height: 144%;
}
.space-content .btn{
    margin:-10px 0 0 0;
}
.space-content .btn.edit-locked{
    margin:-3px 0 0 0;
}
.title-block{
    display: block;
    padding-left: 41px;
    padding-right:0;
    margin-top: -17px !important;
    margin-bottom:0;
}
.title-block-md{
    display: block;
    padding-left: 41px;
    padding-right:0;
    margin-bottom:0;
    margin-top: -28px !important;
}
.title-block-lg{
    display: block;
    padding-left: 41px;
    padding-right:0;
    margin-bottom:0;
    margin-top: -44px !important;
}
.title-block-squeeze{
    margin-top: -50px !important;
}
.title-no-right {
    padding-right:5px !important;
}

.second-stats{
    position: absolute;
    left: 0;
    top: 34px;
}
.x__message {
    display:inline-block;
    overflow: hidden;
    max-width: 100%;
}


td.MENCHcolumn1  { width: 74%; }
td.MENCHcolumn12  { width: 87%; }
td.MENCHcolumn2  { width: 13%; }
td.MENCHcolumn3  { width: 13%; }


.tablepadded td{
    padding:10px 0 !important;
}
.top-margin{
    margin-top: 21px;
}
.left-margin{
    margin-left: 41px;
    display: inline-block;
}
.left-half-margin{
    margin-left:10px;
}
.mench_coin{
    text-decoration: none;
    border-top: 5px solid;
    border-color: transparent;
}



.left_nav{
    width: 100% !important;
    max-width: none !important;
}

.mench-navigation {
    width: 100%;
}

.mench-navigation #searchFrontForm, .algolia-autocomplete, .algolia-autocomplete .aa-hint{
    width: 100%;
}
.mench-navigation td {
    padding:0;
    vertical-align: top;
}
.modal{
    z-index: 99999 !important;
}


.modal-content .form-control{
    border-radius: 10px;
    margin-bottom: 13px;
}
.mench-navigation .block-x, .mench-navigation .block-menu {
    width:40px;
    margin: 0;
    padding: 0;
    line-height: 100% !important;
    text-align: center;
}
.mench-navigation .block-sign-x{
    width:144px;
}
.mench-navigation .block-x a {
    display: block;
    text-align: center;
    margin-left:5px;
    padding:10px 10px 10px;
}

.mench-navigation .block-x .fas, .block-x .fal, .block-x .far, .block-x .fad{
    font-size: 1.2em;
}

.coin-type{
    display: block;
    padding-left: 8px;
    padding-top: 2px;
}
.text-logo{
    font-size: 1.4em;
    display: block;
    float: left;
    padding-top: 13px;
    padding-left: 2px;
}
.x-list {
    padding:21px 0;
}
.simple-line{
    padding: 5px 0;
}

.story-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    padding-right: 41px;
}

.story-bar li{
    height: 3px;
    flex-grow: 1;
    border-radius: 3px;
    margin: 0 5px 0 0;
    display: flex;
    background-repeat: no-repeat;
    background-size: 200%;
    background-color: #999999;
    background-position: 100% 50%;
}

.story-bar .progress{
    height: 3px;
    flex-grow: 1;
    border-radius: 4px;
    margin: 0 5px;
    display: flex;
    background-repeat: no-repeat;
    background-size: 200%;
    background-color: #999999;
    background-position: 100% 50%;
}


.story-bar .active{
    background-color: #FC1B44;
}

.x-msg{
    margin-top: -19px !important;
    margin-bottom: 0;
}
.x-msg .i_content, .x-msg .msg{
    margin-top:0 !important;
    margin-bottom:0 !important;
    padding-top:0 !important;
    padding-bottom:0 !important;
}
.no-height{
    height: 0;
    padding: 0;
}
.x-msg .padded{
    margin-left:0 !important;
    margin-right:0 !important;
}
.mench-logo{
    font-size: 1.44em;
    line-height: 100%;
    width: 33px !important;
    height: 33px !important;
    margin-left: 10px !important;
    margin-right: 4px !important;
    margin-bottom: 0 !important;
    margin-top: 3px !important;
    display: block;
    float: left;
}

.x_marks{
    display: inline-block;
}

.mass_modify .form-control{
    margin:0 0 10px 0;
    width: auto;
}

.x_marks .form-control{
    width: 41px;
    display: inline-block;
    padding: 2px;
    text-align: center;
}


.edit-locked, .edit-locked *{
    cursor:default !important;
    background-color: transparent !important;
    padding-left: 0;
}

.dynamic_saving, .avatar-item:hover {
    background-color: #999999 !important;
    border-radius: 13px !important;
}

.itemsource{
    padding-left: 0;
    padding-right: 0;
}
.no-left-padding{
    padding-left: 0 !important;
}
.no-right-padding{
    padding-right: 0 !important;
}


.no-padding{
    padding: 0 !important;
}



.show-on-hover span {
    display: block;
    margin-bottom: 1px;
}
.show-on-hover i {
    font-size: 0.8em;
}
.note-btn .show-on-hover i {
    font-size: 1.3em !important;
}

.show-on-hover .sort_i, .show-on-hover .sort_e {
    margin-bottom:0;
}

.dropdown-lock{
    padding: 0;
}

.overflowhide {
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
}

.url_truncate {
    max-width: calc(100% - 41px);
    overflow: hidden;
    display: inline-block;
}


.list-group-item .form-group {
    background-color: inherit;
}

.show-on-hover {
    display:none !important;
}
.list-group-item:hover .show-on-hover {
    display:inline-block !important;
}

.score-range{
    width: 89px;
    display: inline-block;
    text-align: center;
}

label {
    margin-bottom: 0;
}

.dolight{
    color: #999999;
}
.dotransparent, .dotransparent * {
    background-color: transparent;
}
.doclear{
    clear: both;
    line-height: 100%;
    margin: 0;
    height: 0px;
}

.itemsetting{
    color: #222222;
    text-decoration: none;
    padding: 10px 0 !important;
}
.itemsetting.active{
    margin-top:0 !important;
    border-top-width:0 !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    text-decoration: none;
    background-color: #999999;
}
.dropdown-item, .dropdown-item {
    text-decoration: none;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
    background-color: #999999 !important;
    cursor: default !important;
}

.list-group-item .montserrat, .list-group-item{
    text-decoration: none;
}

.panel-collapse {
    padding-bottom:10px;
    padding-left:7px;
}

.no-cursor{
    cursor: default !important;

}

/* STYLES */
.btn{
    text-decoration: none;
    line-height: 100%;
    border: 0;
    padding: 10px;
    border-radius:13px !important;
}

.btn.dropdown-toggle{
    padding-left: 0 !important;
}

.btn-superpower .fas, .btn-superpower .far, .btn-superpower .fal, .btn-superpower .fad, .btn-superpower:not(.active) .source, .btn-superpower:not(.active) .idea, .btn-superpower:not(.active) .discover {
    color: #999999 !important;
}


.btn-superpower.btn-locked {
    cursor: not-allowed !important;
}

.btn-superpower.active .fas.source, .btn-superpower.active .far.source, .btn-superpower.active .fal.source, .btn-superpower.active .fad.source {
    color:#007AFD !important;
}
.btn-superpower.active .fas.idea, .btn-superpower.active .far.idea, .btn-superpower.active .fal.idea, .btn-superpower.active .fad.idea {
    color:#ffc500 !important;
}
.btn-superpower.active .fas.discover, .btn-superpower.active .far.discover, .btn-superpower.active .fal.discover, .btn-superpower.active .fad.discover {
    color:#FC1B44 !important;
}




.btn.btn-source, .btn.btn-source:hover, .btn.btn-source:focus, .btn.btn-source:active, .btn.btn-source.active, .btn.btn-source:active:focus, .btn.btn-source:active:hover, .btn.btn-source.active:focus, .btn.btn-source.active:hover, .open > .btn.btn-source.dropdown-toggle, .open > .btn.btn-source.dropdown-toggle:focus, .open > .btn.btn-source.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-source, .navbar .navbar-nav > li > a.btn.btn-source:hover, .navbar .navbar-nav > li > a.btn.btn-source:focus, .navbar .navbar-nav > li > a.btn.btn-source:active, .navbar .navbar-nav > li > a.btn.btn-source.active, .navbar .navbar-nav > li > a.btn.btn-source:active:focus, .navbar .navbar-nav > li > a.btn.btn-source:active:hover, .navbar .navbar-nav > li > a.btn.btn-source.active:focus, .navbar .navbar-nav > li > a.btn.btn-source.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-source.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-source.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-source.dropdown-toggle:hover {
    background-color: #007AFD;
    color: #222222;
}
.btn-source .fas,.btn-source .far,.btn-source .fal,.btn-source .fad { color: #222222 !important; }




.btn.btn-main, .btn.btn-main:hover, .btn.btn-main:focus, .btn.btn-main:active, .btn.btn-main.active, .btn.btn-main:active:focus, .btn.btn-main:active:hover, .btn.btn-main.active:focus, .btn.btn-main.active:hover, .open > .btn.btn-main.dropdown-toggle, .open > .btn.btn-main.dropdown-toggle:focus, .open > .btn.btn-main.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-main, .navbar .navbar-nav > li > a.btn.btn-main:hover, .navbar .navbar-nav > li > a.btn.btn-main:focus, .navbar .navbar-nav > li > a.btn.btn-main:active, .navbar .navbar-nav > li > a.btn.btn-main.active, .navbar .navbar-nav > li > a.btn.btn-main:active:focus, .navbar .navbar-nav > li > a.btn.btn-main:active:hover, .navbar .navbar-nav > li > a.btn.btn-main.active:focus, .navbar .navbar-nav > li > a.btn.btn-main.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-main.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-main.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-main.dropdown-toggle:hover {
    background-color: #222222;
    color: #FFFFFF !important;
}


.btn.btn-discover, .btn.btn-discover:hover, .btn.btn-discover:focus, .btn.btn-discover:active, .btn.btn-discover.active, .btn.btn-discover:active:focus, .btn.btn-discover:active:hover, .btn.btn-discover.active:focus, .btn.btn-discover.active:hover, .open > .btn.btn-discover.dropdown-toggle, .open > .btn.btn-discover.dropdown-toggle:focus, .open > .btn.btn-discover.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-discover, .navbar .navbar-nav > li > a.btn.btn-discover:hover, .navbar .navbar-nav > li > a.btn.btn-discover:focus, .navbar .navbar-nav > li > a.btn.btn-discover:active, .navbar .navbar-nav > li > a.btn.btn-discover.active, .navbar .navbar-nav > li > a.btn.btn-discover:active:focus, .navbar .navbar-nav > li > a.btn.btn-discover:active:hover, .navbar .navbar-nav > li > a.btn.btn-discover.active:focus, .navbar .navbar-nav > li > a.btn.btn-discover.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-discover.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-discover.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-discover.dropdown-toggle:hover {
    background-color: #FC1B44;
    color: #FFFFFF;
}
.btn-discover .fas,.btn-discover .far,.btn-discover .fal ,.btn-discover .fad { color: #FFFFFF !important; }



.btn.btn-idea, .btn.btn-idea:hover, .btn.btn-idea:focus, .btn.btn-idea:active, .btn.btn-idea.active, .btn.btn-idea:active:focus, .btn.btn-idea:active:hover, .btn.btn-idea.active:focus, .btn.btn-idea.active:hover, .open > .btn.btn-idea.dropdown-toggle, .open > .btn.btn-idea.dropdown-toggle:focus, .open > .btn.btn-idea.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-idea, .navbar .navbar-nav > li > a.btn.btn-idea:hover, .navbar .navbar-nav > li > a.btn.btn-idea:focus, .navbar .navbar-nav > li > a.btn.btn-idea:active, .navbar .navbar-nav > li > a.btn.btn-idea.active, .navbar .navbar-nav > li > a.btn.btn-idea:active:focus, .navbar .navbar-nav > li > a.btn.btn-idea:active:hover, .navbar .navbar-nav > li > a.btn.btn-idea.active:focus, .navbar .navbar-nav > li > a.btn.btn-idea.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-idea.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-idea.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-idea.dropdown-toggle:hover {
    background-color: #ffc500;
    color: #222222;
}
.btn-idea .fas,.btn-idea .far,.btn-idea .fal,.btn-idea .fad { color: #222222 !important; }



.x-micro-data {
    text-transform: uppercase;
}

.x-history-msg{
    padding: 5px;
    margin-bottom: 10px;
}
.x-history-msg .msg{
    margin-bottom:0;
}


.is-msg .on-hover {
    /* Do not hide this for now: */
    display: inline-block !important;
}

.is-msg > div:hover .on-hover, .in-editing .on-hover {
    display: inline-block !important;
}

.col_name{
    width: 150px;
}
.col_stat{
    width: 55px;
}

.is-working {
    background-color: #999999 !important;
}

.note-btn {
    width: 40px;
    top: 13px;
}
.note-btn > span {
    padding: 2px 0 0 0;
    display: block !important;
}
.note-btn > span > span {
    border-radius: 50%;
    padding: 8px 0 !important;
    margin: 3px 3px 0 0;
}
.editor-discover > span > span {
    background-color: #FC1B44 !important;
}
.editor-idea > span > span {
    background-color: #ffc500 !important;
}
.note-btn i {
    color: #222222 !important;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.left-table, .left-table tr, .left-table td, .left-table th {
    text-align: left !important;
    cursor: default !important;
}

#url_preview {
    margin: 5px 0;
}

.inputfile + label {
    display: inline-block;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
    outline: 1px dotted #222222;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    pointer-events: none;
}
.i-url{
    margin:0;
}
.i-info, .i-footer {
    margin:10px 0 0;
}

.i-info, .i-info i {
    color:#999999 !important;
}

.i-desc{
    padding: 10px 0 5px;
}

.i-desc .icon-block{
    display: none;
}
.btn-block {
    display: block !important;
    width: 100%;
    text-align: left;
    padding: 10px 10px 10px 0;
}


/* FUNCTIONAL */
.inline-block{ display: inline-block !important; }
.inline{ display: inline !important; }
.block{ display: block !important; width: 100%; }
.hidden { display: none !important; }
.underline{ text-decoration: underline !important; }
.icon-block { width:41px !important; display: inline-block; text-align: center; font-size: 1.44em; }
.icon-block-xs{ width:25px; display: inline-block; text-align: center; }
.custom_ui_13491_13493 .icon-block-xs, .custom_ui_13491_ .icon-block-xs{ width:26px; }
.custom_ui_13491_13494 .icon-block-xs{ width:36px; }
.icon-block-lg{ width:50px; display: inline-block; text-align: center; }
.icon-block-img img,
.icon-block-lg img,
.icon-block-xs img,
.icon-block img,
.img-block img {
    width: 16px !important;
    height: 16px !important;
    margin: 3px 0 0 3px !important;
    border-radius: 50%;
}
.icon-demo img {
    border-radius: 0% !important;
}
.icon-block-lg img {
    width: 46px !important;
    height: 46px !important;
}
.social-footer{
    text-align: center;
    list-style: none;
    padding: 89px 0 34px;
    margin: 0;
}
.social-footer li{
    display: inline-block;
    font-size: 1.5em;
    margin: 0 10px;
}
.texttype__sm {
    width:55px;
    margin-bottom: 5px;
}
.text_e_4736, .text_e_6197 {
    width:calc(100% - 46px);
    margin-bottom: 0;
}
.i-left {
    display: block;
    float: left;
    /* Accomodate Right Follow Transactions */
    width: -webkit-calc(100% - 15px);
    width:    -moz-calc(100% - 15px);
    width:         calc(100% - 15px);
}
.texttype__lg, .input-group .algolia-autocomplete, .x__message, .x_input, .progress-bg-list, .add_notes_form {
    width: -webkit-calc(100% - 82px);
    width:    -moz-calc(100% - 82px);
    width:         calc(100% - 82px);
}
.i-info, .note-textarea.edit-on, .cover-title {
    width: -webkit-calc(100% - 41px) !important;
    width:    -moz-calc(100% - 41px) !important;
    width:         calc(100% - 41px) !important;
}
.block-one {
    padding-top: 5px;
    width: -webkit-calc(100% - 10px) !important;
    width:    -moz-calc(100% - 10px) !important;
    width:         calc(100% - 10px) !important;
}
.cover-title {
    padding-top: 2px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.icon-title{
    padding-top: 9px;
}


.texttype__sm{
    display: inline-block;
    color: #222222;
    padding: 0;
}
.texttype_4356_sm {
    padding:0;
    width: 55px;
    text-align: left;
    margin-left: -6px;
    color: #222222 !important;
}
.texttype__lg {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:#222222;
    padding:0;
    margin-bottom: 5px;
}
.title-icon{
    vertical-align: top;
    margin-top: 12px;
}

.texttype__lg::placeholder, .alert a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.form-control::placeholder {
    color: #999999;
}


.pull-middle {
    display: block;
    width: 90px;
    margin: 0 auto;
    font-size: 1.7em;
    text-align: center;
    height: 30px;
    padding-top: 7px;
    margin-bottom: -77px;
    margin-top: 47px;
    font-family: 'Montserrat', sans-serif;
}
.small-click{
    display: block;
    font-size: 0.5em;
    margin-top: 10px;
    text-decoration: underline;
}
.pull-middle a, .pull-middle span{
    color: #999999;
}

.headline{
    padding:5px 0;
    margin-top: 10px;
}

.headline, .headline a, .headline i {
    color: #999999 !important;
    text-transform: uppercase;
}

.x-info-topic{
    margin: -10px 0 30px;
}
.list-group .headline{
    margin:5px 0;
    color: #222222;
}
.share-this .icon-block{
    cursor: pointer;
}
.mirror-v{
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}
.mirror-h{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.show-min{display:none;}
.btn-five{ margin-left:5px; }
.list-group-item.active {color:#222222;}

.list-radio-select .list-group-item {
    color:#999999 !important;
}

.list-radio-select .list-group-item.active {
    color:#222222 !important;
}
.show-max-active {display: none !important;}
.active .show-max-active {display: inline-block !important;}

.top-icon{
    vertical-align: top;
    margin-top: -17px;
}

.thin-top{
    margin-top: -7px !important;
}

.name-block{
    height: 15px;
    overflow: hidden;
    display: block;
    width: 75%;
    display: block;
    margin-top: -18px;
    margin-left: 36px;
    line-height: 100%;
}
.message-center, .message-center .msg {
    text-align: center;
}

.feature-content .padded{
    margin: 0 !important;
}
.feature-content>div{
    margin:0 0 8px 0 !important;
}
.icon-tweak{ padding-left: 3px; }


.cover-wrapper {
    border: 3px solid #999999;
    border-radius: 34px;
    margin:0 41px;
}

.cover-link {
    border: 2px solid #222222;
    width: 100%;
    position: relative;
    padding-top: 150%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 31px;
    display: block;
}
.chat-title{
    position: fixed;
    bottom: 0;
    right: 0px;
    text-align: center;
    width: 110px;
    height: 26px;
    overflow: hidden;
    z-index: 99999999;
    padding-top: 3px;
}
.chat-title span{
    z-index: 99999999;
    padding: 3px;
    border-radius: 10px;
    line-height: 125%;
}
.cover-link .inside-btn {
    position:  absolute;
    text-align: center;
    font-size: 25px;
    color:#222222;
    border-radius: 50%;
    width:34px;
    height: 34px;
    background-color: #FC1B44 !important;
}
.inside-btn i {
    margin-top: 4px;
    color: #FFFFFF !important;
}
.wrap-idea .inside-btn i{
    color: #222222 !important;
}

.cover-text{
    margin: 8px 41px 55px;
    text-align: center;
}
.cover-progress{
    width: calc(100% - 42px);
    top:-18px;
    left:21px;
    position: absolute;
}
.cover-content{
    width:100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.75);
    overflow-x: hidden;
    overflow-y: scroll;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 28px;
}
.cover-content .icon-block-xs {
    display: none;
}
.cover-content .icon-block-xs img {
    margin: 1px 0 0 3px !important;
}
.cover-content .padded{
    margin: 0 !important;
}
.cover-content .msg{
    font-size: 0.8em !important;
}

.inside-btn.top-left {
    top: 10px;
    left: 10px;
}
.inside-btn.top-right {
    top: 10px;
    right: 10px;
}

.cover-wrapper.wrap-discover {
    border-color:#FC1B44;
}
.cover-wrapper.wrap-idea {
    border-color:#ffc500;
}
.wrap-idea .inside-btn {
    background-color: #ffc500 !important;
}

/* RESPONSIVE */
@media (max-width:767px) {

    .big-frame{
        font-size: 2.5em;
    }

    .social-footer li{
        font-size: 1.2em;
    }
    .icon-tweak{ padding-left: 8px; }
    .name-block{ margin-left: 41px; }

    /* .active .show-max-active {display:none !important;} */
    .wrap-card, .coin-frame{
        margin: 0 5px;
        width: -webkit-calc(100% - 10px) !important;
        width:    -moz-calc(100% - 10px) !important;
        width:         calc(100% - 10px) !important;
    }

    .story-bar li{
        margin: 0 1px 0 0;
    }

    .title-block{
        padding-bottom: 3px !important;
    }

    .cover-title {
        padding-top: 6px;
    }

    .feature-content>div{
        margin:0 0 5px 0 !important;
    }

    .top-icon{
        margin-top: -12px;
    }
    .todiscover .top-icon{
        margin-top: -7px;
    }
    .title-block-lg{
        margin-top: -40px !important;
    }
    .title-block-squeeze{
        margin-top: -36px !important;
    }
    .texttype__lg, h1{ font-size: 1.5em; margin-top: 8px; }
    h1 i {
        font-size:0.667em !important;
    }

    .mini-hidden{
        display: none;
    }

    .icon-block-lg img {
        width: 41px !important;
        margin: -13px 0 -8px -2px !important;
        height: 41px !important;
    }
    .container {
        max-width: none;
    }
    .content-image{ max-height:144px; }
    .show-on-hover { display:inline-block !important; }
    .form-control-thick { padding-left: 26px; }
    .avatar-item { width:110px !important; padding:10px 0 !important; }
    .avatar-item .avatar-icon { font-size: 2.3em; }

    td.MENCHcolumn1  { width: 60%; }
    td.MENCHcolumn12  { width: 80%; }
    td.MENCHcolumn2  { width: 20%; }
    td.MENCHcolumn3  { width: 20%; }

    .media-content, .x__message img, .x__message video, .i_content img { max-width: 100%; }
    .content-image {
        max-width: calc(100% - 82px);
        max-height:610px;
    }

    .show-max{display: none !important;}
    .show-min{display: inline-block !important;}

    .mench-navigation .block-sign-x{
        width:40px;
    }
    .btn-lrg{
        font-size: 1.7em !important;
    }

}

@media (max-width:576px) {
    .col2nd { padding-left: 41px !important; padding-top: 8px; }
    .big-frame{
        font-size: 1.8em;
    }
}


.itemidea.list-group-item {
    padding:10px 0;
}

.sequal-topic{
    padding: 20px 0 5px;
}


.i-previous{
    padding-right: 5px;
    min-width: 50px;
    display: inline-block;
    text-align: right;
}
.i-next{
    min-width:50px;
    display: inline-block;
}


.hideIfEmpty:empty {
    display: none !important;
}
.list-adder{
    padding: 5px 0 3px !important;
}
.icon-adder{
    margin-top: 7px;
}
.divider{
    height: 1px;
    background-color: #222222 !important;
}
.round-btn{
    background-color: #FC1B44 !important;
}
.round-btn i{
    color: #FFFFFF !important;
}


.form-group, .form-control:focus {
    background-color: transparent;
}

.btn-label{
    width: 44px;
    margin-left: 10px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.custom_ui_13884_13886 .white-border,
.custom_ui_13884_ .white-border {
    border: 3px solid #FFFFFF !important;
    border-radius: 13px;
}
.custom_ui_13884_13885 .white-border {
    border: 3px solid #222222 !important;
    border-radius: 13px;
}


/* DARK - DEFAULT */
.custom_ui_13884_13886,
.custom_ui_13884_,
.custom_ui_13884_13886 .fade,
.custom_ui_13884_ .fade,
.custom_ui_13884_13886 .container,
.custom_ui_13884_ .container,
.custom_ui_13884_ .mench-navigation,
.custom_ui_13884_13886 .mench-navigation,
.custom_ui_13884_13886 .table-striped tbody tr,
.custom_ui_13884_13886 .x-list,
.custom_ui_13884_13886 .accordion .card,
.custom_ui_13884_ .table-striped tbody tr,
.custom_ui_13884_ .x-list,
.custom_ui_13884_ .accordion .card,
.custom_ui_13884_13886 .coin-frame,
.custom_ui_13884_ .coin-frame,
.custom_ui_13884_13886 .wrap-card,
.custom_ui_13884_ .wrap-card,
.custom_ui_13884_13886 .btn-block,
.custom_ui_13884_ .btn-block,
.custom_ui_13884_13886 textarea,
.custom_ui_13884_ textarea,
.custom_ui_13884_13886 .modal-content,
.custom_ui_13884_ .modal-content,
.custom_ui_13884_13886 .form-control,
.custom_ui_13884_ .form-control,
.custom_ui_13884_13886 .edit-locked span,
.custom_ui_13884_ .edit-locked span,
.custom_ui_13884_13886 .chat-title span,
.custom_ui_13884_ .chat-title span,
.custom_ui_13884_13886 div.dropdown-item,
.custom_ui_13884_ div.dropdown-item{
    background-color:#222222;
    color: #FFFFFF;

}

.custom_ui_13884_13886 .dropdown-menu,
.custom_ui_13884_ .dropdown-menu,
.custom_ui_13884_ .algolia-autocomplete .aa-dropdown-menu,
.custom_ui_13884_ .aa-dropdown-menu .aa-suggestion, .suggestion,
.custom_ui_13884_13886 .aa-dropdown-menu .aa-suggestion, .suggestion,
.custom_ui_13884_13886 .algolia-autocomplete .aa-dropdown-menu{
    background-color:#222222 !important;
    color: #FFFFFF !important;
}



.custom_ui_13884_13886 .new-note,
.custom_ui_13884_ .new-note{
    background-color:transparent !important;
    color: #FFFFFF !important;
}
.custom_ui_13884_13886 .form-control,
.custom_ui_13884_ .form-control{
    background-color:transparent !important;
}
.custom_ui_13884_13886 .adj-btn i,
.custom_ui_13884_ .adj-btn i{
    color: #FFFFFF !important;
}
.custom_ui_13884_13886 .icon-block i,
.custom_ui_13884_ .icon-block i,
.custom_ui_13884_13886 .mench-navigation a,
.custom_ui_13884_ .mench-navigation a,
.custom_ui_13884_13886 .montserrat,
.custom_ui_13884_ .montserrat,
.custom_ui_13884_13886 a,
.custom_ui_13884_ a,
.custom_ui_13884_13886 .close span,
.custom_ui_13884_ .close span {
    color: #FFFFFF;
}
.custom_ui_13884_ .nav-tabs .nav-item.show .nav-x,
.custom_ui_13884_ .nav-tabs .nav-x.active,
.custom_ui_13884_ .nav-tabs .nav-x:focus,
.custom_ui_13884_ .nav-tabs .nav-x:hover,
.custom_ui_13884_13886 .nav-tabs .nav-item.show .nav-x,
.custom_ui_13884_13886 .nav-tabs .nav-x.active,
.custom_ui_13884_13886 .nav-tabs .nav-x:focus,
.custom_ui_13884_13886 .nav-tabs .nav-x:hover {
    border-bottom-color: #222222 !important;
}
.custom_ui_13884_.mench-idea .list-group-item:nth-child(odd),
.custom_ui_13884_13886.mench-idea .list-group-item:nth-child(odd){
    background-color: #333333;
}


/* WHITE */
.custom_ui_13884_13885.mench-idea .list-group-item:nth-child(odd),
.custom_ui_13884_13885,
.custom_ui_13884_13885 .container,
.custom_ui_13884_13885 .mench-navigation,
.custom_ui_13884_13885 .fade,
.custom_ui_13884_13885 .coin-frame,
.custom_ui_13884_13885 .chat-title span,
.custom_ui_13884_13885 div.dropdown-item{
    background-color: #f0f0f0;
    color: #222222;
}
.custom_ui_13884_13885 .table-striped tbody tr,
.custom_ui_13884_13885 .x-list,
.custom_ui_13884_13885 .accordion .card,
.custom_ui_13884_13885 .wrap-card,
.custom_ui_13884_13885 .btn-block,
.custom_ui_13884_13885 .dropdown-menu,
.custom_ui_13884_13885 .algolia-autocomplete .aa-dropdown-menu,
.custom_ui_13884_13885 .aa-dropdown-menu .aa-suggestion, .suggestion,
.custom_ui_13884_13885 textarea,
.custom_ui_13884_13885 .modal-content {
    background-color:#FFFFFF;
    color: #222222;
}
.custom_ui_13884_13885 .form-control{
    background-color:transparent !important;
}
.custom_ui_13884_13885 .new-note{
    color: #222222 !important;
}

.custom_ui_13884_13885 a,
.custom_ui_13884_13885 .mench-navigation a,
.custom_ui_13884_13885 .form-control {
    color: #222222;
}
.custom_ui_13884_13885 .nav-tabs .nav-item.show .nav-x,
.custom_ui_13884_13885 .nav-tabs .nav-x.active,
.custom_ui_13884_13885 .nav-tabs .nav-x:focus,
.custom_ui_13884_13885 .nav-tabs .nav-x:hover {
    border-bottom-color: #FFFFFF !important;
}

.alert a, .alert i {
    color: #222222 !important;
}
.btn-tiny{
    font-size: 0.55em !important;
}

@media (min-width:767px) {

    /* DARK */
    .custom_ui_13884_13886 .itemidea:hover,
    .custom_ui_13884_ .itemidea:hover{
        background-color:#796e35 !important;
    }
    .custom_ui_13884_13886 .itemsource:hover,
    .custom_ui_13884_ .itemsource:hover{
        background-color:#375266 !important;
    }
    .custom_ui_13884_13886 .itemdiscover:hover,
    .custom_ui_13884_ .itemdiscover:hover{
        background-color: #774040 !important;
    }


    /* WHITE */
    .custom_ui_13884_13885 .itemidea:hover {
        background-color:#fff4b5 !important;
    }
    .custom_ui_13884_13885 .itemsource:hover {
        background-color:#a2cdec !important;
    }
    .custom_ui_13884_13885 .itemdiscover:hover {
        background-color: #ffcbcb !important;
    }

}





/* FONT SIZE */
.custom_ui_13491_13492 .msg{ font-size:0.9em; }
.custom_ui_13491_13493 .msg, .custom_ui_13491_ .msg{ font-size:1.1em; }
.custom_ui_13491_13494 .msg{ font-size:1.5em; }
