@CHARSET "ISO-8859-1";
@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
    html { font-family: 'Rubik', sans-serif; }
}

body {
    background-color: #f0f0f0 !important; /* #f4f5f7 */
    color: #000000;
    font-size: 1em;
    margin:39px 0 144px 0 !important;
    font-weight: 400;
    line-height: 110%;
    font-family: 'Rubik', sans-serif;
}

/*

h1, h2, h3, ul, p { padding: 0 5px; }

[class*="col-"] {padding-left:5px;padding-right:5px;}
.row {margin-left:-5px;margin-right:-5px;}
.container {padding-left:5px;padding-right:5px;}
*/
[class*="col-"], .no-side-padding {padding-left:0px !important;padding-right:0px !important;}
.no-left-padding {padding-left:0px;}
.row {margin-left:0px;margin-right:0px;}
.container {
    max-width:767px;
    padding:0 0 60px;
}
.padded {
    margin: 0 33px 15px 33px;
}
.edit-off .padded, .edit-on .padded {
    margin-bottom: 0;
}
.margin-top-down{
    margin:30px 0;
}
.paddingup{
    padding:10px 0 0;
}
.idea-footer .paddingup{
    padding:0 !important;
}
.content-image {
    margin:0;
    border:1px solid #000;
}

.dorubik{
    font-family: 'Rubik', sans-serif !important;
    font-weight: 400;
}
.doleft{
    text-align: left !important;
}
.doright{
    text-align: right !important;
}
.span__4356{
    display: inline-block;
}
.media-content, .read__message video {
    max-width: 377px;
}
.read__message img, .i_content img, .content-image {
    max-width: 100%;
    max-height: 610px;
}
.yt-container{
    margin: 10px 0 0;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.yt-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.list-group-item {
    border: 0;
    border-radius: 0 !important;
    padding:10px 5px;
    margin: 0;
    width: 100%;
}

#searchFrontForm{margin-top:5px; padding-right: 5px;}
.table-sm td, .table-sm th { padding:0; }
.table {
    width: 100%;
}

table td { border: none !important; }

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    margin-top:0;
    margin-bottom:10px;
    margin-left: 0;
    padding-left: 0;
}
h1 i {
    font-size:0.715em !important;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color:#000000 !important;
    padding:10px 0 0;
}

h4{
    margin: 0;
}

h4 a{
    text-decoration:none;
    padding:5px 0;
    display: block;
}

h4.thin{
    font-family: 'Montserrat', sans-serif;
    padding:15px 0 0;
    color:#000000;
}

h4.thin b{
    background-color: #f0f0f0;
    padding:3px;
}

h4.thin span{
    display: block;
    width: 100%;
    border-bottom:1px solid #000000;
    padding: 0;
    margin: 0;
    line-height: 100%;
    margin-top: -23px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

li a {
    text-decoration: none;
}

.avatar-item {
    display: block;
    float: left;
    width: 180px !important;
    padding: 20px 0  !important;
}
.avatar-item.active, .btn-group a.active{
    background-color: #b2defd !important;
    margin-top: 0 !important;
    border-top-width: 0 !important;
}

.avatar-item .avatar-icon {
    display: block;
    text-align: center;
    width: 100% !important;
    font-size:4.3em;
}


.dropdown-item {
    padding:10px 20px 7px 1px;
}

/* FONTS */
.montserrat, .add-input, .algolia-autocomplete, .read-topic, .btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-left: 0 !important;
}
.source-appendix a, .source-appendix a .url_truncate {
    text-decoration: underline;
}

.doupper, .text_source_6197 {
    text-transform: uppercase !important;
}
.add-input{
    margin-bottom: 0;
    padding: 5px 0 5px 1px !important;
}

.large-icon{
    font-size: 1.5em;
    padding: 2px 4px 0 0;
}

.form-control-thick{
    padding:7px 10px 7px 33px;
    font-weight: bold;
    color: #000000 !important;
}
.bottom-read-line{
    order-bottom: 1px solid #FC1B44;
    margin-bottom: 10px;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em !important;
    border-radius: 0 !important;
}

a.btn, .btn.dropdown-toggle, label.btn {
    padding:15px;
}

.primary_nav a.btn, .primary_nav .btn.dropdown-toggle, .primary_nav label.btn{
    padding:10px;
}
.primary_nav .btn {
    padding:12px 0 10px 0 !important;
}

img.no-radius {
    border-radius:0 !important;
}

.breadcrumb {
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border-radius:0;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
}

.alert{
    padding:10px 0 !important;
    border-radius: 0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

.alert a{
    text-decoration: underline;
}

.alert-warning {
    color: #000000;
    background-color: #fff4b5;
    border-color: #fff4b5;
}
.alert-danger {
    color: #000000;
    background-color: #fbc4ce;
    border-color: #fbc4ce;
}
.alert-info {
    color: #000000;
    background-color: #b2defd;
    border-color: #b2defd;
}


.dounderline{
    text-decoration: underline !important;
}


.card-header{
    padding: 0;
    background-color:#FFFFFF;
}
.card-body{
    padding-top: 10px;
}
.accordion>.card {
    border-radius: 0 !important;
    border:0;
}

.table-striped tbody tr:nth-of-type(even), .read-list:nth-of-type(even) {
    background-color:transparent;
}
.table-striped tbody tr:nth-of-type(odd), .read-list:nth-of-type(odd), .list-group .list-group-item:nth-of-type(odd), .accordion .card:nth-of-type(odd) {
    background-color:#FFFFFF;
}
.table-striped tbody tr:nth-of-type(even), .list-group .list-group-item:nth-of-type(even), .accordion .card:nth-of-type(even), .card:nth-of-type(even) .card-header {
    background-color:#f0f0f0;
}

.form-control:disabled, .form-control[readonly] {
    background-color:transparent !important;
}

.algolia_pad_search{
    height:377px;
}
.gateway{
    color:transparent !important;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.pull-right{
    float:right;
}
.pull-left{
    float:left;
}

.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    border-top: none;
    font-weight: normal;
    background-color: #FFFFFF;
    z-index: 9999 !important;
}


.no-margin{
    margin:10px 0 0;
}

.aa-dropdown-menu {
    width: 100% !important;
}



.panel-body .form-control {
    padding:7px 0;
    width: 100%;
    color:#000;
}

.edit-off .content-image{
    max-height:250px;
}

.aa-dropdown-menu .aa-suggestion, .suggestion {
    background-color: #FFFFFF;
    border:0px solid #f0f0f0;
    cursor: pointer;
    padding: 7px 5px;
    color: #000000;
    font-weight: 500;
    margin: 0;
    display: block;
    text-decoration: none;
}

.aa-dropdown-menu .aa-suggestion.aa-cursor, .suggestion:hover {
    background-color: #DDDDDD;
    text-decoration: none;
}

.aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
}

.list-group-item .col2{
    overflow: hidden;
}

.center-info{
    width: 100%;
    max-width:380px !important;
    padding: 15px;
    padding-top:89px;
    margin: 0 auto;
}
.center{
    text-align: center;
}

.featured-frame{
    text-align: center;
    width: 89px;
    margin-left:5px;
}
.table-sm td .featured-frame{
    margin-right:10px;
}
.featured-image {
    max-width: 89px;
    max-height: 144px;
    overflow: hidden;
    display: block;
}
.featured-image img{
    width: 100%;
}
.grey-box {
    padding:0;
    margin: 25px 0;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-tabs {
    margin:10px 0 0;
    margin-left: 33px;
}
.nav-pills {
    margin:0 0 10px;
    margin-left: 33px;
}

.read-info{
    background-color: #000000;
    color: #FFFFFF;
    padding: 5px 0;
    margin: 0;
}
.message_content{
    margin-left: 33px;
}
.idea-footer .message_content{
    margin-left:0;
}

.info-item a, .info-item i {
    color:#999999 !important;
}
.info-item a {
    text-decoration: underline;
}

.read-ref{
    margin-left: 24px;
    margin-top: -43px;
}
.read-ref .read-list{
    background-color:transparent !important;
}
.underdot{
    border-bottom: 1px dotted #999999;
    padding-bottom: 2px;
    cursor: help;
}




/* MENCH Colors */
.source, .source .fas, .source .far, .source .fal, .source .fad, .color4536, .info-item i.source:hover, .info-item a.source:hover, .read-topic.source, .read-topic.source a, .read-topic.source i  { color:#007AFD !important; }
.idea, .idea .fas, .idea .far, .idea .fal, .idea .fad, .color4535, .info-item i.idea:hover, .info-item a.idea:hover, .read-topic.idea, .read-topic.idea a, .read-topic.idea i  { color:#ffc500 !important; }
.read, .read .fas, .read .far, .read .fal, .read .fad, .color6205, .info-item i.read:hover, .info-item a.read:hover, .fas.redalert, .read-topic.read, .read-topic.read a, .read-topic.read i  { color:#FC1B44 !important; }
.grey, .grey i { color:#999999 !important; }
.black, .black i, .black.fas, .black.far, .black.fal, .black.fad { color:#000000 !important; }

.btn-source i, .btn-read i, .btn-idea i, .btn-circle i { color: #000000 !important; }

.en-status-filter.active .source, .en-status-filter.active .read, .en-status-filter.active .idea {
    color: #000000 !important;
}

.table-condense{
    margin-bottom: 5px;
}

.cover-list{
    display: block;
    width: 100%;
}
.cover-block{
    display: block;
    width: 146px;
    height: 305px;
    overflow: hidden;
    float: left;
    margin-right:34px;
}
.cover-image{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: block;
    width: 144px;
    height: 209px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    border: 1px solid #000;
}
.cover-image img{
    width: 100%;
    height: 100%;
}
.media-info {
    padding: 1px 4px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    color: #FFF;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 10px;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
}

.media-info.bottom-left{
    left: 4px;
    bottom: 5px;
}
.media-info.bottom-right{
    right: 4px;
    bottom: 5px;
}
.media-info.mid-right{
    right: 4px;
    bottom: 45px;
}
.media-info.top-right{
    right: 4px;
    top: 5px;
}
.media-info.top-left{
    left: 4px;
    top: 5px;
}

.progress-bg-image{
    width:100% !important;
}

.progress-bg-list .progress-done, .progress-bg-image .progress-done{
    height: 5px;
    background-color: #FC1B44;
}

.progress-bg-list{
    margin: -10px 0 10px 0;
    width: 100% !important;
}


.fixed-bottom{
    padding: 0;
    background-color: #f0f0f0;
}
.fixed-top, .fixed-bottom {
    z-index: 99999 !important;
}


.no-horizonal-margin{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


/* Color Palette @10604 */
.isgrey, .isgrey a, .lightgrey      { color:#f0f0f0 !important; }

.mixed-a{
    text-decoration:none !important;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.mixed-a:hover{
    background-color: #FFFFFF;
}
.overload {
    color: #FC1B44;
    font-weight: bold;
}


.mench-spin {
    -webkit-animation: mench-spin 13s infinite linear;
    animation: mench-spin 13s infinite linear;
}
.lazyimage:not(.loaded) {
    -webkit-animation: mench-spin 5s infinite linear;
    animation: mench-spin 5s infinite linear;
    width: 55px;
    margin: 10px;
    display: block;
    border:0 !important;
}
.mench-large{
    width:128px;
    margin-bottom: 34px;
}

@-webkit-keyframes mench-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

@keyframes mench-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }


.btn-main .far, .btn-main .fas, .btn-main .fal, .btn-main .fad { font-size: 1.5em; margin-top:3px; }

.form-control, .border {
    border-radius:0;
    border:0 !important;
    height: 100%;
    line-height: 100%;
}

.form-control:focus {
    color: inherit;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}


.nav-tabs, .dropdown-menu {
    border-color:#000000 !important;
}

#read_text_answer{
    padding: 5px;
    border: 1px solid #000000 !important;
    height: 55px;
}
.previous_answer{
    display: block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.nav-link.active {
    color: #fff;
    background-color: #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #000000;
    border-radius: 10px;
}

.tab-content{
    padding:0;
}

.msg{
    line-height: 134%;
}

.msg-nav {
    list-style-type: none;
    margin:10px 0 0 0;
    padding:0;
}

.msg-nav > li {
    margin-left: 7px;
    display: inline-block;
    padding: 0;
    color: #666;
}

.msg-nav > li > a {
    color: #000000;
    padding: 3px 5px;
    border-radius: 0;
}

.msg-nav > li .btn {
    margin: -10px 10px 0 -5px !important;
    padding: 10px;
}

.msg-nav li > .dropup {
    margin: -4px -8px 0 0 !important;
    padding: 5px 8px;
}

.msg-nav > li > a:hover {
    background-color: #f0f0f0;
}


.nav-pill-sm .nav-link {
    display: block;
    padding: .4rem 0.7rem;
    font-family: 'Montserrat', sans-serif;
    margin-right: 6px;
}

.nav-sm .nav-link {
    display: block;
    padding: .5rem .5rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}



.btn-group-sm>.btn, .btn-sm {
    padding: .25rem 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color:#000000 !important;
    border-bottom: 1px solid #f0f0f0 !important;
    background-color: #f0f0f0 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.note-editor{
    line-height: 100%;
    width: 20px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    margin-right: 3px;
}


.add_notes_form{
    margin-left: 33px;
}


textarea.note-textarea{
    border:0;
    border-radius: 0;
    margin: 0;
    background-color: transparent !important;
    box-shadow: none;
    color: #000000;
    padding: 0 33px 5px 0;
    line-height: 134% !important;
}

.note-textarea.edit-on {
    margin-left: 33px;
    padding: 5px 33px 10px 0;
    line-height: 134% !important;
}

.text_message{
    margin:5px 0;
}

.note-editor>span{
    display: block;
    padding:5px 0 0;
}

/* ROTATIONS */
.rotate30 {
    -webkit-transform: rotate(30deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(30deg); /* FF */
    -o-transform: rotate(30deg); /* Opera */
    -ms-transform: rotate(30deg); /* IE9 */
    transform: rotate(30deg); /* W3C compliant browsers */
}

.rotate45 {
    -webkit-transform: rotate(45deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(45deg); /* FF */
    -o-transform: rotate(45deg); /* Opera */
    -ms-transform: rotate(45deg); /* IE9 */
    transform: rotate(45deg); /* W3C compliant browsers */
}

.rotate74 {
    -webkit-transform: rotate(74deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(74deg); /* FF */
    -o-transform: rotate(74deg); /* Opera */
    -ms-transform: rotate(74deg); /* IE9 */
    transform: rotate(74deg); /* W3C compliant browsers */
}

.rotate90 {
    -webkit-transform: rotate(90deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(90deg); /* FF */
    -o-transform: rotate(90deg); /* Opera */
    -ms-transform: rotate(90deg); /* IE9 */
    transform: rotate(90deg); /* W3C compliant browsers */
}

.rotate180 {
    -webkit-transform: rotate(180deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg); /* FF */
    -o-transform: rotate(180deg); /* Opera */
    -ms-transform: rotate(180deg); /* IE9 */
    transform: rotate(180deg); /* W3C compliant browsers */
}

.rotate270 {
    -webkit-transform: rotate(270deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(270deg); /* FF */
    -o-transform: rotate(270deg); /* Opera */
    -ms-transform: rotate(270deg); /* IE9 */
    transform: rotate(270deg); /* W3C compliant browsers */
}

.rotate315 {
    -webkit-transform: rotate(315deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(315deg); /* FF */
    -o-transform: rotate(315deg); /* Opera */
    -ms-transform: rotate(315deg); /* IE9 */
    transform: rotate(315deg); /* W3C compliant browsers */
}

/* HEADER */
.table{
    width: 100%;
    margin-bottom: 0;
}

.space-left{
    padding-left: 33px;
}
#source_link_preview{
    max-width: 377px;
}
.icon-white-block{
    background-color: #FFFFFF;
    padding: 8px 0 7px;
}
.reading-paths{
    width:75px;
    display: inline-block;
}
.space-content{
    padding-left:33px;
    padding-right:33px;
    display: block;
    line-height: 134%;
}
.space-content .btn{
    margin:-10px 0 0 0;
}
.space-content .btn.edit-locked{
    margin:-3px 0 0 0;
}
.title-block{
    display: block;
    padding-left: 33px;
    padding-right:0;
    margin-top: -17px !important;
    margin-bottom:0;
}
.title-block-lg{
    display: block;
    padding-left: 33px;
    padding-right:0;
    margin-top: -24px !important;
    margin-bottom:0;
}
.title-no-right {
    padding-right:5px !important;
}

.read__message {
    display:inline-block;
    overflow: hidden;
    max-width: 100%;
}


td.MENCHcolumn1  { width: 74%; }
td.MENCHcolumn2  { width: 13%; }
td.MENCHcolumn3  { width: 13%; }


.tablepadded td{
    padding:10px 0 !important;
}
.top-margin{
    margin-top: 10px;
}
.both-margin{
    margin-top: 30px;
    margin-bottom: 10px;
}
.left-margin{
    margin-left: 33px;
}
.left-half-margin{
    margin-left:10px;
}
.mench_coin{
    text-decoration: none;
}



.primary_nav{
    width: 100% !important;
    max-width: none !important;
}

.mench-navigation {
    width: 100%;
    background-color: #f0f0f0;
}

.mench-navigation .btn-group:hover{
    background-color: #FFFFFF;
}

.mench-navigation #searchFrontForm, .algolia-autocomplete, .algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint{
    width: 100%;
    padding-left: 0.5px !important;
}
.mench-navigation td {
    padding:0;
    vertical-align: top;
}
.mench-navigation .block-link, .mench-navigation .block-menu {
    width:40px;
    margin: 0;
    padding: 0;
    line-height: 100% !important;
    text-align: center;
}
.block-menu:hover{
    background-color: #FFFFFF;
}
.mench-navigation .block-link a {
    display: block;
    text-align: center;
    margin-left:5px;
    color:#000000;
    padding:10px 10px 9px;
}

.mench-navigation .block-link .fas, .block-link .fal, .block-link .far, .block-link .fad{
    font-size: 1.2em;
}
.mench-navigation .block-link a:hover, .block-link a:hover .fas, .block-link a:hover .fal, .block-link a:hover .far, .block-link a:hover .fad {
    background-color:#FFFFFF;
    color:#000000 !important;
}
.coin-type{
    display: block;
    padding-left: 8px;
    padding-top: 2px;
}
.text-logo{
    font-size: 1.4em;
    display: block;
    float: left;
    padding-top: 13px;
    padding-left: 2px;
}
.read-list {
    padding:21px 0;
}
.simple-line{
    padding: 5px 0;
}

.read-msg{
    margin-top: -19px !important;
    margin-bottom: 0;
}
.read-msg .i_content, .read-msg .msg{
    margin-top:0 !important;
    margin-bottom:0 !important;
    padding-top:0 !important;
    padding-bottom:0 !important;
}
.no-height{
    height: 0;
    padding: 0;
}
.read-msg .padded{
    margin-left:0 !important;
    margin-right:0 !important;
}
.mench-logo{
    font-size: 1.44em;
    line-height: 100%;
    width: 34px !important;
    height: 34px !important;
    margin-left: 10px !important;
    margin-right: 4px !important;
    margin-bottom: 0 !important;
    margin-top: 3px !important;
    display: block;
    float: left;
}

.link_marks{
    display: inline-block;
}

.mass_modify .form-control{
    margin:0 0 10px 0;
    width: auto;
}

.link_marks .form-control{
    width: 33px;
    display: inline-block;
    padding: 2px;
    text-align: center;
}


.edit-locked, .edit-locked *{
    cursor:default !important;
    background-color: transparent !important;
    padding-left: 0;
}

.dynamic_saving{
    background-color: #999999 !important;
}

.itemsource{
    padding-left: 0;
    padding-right: 0;
}
.no-left-padding{
    padding-left: 0 !important;
}
.no-right-padding{
    padding-right: 0 !important;
}


.no-padding{
    padding: 0 !important;
}



.show-on-hover span {
    display: block;
}
.show-on-hover i {
    font-size: 0.8em;
}

.show-on-hover .fa-bars {
    margin-bottom:0;
}

.dropdown-lock{
    padding: 0;
}

.overflowhide {
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
}

.url_truncate {
    max-width: calc(100% - 33px);
    overflow: hidden;
    display: inline-block;
}



.form-group {
    background-color: #FFFFFF;
}

.list-group-item .form-group {
    background-color: inherit;
}

.show-on-hover {
    display:none !important;
}
.list-group-item:hover .show-on-hover {
    display:inline-block !important;
}

.score-range{
    width: 89px;
    display: inline-block;
    text-align: center;
}

label {
    margin-bottom: 0;
}

.dolight{
    color: #DDDDDD;
}
.dotransparent, .dotransparent * {
    background-color: transparent;
}
.doclear{
    clear: both;
    line-height: 100%;
    margin: 0;
    height: 0px;
}

.itemsetting{
    color: #000000;
    text-decoration: none;
    padding: 10px 0 !important;
}
.itemsetting.active{
    margin-top:0 !important;
    border-top-width:0 !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    text-decoration: none;
    background-color: #DDDDDD;
}
.dropdown-item, .dropdown-item {
    text-decoration: none;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
    background-color: #000000 !important;
    cursor: default !important;
}



.list-group-item .montserrat, .list-group-item{
    text-decoration: none;
}

.panel-collapse {
    padding-bottom:10px;
    padding-left:7px;
}

.no-cursor{
    cursor: default !important;

}

/* STYLES */
.btn{
    text-decoration: none;
    line-height: 100%;
    border: 0;
    padding: 10px;
    border-radius:10px !important;
}

.btn.dropdown-toggle{
    padding-left: 0 !important;
}

.btn-superpower .fas, .btn-superpower .far, .btn-superpower .fal, .btn-superpower .fad, .btn-superpower:not(.active) .source, .btn-superpower:not(.active) .idea, .btn-superpower:not(.active) .read {
    color: #999999 !important;
}


.btn-superpower.btn-locked {
    cursor: not-allowed !important;
}

.btn-superpower.active .fas.source, .btn-superpower.active .far.source, .btn-superpower.active .fal.source, .btn-superpower.active .fad.source {
    color:#007AFD !important;
}
.btn-superpower.active .fas.idea, .btn-superpower.active .far.idea, .btn-superpower.active .fal.idea, .btn-superpower.active .fad.idea {
    color:#ffc500 !important;
}
.btn-superpower.active .fas.read, .btn-superpower.active .far.read, .btn-superpower.active .fal.read, .btn-superpower.active .fad.read {
    color:#FC1B44 !important;
}




.btn.btn-source, .btn.btn-source:hover, .btn.btn-source:focus, .btn.btn-source:active, .btn.btn-source.active, .btn.btn-source:active:focus, .btn.btn-source:active:hover, .btn.btn-source.active:focus, .btn.btn-source.active:hover, .open > .btn.btn-source.dropdown-toggle, .open > .btn.btn-source.dropdown-toggle:focus, .open > .btn.btn-source.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-source, .navbar .navbar-nav > li > a.btn.btn-source:hover, .navbar .navbar-nav > li > a.btn.btn-source:focus, .navbar .navbar-nav > li > a.btn.btn-source:active, .navbar .navbar-nav > li > a.btn.btn-source.active, .navbar .navbar-nav > li > a.btn.btn-source:active:focus, .navbar .navbar-nav > li > a.btn.btn-source:active:hover, .navbar .navbar-nav > li > a.btn.btn-source.active:focus, .navbar .navbar-nav > li > a.btn.btn-source.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-source.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-source.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-source.dropdown-toggle:hover, .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #007AFD;
    color: #000000;
}

.btn-source .fas,.btn-source .far,.btn-source .fal,.btn-source .fad { color: #000000 !important; }

.btn.btn-main, .btn.btn-main:hover, .btn.btn-main:focus, .btn.btn-main:active, .btn.btn-main.active, .btn.btn-main:active:focus, .btn.btn-main:active:hover, .btn.btn-main.active:focus, .btn.btn-main.active:hover, .open > .btn.btn-main.dropdown-toggle, .open > .btn.btn-main.dropdown-toggle:focus, .open > .btn.btn-main.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-main, .navbar .navbar-nav > li > a.btn.btn-main:hover, .navbar .navbar-nav > li > a.btn.btn-main:focus, .navbar .navbar-nav > li > a.btn.btn-main:active, .navbar .navbar-nav > li > a.btn.btn-main.active, .navbar .navbar-nav > li > a.btn.btn-main:active:focus, .navbar .navbar-nav > li > a.btn.btn-main:active:hover, .navbar .navbar-nav > li > a.btn.btn-main.active:focus, .navbar .navbar-nav > li > a.btn.btn-main.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-main.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-main.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-main.dropdown-toggle:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.btn.btn-read, .btn.btn-read:hover, .btn.btn-read:focus, .btn.btn-read:active, .btn.btn-read.active, .btn.btn-read:active:focus, .btn.btn-read:active:hover, .btn.btn-read.active:focus, .btn.btn-read.active:hover, .open > .btn.btn-read.dropdown-toggle, .open > .btn.btn-read.dropdown-toggle:focus, .open > .btn.btn-read.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-read, .navbar .navbar-nav > li > a.btn.btn-read:hover, .navbar .navbar-nav > li > a.btn.btn-read:focus, .navbar .navbar-nav > li > a.btn.btn-read:active, .navbar .navbar-nav > li > a.btn.btn-read.active, .navbar .navbar-nav > li > a.btn.btn-read:active:focus, .navbar .navbar-nav > li > a.btn.btn-read:active:hover, .navbar .navbar-nav > li > a.btn.btn-read.active:focus, .navbar .navbar-nav > li > a.btn.btn-read.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-read.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-read.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-read.dropdown-toggle:hover {
    background-color: #FC1B44;
    color: #000000;
}


.btn-read .fas,.btn-read .far,.btn-read .fal ,.btn-read .fad { color: #000000 !important; }

.btn.btn-idea, .btn.btn-idea:hover, .btn.btn-idea:focus, .btn.btn-idea:active, .btn.btn-idea.active, .btn.btn-idea:active:focus, .btn.btn-idea:active:hover, .btn.btn-idea.active:focus, .btn.btn-idea.active:hover, .open > .btn.btn-idea.dropdown-toggle, .open > .btn.btn-idea.dropdown-toggle:focus, .open > .btn.btn-idea.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-idea, .navbar .navbar-nav > li > a.btn.btn-idea:hover, .navbar .navbar-nav > li > a.btn.btn-idea:focus, .navbar .navbar-nav > li > a.btn.btn-idea:active, .navbar .navbar-nav > li > a.btn.btn-idea.active, .navbar .navbar-nav > li > a.btn.btn-idea:active:focus, .navbar .navbar-nav > li > a.btn.btn-idea:active:hover, .navbar .navbar-nav > li > a.btn.btn-idea.active:focus, .navbar .navbar-nav > li > a.btn.btn-idea.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-idea.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-idea.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-idea.dropdown-toggle:hover {
    background-color: #ffc500;
    color: #000000;
}

.btn-idea .fas,.btn-idea .far,.btn-idea .fal,.btn-idea .fad { color: #000000 !important; }



.read-micro-data {
    text-transform: uppercase;
}

.read-history-msg{
    padding: 5px;
    margin-bottom: 10px;
}
.read-history-msg .msg{
    margin-bottom:0;
}

.white-icon .fas, .white-icon .fal, .white-icon .far, .white-icon .fad{
    color:#FFFFFF !important;
}

.is-msg .on-hover {
    /* Do not hide this for now: */
    display: inline-block !important;
}

.is-msg > div:hover .on-hover, .in-editing .on-hover {
    display: inline-block !important;
}


.is-working {
    background-color: #999999 !important;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.left-table, .left-table tr, .left-table td, .left-table th {
    text-align: left !important;
    cursor: default !important;
}

#url_preview {
    margin: 5px 0;
}

.inputfile + label {
    display: inline-block;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
    outline: 1px dotted #000000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    pointer-events: none;
}
.idea-url{
    margin:0;
}
.idea-info, .idea-footer {
    margin:10px 0 0;
}

.idea-info, .idea-info i {
    color:#999999 !important;
}

.idea-desc{
    padding: 10px 0 5px;
}

.idea-desc .icon-block{
    display: none;
}
.btn-block {
    display: block !important;
    width: 100%;
    text-align: left;
    padding: 10px 10px 10px 0;
}

.idea_saved, .idea_saved:hover, .idea_saved:focus{
    background-color:#fff3a9 !important;
}

.source_saved, .source_saved:hover, .source_saved:focus{
    background-color:#c1dffb !important;
}




/* FUNCTIONAL */
.inline-block{ display: inline-block !important; }
.inline{ display: inline !important; }
.block{ display: block !important; width: 100%; }
.hidden { display: none !important; }
.underline{ text-decoration: underline !important; }
.icon-block { width:33px !important; display: inline-block; text-align: center; vertical-align: top; }
.icon-block-xs{ width:20px; display: inline-block; text-align: center; vertical-align: top; }
.icon-block-sm{ width:28px; display: inline-block; text-align: center; vertical-align: top; }
.icon-block-lg{ width:50px; display: inline-block; text-align: center; vertical-align: top; }
.icon-block-img img,
.icon-block-lg img,
.icon-block-sm img,
.icon-block-xs img,
.icon-block img,
.img-block img {
    width: 16px !important;
    height: 16px !important;
    margin: -5px 0 -3px !important;
    border-radius: 50%;
}
.icon-block-lg img {
    width: 38px !important;
    height: 38px !important;
}


.top-icon{
    vertical-align: top;
    margin-top: 4px;
}

.idea-left {
    display: block;
    float: left;
    /* Accomodate Right Follow Links */
    width: -webkit-calc(100% - 15px);
    width:    -moz-calc(100% - 15px);
    width:         calc(100% - 15px);
}
.input-group .algolia-autocomplete, .read__message, .read_input {
    width: -webkit-calc(100% - 68px);
    width:    -moz-calc(100% - 68px);
    width:         calc(100% - 68px);
}
.texttype__lg, #newIdeaTitle, .add_notes_form, .idea-info, .note-textarea.edit-on {
    width: -webkit-calc(100% - 33px) !important;
    width:    -moz-calc(100% - 33px) !important;
    width:         calc(100% - 33px) !important;
}
.block-one {
    width: -webkit-calc(100% - 10px) !important;
    width:    -moz-calc(100% - 10px) !important;
    width:         calc(100% - 10px) !important;
}


.texttype__sm{
    display: inline-block;
    color: #000;
    padding: 0;
}
.texttype_4356_sm {
    padding:0;
    width: 55px;
    text-align: left;
    margin-left: -6px;
    color: #000 !important;
}
.texttype__lg {
    background-color: transparent;
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:#000000;
    padding:7px 0 0 0;
    margin-bottom: 5px;
}
.title-icon{
    vertical-align: top;
    margin-top: 10px;
}

.texttype__lg::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.form-control::placeholder{
    color: #999999;
}
.texttype__sm{
    width:55px;
    margin-bottom: 5px;
}
.text_source_4736, .text_source_6197{
    width:calc(100% - 33px);
    margin-bottom: 0;
}

.pull-middle{
    display: block;
    width: 90px;
    margin: 0 auto;
    font-size: 1.7em;
    text-align: center;
    height: 30px;
    padding-top: 7px;
    margin-bottom: -77px;
    margin-top: 47px;
    font-family: 'Montserrat', sans-serif;
}
.small-click{
    display: block;
    font-size: 0.5em;
    margin-top: 10px;
    text-decoration: underline;
}
.pull-middle a, .pull-middle span{
    color: #999999;
}

.read-topic{
    padding:0 0 8px;
}
.source-ui .read-topic{
    padding:8px 0 8px;
}

.read-topic, .read-topic a, .read-topic i {
    color: #999999 !important;
    text-transform: uppercase;
}

.read-info-topic{
    margin: -10px 0 30px;
}
.list-group .read-topic{
    margin:5px 0;
    color: #000000;
}
.share-this .icon-block{
    font-size: 1.3em;
    cursor: pointer;
}
.btn-circle{
    margin:0 10px;
    border-radius: 50% !important;
    font-size: 2.5em !important;
    width: 70px;
    height: 70px;
    padding: 15px 12px 0px 13px !important;
}
.mirror-v{
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}
.mirror-h{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.show-min{display:none;}
.btn-five{ margin-left:5px; }
.list-group-item.active {color:#000000;}

.list-radio-select .list-group-item {
    color:#999999 !important;
}

.list-radio-select .list-group-item.active {
    color:#000000 !important;
}

/* RESPONSIVE */
@media (max-width:767px) {
    .mini-hidden{
        display: none;
    }

    .cover-block{
        margin-right:21px;
    }

    .icon-block-lg img {
        width: 33px !important;
        margin: -13px 0 -8px -2px !important;
        height: 33px !important;
    }
    .container {
        max-width: none;
    }
    .content-image{ max-height:144px; }
    .show-on-hover { display:inline-block !important; }
    .form-control-thick { padding-left: 26px; }
    .avatar-item { width:110px !important; padding:10px 0 !important; }
    .avatar-item .avatar-icon { font-size: 2.4em; }

    td.MENCHcolumn1  { width: 60%; }
    td.MENCHcolumn2  { width: 20%; }
    td.MENCHcolumn3  { width: 20%; }

    .media-content, .read__message img, .read__message video, .i_content img { max-width: 100%; }
    .content-image {
        max-width: calc(100% - 66px);
        max-height:377px;
    }

    .show-max{display: none !important;}
    .show-min{display: block !important;}
}

.itemidea.list-group-item {
    padding:10px 0;
}

.sequal-topic{
    padding: 20px 0 5px;
}


.idea-previous{
    padding-right: 5px;
    min-width: 50px;
    display: inline-block;
    text-align: right;
}
.idea-next{
    min-width:50px;
    display: inline-block;
}

@media (min-width:767px) {
    .itemidea:hover {
        background-color:#fff4b5 !important;
    }
    .itemsource:hover {
        background-color:#b2defd !important;
    }
    .itemread:hover {
        background-color:#fbc4ce !important;
    }
}
.single-color .list-group-item{
    background-color: #FFFFFF !important;
}
.single-color .list-group-item:first-child{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.single-color .list-group-item:last-child{
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.hideIfEmpty:empty {
    display: none !important;
}
.list-adder{
    padding: 5px 0 3px !important;
}
.icon-adder{
    margin-top: 5px;
}
.divider{
    height: 1px;
    background-color: #000000 !important;
}