@CHARSET "ISO-8859-1";

.navbar-brand img{
	display: inline-block;
    width: 40px;
    margin-top: -10px;
    margin-right: 3px;
}
.navbar-brand span{
	display: inline-block;
    font-family: 'Titillium Web',sans-serif;
    font-size: 36px;
    color: #2f2639;
}

body { font-size:18px; }
.main-plain{ margin-top:100px; }
.main-plain .container{ padding:45px 45px 45px 15px; }
.page-header .container { padding-top: 226px; }
.landing-page .page-header { min-height: 100vh; }

@media (max-width: 768px){
	body { font-size:15px; }
	.main-plain{ margin-top:70px; }
	.main-plain .container{ padding:15px 30px 15px 15px; }
	.page-header .container { padding-top: 100px; }
	.landing-page .page-header { min-height: 90vh; }
}